Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(security): bind formatted recovery digest
  scripts/security_release_contract.py
Due: none

docs(changelog): record Samba image digest update
  changelogs/fragments/samba-image-digest-0f04266.yml
Due: yamllint-ee, ansible-lint-ee

fix(security): bind recovery to synchronized bases
  scripts/security_release_contract.py
Due: none

fix(security): refresh synchronized recovery digest
  scripts/security_release_contract.py
Due: none

fix(mlx90): add Base-bound trust-root verifier
  .pre-commit-config.yaml
  changelogs/fragments/mlx90-trust-root-base-verifier.yml
  docs/push-ready-optimization.md
  scripts/lit-push-ready.py
  scripts/lit-trust-root-base-verifier.py
  tests/unit/test_push_ready_engine.py
  tests/unit/test_trust_root_base_verifier.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): satisfy Ansible shebang sanity
  scripts/lit-trust-root-base-verifier.py
Due: none

fix(security): isolate trust-root Git reads
  changelogs/fragments/mlx90-trust-root-base-verifier.yml
  docs/push-ready-optimization.md
  scripts/lit-trust-root-base-verifier.py
  tests/unit/test_trust_root_base_verifier.py
Due: yamllint-ee, ansible-lint-ee

test: preserve recovery fragment fixture after release
  tests/fixtures/security-release/keycloak-26.7.1-security.yml
  tests/unit/test_release_version.py
  tests/unit/test_security_release_contract.py
Due: yamllint-ee, ansible-lint-ee

fix: skip incomplete Incus dependency inventories
  changelogs/fragments/incus-evidence-base-fingerprint.yml
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

fix(security): bind recovery after evidence correction
  changelogs/fragments/security-recovery-post-evidence-fix.yml
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee

fix(mlx90): enforce pipeline-only current-revision review
  .github/codex/prompts/review-exact-head.md
  .github/codex/schemas/exact-head-review.schema.json
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/copilot-review.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-bot-exact-head-review.yml
  .github/workflows/release-prepare.yml
  .github/workflows/sync-main-to-develop.yml
  .lit/push-ready.json
  changelogs/fragments/mlx90-exact-revision-codex-review.yml
  docs/mlx90-exact-revision-codex-review.md
  docs/push-ready-optimization.md
  scripts/materialize-exact-revision-review.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(push-ready): bind compact full-index diff
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

feat(mlx90): pilot protected exact-revision Codex review
  .github/codex/prompts/review-exact-head.md
  .github/codex/schemas/exact-head-review.schema.json
  .github/workflows/copilot-review.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-bot-exact-head-review.yml
  .github/workflows/release-prepare.yml
  .github/workflows/sync-main-to-develop.yml
  .pre-commit-config.yaml
  changelogs/fragments/mlx90-exact-revision-codex-review.yml
  docs/mlx90-exact-revision-codex-review.md
  scripts/materialize-exact-revision-review.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

refactor(push-ready): prohibit local AI egress
  .github/copilot-instructions.md
  .lit/push-ready.json
  AGENTS.md
  CONTRIBUTING.md
  docs/mlx90-exact-revision-codex-review.md
  docs/push-ready-optimization.md
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(ci): satisfy collection shebang sanity
  scripts/materialize-exact-revision-review.py
Due: none

fix(mlx90): bind review gate to protected workflow
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/mlx90-exact-revision-codex-review.yml
  docs/mlx90-exact-revision-codex-review.md
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(tests): apply canonical ruff format
  tests/unit/test_exact_revision_review.py
Due: none

test(security): reject recovery controller tampering
  scripts/security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: none

fix(security): seal recovery controller digest
  scripts/security_release_contract.py
Due: none

fix(rep60): protect human reviews on main
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): fail closed without nofollow
  scripts/materialize-exact-revision-review.py
  tests/unit/test_exact_revision_review.py
Due: none

fix(rep60): enforce explicit finalization boundary
  .github/workflows/copilot-review.yml
  scripts/materialize-exact-revision-review.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs(rep60): mark pilot controller repo-owned
  .github/workflows/release-bot-exact-head-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): enforce one bound review result
  .github/workflows/copilot-review.yml
  .github/workflows/release-bot-exact-head-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): simplify protected dispatch identity
  .github/workflows/release-bot-exact-head-review.yml
  scripts/materialize-exact-revision-review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): bind review reservation app identity
  .github/workflows/release-bot-exact-head-review.yml
  scripts/materialize-exact-revision-review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): grant exact review run read access
  .github/workflows/release-bot-exact-head-review.yml
  docs/mlx90-exact-revision-codex-review.md
  scripts/materialize-exact-revision-review.py
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(rep60): add protected bootstrap review alias
  .github/workflows/rep60-bootstrap-protected-review-alias.yml
  changelogs/fragments/rep60-bootstrap-protected-alias.yml
  tests/unit/test_rep60_bootstrap_review_alias.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bind bootstrap alias to default branch
  .github/workflows/rep60-bootstrap-protected-review-alias.yml
  tests/unit/test_rep60_bootstrap_review_alias.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format bootstrap alias test
  tests/unit/test_rep60_bootstrap_review_alias.py
Due: none

fix(rep60): verify reusable bootstrap alias provenance
  .github/workflows/rep60-bootstrap-protected-review-alias.yml
  tests/unit/test_rep60_bootstrap_review_alias.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): allow protected run provenance reads
  .github/workflows/rep60-bootstrap-protected-review-alias.yml
  tests/unit/test_rep60_bootstrap_review_alias.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bind bootstrap alias to protected run
  .github/workflows/rep60-bootstrap-protected-review-alias.yml
  changelogs/fragments/rep60-bootstrap-alias-check-provenance.yml
  tests/unit/test_rep60_bootstrap_review_alias.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): use native protected bootstrap gate
  .github/workflows/rep60-bootstrap-protected-review-alias.yml
  changelogs/fragments/rep60-bootstrap-alias-check-provenance.yml
  tests/unit/test_rep60_bootstrap_review_alias.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bind neutral checks to producer runs
  .github/workflows/copilot-review.yml
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/mlx90-exact-revision-codex-review.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): back-sync v3.2.4 to develop
  .lit/security-release-intakes/3.2.4.json
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix(rep60): bind protected verifier reruns
  .github/workflows/current-revision-rerun.yml
  docs/mlx90-exact-revision-codex-review.md
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
