Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(aap): run read-only preflight commands in check mode
  changelogs/fragments/aap-preflight-check-mode.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_preflight/tasks/main.yml
  roles/aap_prepare/tasks/precheck_gateway_dns.yml
  roles/aap_tls/README.md
  roles/aap_tls/defaults/main.yml
  roles/aap_tls/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: run patched stable Chrome in acceptance
  changelogs/fragments/fix-quality-runner-toolchain.yml
  docs/testing/application-acceptance.md
  docs/testing/evidence.md
  docs/testing/keycloak.md
  molecule/keycloak-application-acceptance/verify.yml
  molecule/shared/keycloak/acceptance/browser_inventory.py
  molecule/shared/keycloak/acceptance/test_acceptance.py
  scripts/enrich-cyclonedx-sbom.py
  scripts/quality_evidence.py
  tests/unit/test_enrich_cyclonedx_sbom.py
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
Due: yamllint-ee, ansible-lint-ee

fix: reject all candidate bundle members
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): stabilize delegated infrastructure profiles
  .github/workflows/collection-ci.yml
  roles/keycloak_cac/tasks/cac_15_users.yml
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: prune excluded evidence before discovery
  molecule/shared/keycloak/acceptance/browser_inventory.py
  scripts/quality_evidence.py
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
Due: none

chore: document main ancestry back-sync
  changelogs/fragments/restore-main-ancestry.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): accept empty runtime inventory evidence
  molecule/shared/incus/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  molecule/shared/incus/helpers/sanitize_evidence.py
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_sanitize_evidence.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): expose generated gateway token fact
  roles/aap_cac/tasks/create_authentication_token.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): expose configuration dispatch facts
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): propagate controller TLS validation
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): pass controller connection to dispatch roles
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_16_controller_teams.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): align delegated offline runtime toolchain
  .github/actions/run-quality-profile/action.yml
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(aap): use infra controller connection variables
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_16_controller_teams.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): pin delegated runtime bundle workflow
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(aap): retain legacy controller connection variables
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): tolerate unavailable optional image inventory
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): collect immutable Podman image inventory
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  molecule/shared/incus/helpers/sanitize_evidence.py
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_sanitize_evidence.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): avoid templating Podman JSON format
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): inspect runtime Podman images as JSON
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): preserve complete Podman inspect document
  molecule/shared/incus/helpers/sanitize_evidence.py
  tests/unit/test_sanitize_evidence.py
Due: none

fix(ci): pass Podman JSON template without Jinja
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): update secure Ansible validation toolchain
  .github/actions/run-quality-profile/action.yml
  .github/workflows/candidate-platform-validation.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  renovate.json
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

fix(ci): pin secure delegated validation runtime
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(aap): preserve gateway hub seeding
  changelogs/fragments/aap-preflight-platform-dns.yml
  roles/aap_deploy/tasks/16_hub_registry_trust.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
  roles/aap_preflight/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): avoid CaC connection fact overrides
  roles/aap_cac/tasks/main.yml
  roles/aap_tls/README.md
Due: yamllint-ee, ansible-lint-ee

docs(aap): standardize TLS role README
  roles/aap_tls/README.md
Due: none

fix(aap): harden self-hosted deploy and Hub seeding (#408)
  changelogs/fragments/aap-preflight-check-mode.yml
  changelogs/fragments/aap-preflight-platform-dns.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_16_controller_teams.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/tasks/16_hub_registry_trust.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
  roles/aap_preflight/tasks/main.yml
  roles/aap_prepare/tasks/precheck_gateway_dns.yml
  roles/aap_tls/README.md
  roles/aap_tls/defaults/main.yml
  roles/aap_tls/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: migrate supplementary release automation to GitHub App
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: scope release App tokens to repository
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style: format release App security test
  tests/unit/test_workflow_security.py
Due: none

fix: minimize supplementary App token permissions
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(aap): keep deploy preflight check safe
  changelogs/fragments/aap-preflight-phase-contract.yml
  roles/aap_deploy/tasks/10_host_prep.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): prepare vendor installer prerequisites
  changelogs/fragments/aap-host-prepare-installer-prerequisites.yml
  roles/aap_host_prepare/README.md
  roles/aap_host_prepare/defaults/main.yml
  roles/aap_host_prepare/tasks/assert.yml
  roles/aap_host_prepare/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): use token for gateway organizations
  changelogs/fragments/aap-cac-gateway-organization-token.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): keep hub ca trust check safe
  changelogs/fragments/aap-preflight-phase-contract.yml
  roles/aap_deploy/tasks/16_hub_registry_trust.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): keep nested preflight check safe
  changelogs/fragments/aap-preflight-phase-contract.yml
  roles/aap_host_prepare/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): separate initial and full preflight gates
  changelogs/fragments/aap-preflight-phase-contract.yml
  roles/aap_preflight/README.md
  roles/aap_preflight/defaults/main.yml
  roles/aap_preflight/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): validate planned host paths in check mode
  changelogs/fragments/aap-preflight-phase-contract.yml
  roles/aap_host_prepare/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): defer prepared artifact assertions in check mode
  changelogs/fragments/aap-preflight-phase-contract.yml
  roles/aap_prepare/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
