Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/collection-publish.yml
  .gitignore
  scripts/devtools-ansible-lint.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(changelog): document shared tooling sync
  changelogs/fragments/shared-assets-release-tooling.yml
Due: yamllint-ee, ansible-lint-ee

Implement strict controller escrow for Vault initialization
  changelogs/fragments/vault-controller-init-escrow.yml
  galaxy.yml
  molecule/vault-bootstrap-basic/converge.yml
  molecule/vault-bootstrap-basic/molecule.yml
  molecule/vault-bootstrap-basic/verify.yml
  roles/vault_bootstrap/README.md
  roles/vault_bootstrap/defaults/main.yml
  roles/vault_bootstrap/tasks/assert.yml
  roles/vault_bootstrap/tasks/bootstrap.yml
  roles/vault_bootstrap/tasks/controller_escrow_load.yml
  roles/vault_bootstrap/tasks/controller_escrow_preflight.yml
  roles/vault_bootstrap/tasks/controller_escrow_sync.yml
  roles/vault_bootstrap/tasks/controller_escrow_validate_payload.yml
  roles/vault_bootstrap/tasks/init_controller_escrow.yml
Due: yamllint-ee, ansible-lint-ee

Add bugfixes and update README files for Vault roles and lifecycle
  changelogs/fragments/vault-lifecycle-handoff.yml
  roles/vault_backup_restore/README.md
  roles/vault_bootstrap/README.md
  roles/vault_config/README.md
  roles/vault_deploy/README.md
  roles/vault_foundational/README.md
  roles/vault_ops/README.md
  roles/vault_validate/README.md
Due: yamllint-ee, ansible-lint-ee

Refactor Vault deployment and operational tasks
  molecule/vault-bootstrap-basic/converge.yml
  molecule/vault-bootstrap-basic/verify.yml
  molecule/vault-config-basic/converge.yml
  molecule/vault-config-basic/verify.yml
  molecule/vault-ops-basic/converge.yml
  molecule/vault-ops-basic/verify.yml
  roles/vault_backup_restore/defaults/main.yml
  roles/vault_backup_restore/tasks/assert.yml
  roles/vault_backup_restore/tasks/main.yml
  roles/vault_backup_restore/tasks/resolve_systemd_unit.yml
  roles/vault_bootstrap/defaults/main.yml
  roles/vault_bootstrap/tasks/assert.yml
  roles/vault_bootstrap/tasks/init.yml
  roles/vault_bootstrap/tasks/normalize_init_payload.yml
  roles/vault_bootstrap/tasks/unseal.yml
  roles/vault_config/defaults/main.yml
  roles/vault_config/tasks/config.yml
  roles/vault_config/tasks/normalize_token.yml
  roles/vault_deploy/defaults/main.yml
  roles/vault_deploy/handlers/main.yml
  roles/vault_deploy/tasks/resolve_systemd_unit.yml
  roles/vault_deploy/tasks/systemd.yml
  roles/vault_foundational/defaults/main.yml
  roles/vault_foundational/tasks/inspect_init_file.yml
  roles/vault_foundational/tasks/normalize_init_file.yml
  roles/vault_ops/defaults/main.yml
  roles/vault_ops/tasks/assert.yml
  roles/vault_ops/tasks/main.yml
  roles/vault_ops/tasks/normalize_init_payload.yml
  roles/vault_ops/tasks/resolve_systemd_unit.yml
  roles/vault_ops/tasks/unseal.yml
  roles/vault_validate/defaults/main.yml
  roles/vault_validate/tasks/assert.yml
  roles/vault_validate/tasks/assert_lifecycle.yml
  roles/vault_validate/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

Harden Vault bootstrap TLS and unseal handling
  changelogs/fragments/vault-strict-tls-bootstrap.yml
  molecule/vault-bootstrap-basic/verify.yml
  molecule/vault-deploy-basic/converge.yml
  molecule/vault-deploy-basic/verify.yml
  molecule/vault-ops-basic/converge.yml
  molecule/vault-ops-basic/verify.yml
  roles/vault_bootstrap/README.md
  roles/vault_bootstrap/defaults/main.yml
  roles/vault_bootstrap/tasks/assert.yml
  roles/vault_bootstrap/tasks/init.yml
  roles/vault_bootstrap/tasks/unseal.yml
  roles/vault_deploy/README.md
  roles/vault_deploy/defaults/main.yml
  roles/vault_deploy/tasks/assert.yml
  roles/vault_deploy/tasks/bootstrap_tls_vault.yml
  roles/vault_deploy/tasks/deploy.yml
  roles/vault_deploy/tasks/generate_bootstrap_tls.yml
  roles/vault_deploy/tasks/preflight.yml
  roles/vault_deploy/tasks/reconcile_bootstrap_trust.yml
  roles/vault_deploy/tasks/systemd.yml
  roles/vault_ops/README.md
  roles/vault_ops/defaults/main.yml
  roles/vault_ops/tasks/assert.yml
  roles/vault_ops/tasks/main.yml
  roles/vault_ops/tasks/select_unseal_shares.yml
  roles/vault_ops/tasks/unseal.yml
  roles/vault_validate/README.md
  roles/vault_validate/defaults/main.yml
  roles/vault_validate/tasks/assert.yml
  roles/vault_validate/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

Add Vault storage and address contract
  changelogs/fragments/vault-storage-address-contract.yml
  molecule/vault-deploy-basic/converge.yml
  molecule/vault-deploy-basic/verify.yml
  roles/vault_deploy/README.md
  roles/vault_deploy/defaults/main.yml
  roles/vault_deploy/tasks/assert.yml
  roles/vault_deploy/templates/vau-config.hcl.j2
  roles/vault_deploy/templates/vault-pod.yml.j2
Due: yamllint-ee, ansible-lint-ee

fix: require TLS 1.2 for fake Vault API
  molecule/resources/fake_vault_api.py
Due: none

chore(release): prepare v1.39.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-eda-readiness-yaml.yml
  changelogs/fragments/aap-local-execution-trust-and-refresh.yml
  changelogs/fragments/community-hashi-vault-7.yml
  changelogs/fragments/shared-assets-release-tooling.yml
  changelogs/fragments/vault-controller-init-escrow.yml
  changelogs/fragments/vault-immutable-image-and-client-address.yml
  changelogs/fragments/vault-lifecycle-handoff.yml
  changelogs/fragments/vault-raft-snapshot-escrow.yml
  changelogs/fragments/vault-scoped-approle-bootstrap.yml
  changelogs/fragments/vault-secret-redaction.yml
  changelogs/fragments/vault-storage-address-contract.yml
  changelogs/fragments/vault-strict-tls-bootstrap.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix: restore ansible.posix 2.1 compatibility
  changelogs/fragments/ansible-posix-21-compat.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): prepare v1.40.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/ansible-posix-21-compat.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

feat(keycloak): harden deployment and CaC reconciliation
  roles/keycloak_cac/defaults/main.yml
  roles/keycloak_cac/tasks/assert.yml
  roles/keycloak_cac/tasks/cac_11_realms.yml
  roles/keycloak_cac/tasks/cac_12_clients.yml
  roles/keycloak_cac/tasks/cac_13_groups.yml
  roles/keycloak_cac/tasks/cac_14_roles.yml
  roles/keycloak_cac/tasks/cac_15_users.yml
  roles/keycloak_cac/tasks/cac_16_user_role_mappings.yml
  roles/keycloak_cac/tasks/cac_20_ldap_providers.yml
  roles/keycloak_cac/tasks/ldap_provider.yml
  roles/keycloak_deploy/defaults/main.yml
  roles/keycloak_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/deploy.yml
  roles/keycloak_deploy/tasks/deploy_pod.yml
  roles/keycloak_deploy/tasks/systemd.yml
  roles/keycloak_deploy/templates/keycloak-pod.yml.j2
Due: yamllint-ee, ansible-lint-ee

ci(keycloak): add auditable release governance
  .github/actionlint.yaml
  .github/workflows/keycloak.yml
  README.md
  RELEASE.md
  TESTING.md
  changelogs/fragments/keycloak-auditable-tests.yml
  docs/testing/README.md
  docs/testing/application-acceptance.md
  docs/testing/evidence.md
  docs/testing/keycloak.md
  docs/testing/local-runner.md
  scripts/keycloak-evidence.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): provision lint runner and satisfy shell checks
  .github/workflows/keycloak.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): make actionlint configuration YAML compliant
  .github/actionlint.yaml
Due: yamllint-ee, ansible-lint-ee

fix: address hosted quality findings
  molecule/shared/incus/helpers/local_run_id.py
  molecule/shared/incus/helpers/sanitize_evidence.py
  scripts/quality_cell_identity.py
  scripts/quality_evidence.py
  scripts/source_dependencies.py
  scripts/wunder-devtools-ee.sh
  tests/unit/test_local_run_id.py
  tests/unit/test_quality_cell_identity.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_release_version.py
  tests/unit/test_sanitize_evidence.py
  tests/unit/test_source_dependencies.py
  tests/unit/test_workflow_security.py
Due: none

fix: harden hosted molecule execution
  .gitignore
  molecule/shared/vault/collect-test-application-evidence.yml
  molecule/vault-backup-restore-basic/verify.yml
  roles/vault_backup_restore/README.md
  roles/vault_backup_restore/defaults/main.yml
  roles/vault_backup_restore/tasks/assert.yml
  roles/vault_backup_restore/tasks/inspect_runtime.yml
  roles/vault_backup_restore/tasks/restore.yml
  roles/vault_backup_restore/tasks/start_runtime.yml
  roles/vault_backup_restore/tasks/stop_runtime.yml
  roles/vault_validate/README.md
  roles/vault_validate/defaults/main.yml
  roles/vault_validate/tasks/assert.yml
  roles/vault_validate/tasks/main.yml
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
  tests/unit/test_vault_backup_restore_contracts.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: align devtools home execution across engines
  CONTRIBUTING.md
  molecule/vault-backup-restore-basic/verify.yml
  scripts/wunder-devtools-ee.sh
  tests/unit/test_vault_backup_restore_contracts.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

ci: standardize Copilot review guidance
  AGENTS.md
Due: none

ci: standardize Copilot review guidance
  .github/copilot-instructions.md
Due: none

ci: standardize Copilot review guidance
  .github/workflows/request-copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: enforce current-revision Copilot review
  .github/workflows/request-copilot-review.yml
  AGENTS.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: enforce current-revision Copilot review
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  AGENTS.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: enforce current-revision Copilot review
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: standardize Copilot review guidance (#375)
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: allow review commit verification
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: allow review commit verification (#377)
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: reject failed Copilot review attempts
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: require successful Copilot check
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: sync Copilot review gate
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync final Copilot review gate
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint
