Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(aap): allow prepare-only deploy without passwords
  changelogs/fragments/aap-deploy-prepare-without-passwords.yml
  molecule/aap-deploy-basic/verify.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): keep tls generation check safe
  changelogs/fragments/aap-preflight-phase-contract.yml
  roles/aap_tls/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): manage gateway organizations via API
  changelogs/fragments/aap-cac-gateway-organization-token.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/configure_gateway_organization.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): keep tls staging check safe
  changelogs/fragments/aap-preflight-phase-contract.yml
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
Due: yamllint-ee, ansible-lint-ee

fix(artifacts): support fresh check-mode staging
  changelogs/fragments/aap-preflight-phase-contract.yml
  roles/artifacts/tasks/artifact.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap): trust generated self-signed CA
  changelogs/fragments/aap-selfsigned-system-trust.yml
  roles/aap_tls/defaults/main.yml
  roles/aap_tls/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): handle vendor setup in check mode
  changelogs/fragments/aap-host-prepare-installer-prerequisites.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): align gateway and TLS dependencies
  README.md
  collections/requirements-rh.yml
  meta/source-dependencies.yml
  roles/aap_cac/README.md
  roles/aap_tls/handlers/main.yml
  roles/aap_tls/tasks/main.yml
  scripts/validate-role-coverage.py
  tests/test_role_coverage.py
  tests/unit/test_source_dependencies.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): close remaining preflight gaps
  roles/aap_host_prepare/tasks/main.yml
  roles/aap_tls/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(artifacts): verify staged checksum in check mode
  roles/artifacts/tasks/artifact.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): keep gateway organization check mode read-only
  roles/aap_cac/tasks/configure_gateway_organization.yml
Due: yamllint-ee, ansible-lint-ee

test(aap): assert password validation task contract
  molecule/aap-deploy-basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): preserve gateway organization rename idempotence
  roles/aap_cac/tasks/configure_gateway_organization.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): complete restart-safe AAP rollout (#426)
  README.md
  changelogs/fragments/aap-cac-gateway-organization-token.yml
  changelogs/fragments/aap-deploy-prepare-without-passwords.yml
  changelogs/fragments/aap-host-prepare-installer-prerequisites.yml
  changelogs/fragments/aap-preflight-phase-contract.yml
  changelogs/fragments/aap-selfsigned-system-trust.yml
  collections/requirements-rh.yml
  meta/source-dependencies.yml
  molecule/aap-deploy-basic/verify.yml
  roles/aap_cac/README.md
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/configure_gateway_organization.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/tasks/16_hub_registry_trust.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/main.yml
  roles/aap_host_prepare/README.md
  roles/aap_host_prepare/defaults/main.yml
  roles/aap_host_prepare/tasks/assert.yml
  roles/aap_host_prepare/tasks/main.yml
  roles/aap_preflight/README.md
  roles/aap_preflight/defaults/main.yml
  roles/aap_preflight/tasks/assert.yml
  roles/aap_prepare/tasks/main.yml
  roles/aap_tls/defaults/main.yml
  roles/aap_tls/handlers/main.yml
  roles/aap_tls/tasks/main.yml
  roles/artifacts/tasks/artifact.yml
  scripts/validate-role-coverage.py
  tests/test_role_coverage.py
  tests/unit/test_source_dependencies.py
Due: yamllint-ee, ansible-lint-ee

style: apply repository Ruff formatting
  tests/unit/test_workflow_security.py
Due: none

fix: migrate promotion workflow to release App (#440)
  .github/workflows/promote-develop-to-main.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: align release App authentication with develop (#440)
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: align release App authentication with develop (#440)
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: align release App authentication with develop (#440)
  tests/unit/test_workflow_security.py
Due: none

test: validate release App authentication (#440)
  tests/unit/test_workflow_security.py
Due: none

chore: align App action version labels (#440)
  .github/workflows/promote-develop-to-main.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: align App action version labels (#440)
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: align App action version labels (#440)
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): document trusted Renovate policy fix
  changelogs/fragments/trusted-renovate-changelog-policy.yml
Due: yamllint-ee, ansible-lint-ee

style: format workflow security regression test
  tests/unit/test_workflow_security.py
Due: none

fix: serialize delegated quality profiles
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: align acceptance pytest version
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: align Playwright plugin with pytest 9
  molecule/shared/keycloak/acceptance/requirements.txt
Due: none

test: align scorecard action security pin
  tests/unit/test_workflow_security.py
Due: none

fix(aap): validate service fqdn during preflight
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  roles/aap_preflight/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): validate service fqdn during preflight (#474)
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  roles/aap_preflight/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(release): correct validation repository name
  changelogs/fragments/delegate-infrastructure-validation.yml
Due: yamllint-ee, ansible-lint-ee

fix(release): correct validation repository name (#476)
  changelogs/fragments/delegate-infrastructure-validation.yml
Due: yamllint-ee, ansible-lint-ee

fix(release): align automation app identity
  .github/workflows/collection-publish.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
  scripts/release-version.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): align automation app identity (#478)
  .github/workflows/collection-publish.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
  scripts/release-version.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): unblock protected release validation
  .github/workflows/collection-ci.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
  scripts/devtools-changelog-check.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): unblock protected release validation (#480)
  .github/workflows/collection-ci.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
  scripts/devtools-changelog-check.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): validate completed release state
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
  tests/unit/test_release_version.py
Due: yamllint-ee, ansible-lint-ee

fix(release): validate completed release state (#482)
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
  tests/unit/test_release_version.py
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
