Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

Notes added by 'git notes add'
  68eeb1a550293714e1f7a0f9b1494837c9c843ce
Due: none

fix(incus): allow short guest hostnames
  deploy/incus/README.md
  deploy/incus/create.sh
  deploy/incus/inventory.sh
  docs/development/aap/AGENTS.md
  docs/testing/aap.md
Due: none

fix(incus): allow short guest hostnames (#201)
  deploy/incus/README.md
  deploy/incus/create.sh
  deploy/incus/inventory.sh
  docs/development/aap/AGENTS.md
  docs/testing/aap.md
Due: none

chore(release): 1.25.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  4311acf2378ca297722158eb2adca984015ddf5a
Due: none

feat(artifacts): implement staging and verification of binary artifacts
  molecule/artifacts-basic/converge.yml
  molecule/artifacts-basic/molecule.yml
  molecule/artifacts-basic/verify.yml
  playbooks/artifacts.yml
  roles/artifacts/README.md
  roles/artifacts/defaults/main.yml
  roles/artifacts/meta/main.yml
  roles/artifacts/tasks/artifact.yml
  roles/artifacts/tasks/assert.yml
  roles/artifacts/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#187)
  .github/workflows/aap-incus-protected.yml
  .github/workflows/collection-publish-galaxy.yml
  .gitignore
  .pre-commit-config.yaml
  AGENT.md
  CONTRIBUTING.md
  scripts/demo-aap-rhel10-incus.sh
  scripts/devtools-actionlint.sh
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/devtools-renovate-config-validator.sh
  scripts/devtools-yamllint.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: artifacts handling (#204)
  molecule/artifacts-basic/converge.yml
  molecule/artifacts-basic/molecule.yml
  molecule/artifacts-basic/verify.yml
  playbooks/artifacts.yml
  roles/artifacts/README.md
  roles/artifacts/defaults/main.yml
  roles/artifacts/meta/main.yml
  roles/artifacts/tasks/artifact.yml
  roles/artifacts/tasks/assert.yml
  roles/artifacts/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  121f28cbba5a59ab1533d0e1f6c09e142f01b8c6
Due: none

docs: update file paths in documentation for consistency
  README.md
  docs/development/aap-rhel10-incus.md
  docs/development/aap/AGENTS.md
  docs/testing/README.md
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .ansible-lint
  .yamllint
  CONTRIBUTING.md
  LICENSE
Due: none

chore: sync shared assets from lightning-it/shared-assets (#205)
  .ansible-lint
  .yamllint
  CONTRIBUTING.md
  LICENSE
Due: none

chore(release): 1.26.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  a741a8d9894cd5a31d969e296b2ed4b2f0ad8fe8
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

fix: keep cloud-init profile comments lint-clean
  deploy/incus/profiles/rhel10.yml
  deploy/incus/profiles/rhel9.yml
Due: yamllint-ee, ansible-lint-ee

fix: use supported molecule default driver
  molecule/aap-rhel10/molecule.yml
  molecule/aap-rhel9/molecule.yml
  molecule/artifacts-basic/molecule.yml
Due: yamllint-ee, ansible-lint-ee

fix: use collection-qualified role names in molecule
  molecule/aap-rhel10/converge.yml
  molecule/aap-rhel9/converge.yml
  molecule/artifacts-basic/converge.yml
  playbooks/aap_deploy.yml
Due: yamllint-ee, ansible-lint-ee

fix: skip protected incus molecule scenarios by default
  AGENTS.md
  scripts/devtools-molecule.sh
Due: none

chore: sync shared assets (#208)
  .pre-commit-config.yaml
  AGENTS.md
  deploy/incus/profiles/rhel10.yml
  deploy/incus/profiles/rhel9.yml
  molecule/aap-rhel10/converge.yml
  molecule/aap-rhel10/molecule.yml
  molecule/aap-rhel9/converge.yml
  molecule/aap-rhel9/molecule.yml
  molecule/artifacts-basic/converge.yml
  molecule/artifacts-basic/molecule.yml
  playbooks/aap_deploy.yml
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

fix: add yamllint disable comment for rhel10 and rhel9 profiles
  deploy/incus/profiles/rhel10.yml
  deploy/incus/profiles/rhel9.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.26.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  22c3bece9d0861b005a2507e0f9751ddd479cab5
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  AGENT.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#212)
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  AGENT.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: update token handling across multiple AAP CAC tasks
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_16_controller_teams.yml
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: update token handling across multiple AAP CAC tasks (#215)
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_16_controller_teams.yml
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.26.3 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  4c7d54e8594120f6a666b3f3fd16993ca4a5d476
Due: none

fix: update AAP token handling to use gateway API for authentication
  roles/aap_cac/README.md
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/delete_authentication_token.yml
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: enforce AAP 2.7 version in setup and validation tasks
  roles/aap_deploy/README.md
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

feat: new gateway api (#216)
  roles/aap_cac/README.md
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/delete_authentication_token.yml
  roles/aap_cac/tasks/main.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.27.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  7fdec826d8a8ebef95bf6ea330488eca1f4ec6eb
Due: none

feat: add temporary environment validation for AAP installer and enhance installation tasks
  docs/testing/aap.md
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/35_installer_environment.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
  scripts/test-aap-install-temp-incus
Due: yamllint-ee, ansible-lint-ee

feat: add temporary environment validation for AAP installer and enhance installation tasks (#217)
  docs/testing/aap.md
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/35_installer_environment.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
  scripts/test-aap-install-temp-incus
Due: yamllint-ee, ansible-lint-ee
