Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  1fa9e2d79d648b91ffe1f76713c94d93e62c3df4
Due: none

feat: Enhance Vault AppRole integration for Nexus role with dynamic credential resolution
  roles/nexus/README.md
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/initial_config.yml
  roles/nexus/tasks/main.yml
  roles/nexus/tasks/vault_pki.yml
Due: yamllint-ee, ansible-lint-ee

feat: Update Nexus role for improved Vault integration and SELinux handling
  galaxy.yml
  roles/nexus/README.md
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/deploy_pod.yml
  roles/nexus/tasks/initial_config.yml
  roles/nexus/tasks/main.yml
  roles/nexus/tasks/vault_pki.yml
  roles/nexus/templates/Caddyfile-ssl.j2
Due: yamllint-ee, ansible-lint-ee

feat: ansible role nexus reactored (#49)
  galaxy.yml
  roles/nexus/README.md
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/deploy_pod.yml
  roles/nexus/tasks/initial_config.yml
  roles/nexus/tasks/main.yml
  roles/nexus/tasks/vault_pki.yml
  roles/nexus/templates/Caddyfile-ssl.j2
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  98e1d05d189215561abb21217a3fb39fc5006bfe
Due: none

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  4dc647c96c91d25943b3f5f0f1e552edd0f4e2ee
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .ansible-lint
  .pre-commit-config.yaml
  scripts/bump_galaxy_version.py
  scripts/devtools-collection-prepare.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#51)
  .ansible-lint
  .pre-commit-config.yaml
  scripts/bump_galaxy_version.py
  scripts/devtools-collection-prepare.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

feat: Add roles for managing Kea Podman deployment, including configuration, deployment, operations, and validation
  roles/kea_config/README.md
  roles/kea_config/defaults/main.yml
  roles/kea_config/handlers/main.yml
  roles/kea_config/meta/main.yml
  roles/kea_config/tasks/main.yml
  roles/kea_config/templates/kea-dhcp4.conf.j2
  roles/kea_deploy/README.md
  roles/kea_deploy/defaults/main.yml
  roles/kea_deploy/handlers/main.yml
  roles/kea_deploy/meta/main.yml
  roles/kea_deploy/tasks/assert.yml
  roles/kea_deploy/tasks/deploy.yml
  roles/kea_deploy/tasks/deploy_pod.yml
  roles/kea_deploy/tasks/install_packages.yml
  roles/kea_deploy/tasks/main.yml
  roles/kea_deploy/tasks/systemd.yml
  roles/kea_deploy/templates/kea-dhcp4.conf.j2
  roles/kea_deploy/templates/kea-pod.yml.j2
  roles/kea_deploy/vars/RedHat.yml
  roles/kea_ops/README.md
  roles/kea_ops/defaults/main.yml
  roles/kea_ops/meta/main.yml
  roles/kea_ops/tasks/main.yml
  roles/kea_validate/README.md
  roles/kea_validate/defaults/main.yml
  roles/kea_validate/meta/main.yml
  roles/kea_validate/tasks/main.yml
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

feat: Add roles for managing Kea Podman deployment, including configuration, deployment, operations, and validation (#54)
  roles/kea_config/README.md
  roles/kea_config/defaults/main.yml
  roles/kea_config/handlers/main.yml
  roles/kea_config/meta/main.yml
  roles/kea_config/tasks/main.yml
  roles/kea_config/templates/kea-dhcp4.conf.j2
  roles/kea_deploy/README.md
  roles/kea_deploy/defaults/main.yml
  roles/kea_deploy/handlers/main.yml
  roles/kea_deploy/meta/main.yml
  roles/kea_deploy/tasks/assert.yml
  roles/kea_deploy/tasks/deploy.yml
  roles/kea_deploy/tasks/deploy_pod.yml
  roles/kea_deploy/tasks/install_packages.yml
  roles/kea_deploy/tasks/main.yml
  roles/kea_deploy/tasks/systemd.yml
  roles/kea_deploy/templates/kea-dhcp4.conf.j2
  roles/kea_deploy/templates/kea-pod.yml.j2
  roles/kea_deploy/vars/RedHat.yml
  roles/kea_ops/README.md
  roles/kea_ops/defaults/main.yml
  roles/kea_ops/meta/main.yml
  roles/kea_ops/tasks/main.yml
  roles/kea_validate/README.md
  roles/kea_validate/defaults/main.yml
  roles/kea_validate/meta/main.yml
  roles/kea_validate/tasks/main.yml
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

fix: fixes playbook run on my test instance
  roles/vault_config/tasks/bootstrap_approle.yml
  roles/vault_config/tasks/config.yml
  roles/vault_config/templates/vault.hcl.j2
  roles/vault_deploy/tasks/deploy.yml
  roles/vault_deploy/tasks/deploy_pod.yml
  roles/vault_deploy/tasks/install_packages.yml
  roles/vault_deploy/tasks/selinux_relabel.yml
Due: yamllint-ee, ansible-lint-ee

refactor: Remove MinIO bootstrap role and related files; update Vault config for tfstate migration
  molecule/minio-bootstrap-basic/converge.yml
  molecule/minio-bootstrap-basic/destroy.yml
  molecule/minio-bootstrap-basic/molecule.yml
  molecule/minio-bootstrap-basic/verify.yml
  roles/minio_bootstrap/README.md
  roles/minio_bootstrap/defaults/main.yml
  roles/minio_bootstrap/meta/main.yml
  roles/minio_bootstrap/tasks/main.yml
  roles/vault_config/README.md
  roles/vault_config/defaults/main.yml
  roles/vault_config/tasks/config.yml
Due: yamllint-ee, ansible-lint-ee

feat: Implement MinIO bootstrap role with configuration, migration, and verification tasks
  .gitignore
  collections/requirements.yml
  molecule/minio-bootstrap-basic/converge.yml
  molecule/minio-bootstrap-basic/destroy.yml
  molecule/minio-bootstrap-basic/molecule.yml
  molecule/minio-bootstrap-basic/verify.yml
  roles/aap_deploy/meta/main.yml
  roles/keycloak_config/meta/main.yml
  roles/minio_bootstrap/README.md
  roles/minio_bootstrap/defaults/main.yml
  roles/minio_bootstrap/meta/main.yml
  roles/minio_bootstrap/tasks/main.yml
  roles/minio_bootstrap/tasks/migrate_pending_dir.yml
  roles/openvpn/meta/main.yml
  roles/vault_config/README.md
Due: yamllint-ee, ansible-lint-ee

refactor: Add tfstate migration tags to MinIO and Vault roles for improved task management
  roles/minio_bootstrap/README.md
  roles/minio_bootstrap/tasks/main.yml
  roles/minio_bootstrap/tasks/migrate_pending_dir.yml
  roles/vault_config/README.md
  roles/vault_config/tasks/config.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  AGENT.md
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

Refactor Vault and Nexus roles for improved token handling and YAML output
  AGENT.md
  roles/minio_bootstrap/tasks/migrate_pending_dir.yml
  roles/nexus/README.md
  roles/nexus/tasks/main.yml
  roles/vault_bootstrap/README.md
  roles/vault_bootstrap/tasks/init.yml
  roles/vault_config/README.md
  roles/vault_config/defaults/main.yml
  roles/vault_config/tasks/bootstrap_approle.yml
  roles/vault_config/tasks/bootstrap_approle_entry.yml
  roles/vault_config/tasks/config.yml
  roles/vault_config/tasks/vault_pki.yml
  roles/vault_config/templates/vault.hcl.j2
  roles/vault_deploy/defaults/main.yml
  roles/vault_deploy/tasks/deploy_pod.yml
  roles/vault_deploy/tasks/main.yml
  roles/vault_foundational/README.md
  roles/vault_foundational/tasks/inspect_init_file.yml
  roles/vault_foundational/tasks/normalize_init_file.yml
  roles/vault_validate/README.md
  roles/vault_validate/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

refactor: Update Vault configuration to use consistent variable naming and improve task handling
  roles/vault_config/defaults/main.yml
  roles/vault_config/tasks/config.yml
  roles/vault_config/tasks/vault_pki.yml
  roles/vault_deploy/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: use ansible_os_family
  roles/vault_deploy/tasks/deploy.yml
  roles/vault_deploy/tasks/deploy_pod.yml
  roles/vault_deploy/tasks/install_packages.yml
  roles/vault_deploy/tasks/selinux_relabel.yml
Due: yamllint-ee, ansible-lint-ee

fix: do not run when selinux is disabled
  roles/vault_config/templates/vault.hcl.j2
  roles/vault_deploy/tasks/deploy_pod.yml
Due: yamllint-ee, ansible-lint-ee

fix: kubeplay is not working
  roles/vault_config/handlers/main.yml
  roles/vault_config/tasks/vault_pki.yml
  roles/vault_deploy/handlers/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: always wait for API health
  roles/vault_bootstrap/tasks/bootstrap.yml
  roles/vault_bootstrap/tasks/init.yml
  roles/vault_bootstrap/tasks/unseal.yml
Due: yamllint-ee, ansible-lint-ee

fix: fix certificate handling
  roles/vault_config/tasks/vault_pki.yml
Due: yamllint-ee, ansible-lint-ee

fix: remove lit.foundational.kubeplay calls
  roles/vault_config/tasks/kubeplay_action.yml
  roles/vault_deploy/tasks/deploy_pod.yml
  roles/vault_deploy/tasks/kubeplay_action.yml
Due: yamllint-ee, ansible-lint-ee

fix: cleanup
  roles/vault_config/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#55)
  .pre-commit-config.yaml
  AGENT.md
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .gitignore
Due: none

chore: sync shared assets from lightning-it/shared-assets (#60)
  .gitignore
Due: none

feat: add host network support and improve SELinux handling for Vault and CoreDNS deployments
  .pre-commit-config.yaml
  roles/coredns_deploy/defaults/main.yml
  roles/coredns_deploy/tasks/systemd.yml
  roles/coredns_deploy/templates/coredns-pod.yml.j2
  roles/vault_deploy/tasks/deploy_pod.yml
  roles/vault_deploy/tasks/selinux_relabel.yml
  roles/vault_deploy/vars/RedHat.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/devtools-collection-prepare.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

refactor: update references from wunder-devtools-ee to ee-wunder-devtools-ubi9 across workflows and scripts
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  scripts/devtools-collection-prepare.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: enhance CoreDNS and Vault deployment with resolver management and health checks
  roles/coredns_deploy/defaults/main.yml
  roles/coredns_deploy/tasks/deploy.yml
  roles/coredns_deploy/tasks/manage_resolver.yml
  roles/coredns_deploy/tasks/systemd.yml
  roles/vault_bootstrap/tasks/unseal.yml
  roles/vault_deploy/defaults/main.yml
  roles/vault_deploy/tasks/deploy_pod.yml
Due: yamllint-ee, ansible-lint-ee

refactor: enhance CoreDNS resolver management and streamline Vault systemd unit handling
  roles/coredns_deploy/defaults/main.yml
  roles/coredns_deploy/tasks/deploy.yml
  roles/coredns_deploy/tasks/manage_resolver.yml
  roles/vault_deploy/tasks/systemd.yml
Due: yamllint-ee, ansible-lint-ee
