Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

style(tests): format promotion gate regression
  tests/unit/test_main_promotion_merge_gate.py
Due: none

fix(security): satisfy exact sanity contracts
  scripts/security_release_contract.py
Due: none

fix(security): canonicalize YAML fragments
  scripts/security_release_contract.py
  tests/unit/test_security_release_contract.py
Due: none

fix(security): validate canonical fragment inputs
  scripts/security_release_contract.py
  tests/unit/test_security_release_contract.py
Due: none

feat(security): activate App-authored intake receipts
  .github/workflows/collection-publish.yml
  .github/workflows/copilot-review.yml
  .github/workflows/security-release-dispatch.yml
  .github/workflows/security-release-intake.yml
  changelogs/fragments/mlx90-golden-security-contract.yml
  scripts/release-version.py
  scripts/security-release-dispatch.py
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_release_version.py
  tests/unit/test_security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): bind verifier and incubation ownership
  .github/copilot-instructions.md
  .github/workflows/collection-publish.yml
  .github/workflows/copilot-review.yml
  .github/workflows/security-release-dispatch.yml
  .github/workflows/security-release-intake.yml
  .lit/repository.yml
  AGENTS.md
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(release): gate Security publication through Nexus and ModuLix
  .github/CODEOWNERS
  .github/workflows/collection-publish.yml
  changelogs/fragments/mlx90-nexus-modulix-galaxy-golden-path.yml
  docs/mlx90-security-publication-golden-path.md
  scripts/classify-security-release.py
  scripts/modulix-validation-receipt.py
  scripts/nexus-galaxy-v3-stage.py
  tests/unit/test_modulix_validation_receipt.py
  tests/unit/test_nexus_galaxy_v3_stage.py
  tests/unit/test_security_publication_golden_path.py
  tests/unit/test_security_release_classification.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(security): close publication gate findings
  scripts/classify-security-release.py
  scripts/modulix-validation-receipt.py
  scripts/nexus-galaxy-v3-stage.py
  tests/unit/test_modulix_validation_receipt.py
  tests/unit/test_security_release_classification.py
Due: none

style(security): format binding regression
  tests/unit/test_security_release_classification.py
Due: none

fix(security): close Nexus publication findings
  .github/workflows/collection-publish.yml
  docs/mlx90-security-publication-golden-path.md
  scripts/nexus-galaxy-v3-stage.py
  tests/unit/test_nexus_galaxy_v3_stage.py
  tests/unit/test_security_publication_golden_path.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(release): enforce immutable zero-touch promotions
  .github/CODEOWNERS
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish.yml
  .github/workflows/main-promotion-authorization.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  .github/workflows/sync-main-to-develop.yml
  scripts/classify-security-release.py
  scripts/main-promotion-authorization.py
  scripts/modulix-validation-receipt.py
  scripts/security_main_promotion.py
  scripts/verify_release_back_sync.py
  tests/unit/test_modulix_validation_receipt.py
  tests/unit/test_release_back_sync_contract.py
  tests/unit/test_security_main_promotion.py
  tests/unit/test_security_publication_golden_path.py
  tests/unit/test_security_release_classification.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(release): satisfy collection sanity
  scripts/modulix-validation-receipt.py
  scripts/security_main_promotion.py
  scripts/verify_release_back_sync.py
Due: none

fix(release): resolve git from runner path
  scripts/classify-security-release.py
  tests/unit/test_security_release_classification.py
Due: none

fix(release): load preparation receipt safely
  scripts/classify-security-release.py
  scripts/security_main_promotion.py
  scripts/verify_release_back_sync.py
  tests/unit/test_security_release_classification.py
Due: none

fix(release): bind classifier git context
  .github/workflows/collection-ci.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  scripts/classify-security-release.py
  scripts/security_main_promotion.py
  scripts/verify_release_back_sync.py
  tests/unit/test_security_release_classification.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

refactor(release): stage validation wait separately
  .github/workflows/collection-publish.yml
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(security): activate exception-free Keycloak 26.7.1 golden path
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish.yml
  .lit/security-releases/3.2.4.json
  changelogs/fragments/keycloak-26.7.1-security.yml
  changelogs/fragments/mlx90-remove-vulnerability-exceptions.yml
  manifests/identity-stack.pod.yaml
  meta/source-dependencies.yml
  molecule/keycloak-heavy/converge.yml
  molecule/keycloak-tiny/converge.yml
  molecule/keycloak-tiny/verify.yml
  roles/keycloak_deploy/defaults/main.yml
  scripts/quality_evidence.py
  security/vex/chrome-linux-151.0.7922.71.openvex.json
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_security_publication_golden_path.py
  tests/unit/test_select_quality_impact.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): run Trivy within allowed container boundary
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind validation windows and evidence
  .github/workflows/collection-publish.yml
  .lit/security-releases/3.2.4.json
  tests/unit/test_keycloak_26_7_1_security.py
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): enable guarded Renovate automerge without self-review
  .github/copilot-instructions.md
  .github/workflows/renovate-guarded-automerge.yml
  AGENTS.md
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(security): redact base64url JWT suffixes
  molecule/shared/keycloak/acceptance/trace_sanitizer.py
  tests/unit/test_keycloak_evidence_producers.py
Due: none

style(security): format JWT sanitizer pattern
  molecule/shared/keycloak/acceptance/trace_sanitizer.py
Due: none

fix(security): redact base64url JWT evidence consistently
  molecule/shared/incus/helpers/sanitize_evidence.py
  molecule/shared/keycloak/acceptance/trace_sanitizer.py
  scripts/quality_evidence.py
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_sanitize_evidence.py
Due: none

test(security): name deterministic JWT fixtures
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_sanitize_evidence.py
Due: none

feat(mlx90): add bounded push-ready engine foundation
  .lit/push-ready.json
  meta/source-dependencies.yml
  scripts/lit-ci-profile.sh
  scripts/lit-push-ready.py
  scripts/lit-repository-quality.py
  scripts/validate-embedded-code.py
Due: yamllint-ee, ansible-lint-ee

fix(mlx90): avoid clear-text evidence classification
  changelogs/fragments/mlx90-push-ready-engine-foundation.yml
  scripts/lit-push-ready.py
Due: yamllint-ee, ansible-lint-ee

test(mlx90): construct synthetic jwt fixtures at runtime
  changelogs/fragments/mlx90-jwt-fixture-bootstrap.yml
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_sanitize_evidence.py
Due: yamllint-ee, ansible-lint-ee

test(mlx90): construct jwt fixtures without folding
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_sanitize_evidence.py
Due: none

fix(mlx90): align foundation quality contracts
  .github/copilot-instructions.md
  AGENTS.md
  docs/testing/incus.md
  docs/testing/keycloak.md
  roles/nexus/README.md
  scripts/lit-repository-quality.py
Due: none

test(mlx90): isolate devtools capability probe
  tests/unit/test_workflow_security.py
Due: none

fix(mlx90): scope embedded review to changed docs
  .github/copilot-instructions.md
  AGENTS.md
  docs/testing/incus.md
  docs/testing/keycloak.md
  roles/nexus/README.md
  scripts/lit-repository-quality.py
Due: none

fix(mlx90): close foundation review findings
  .lit/push-ready.json
  scripts/lit-repository-quality.py
  scripts/validate-embedded-code.py
Due: none

fix(mlx90): allow full-size Copilot review
  .lit/push-ready.json
Due: none

fix(mlx90): enforce push-ready foundation in CI
  .pre-commit-config.yaml
  scripts/lit-push-ready.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

test(mlx90): cover push-ready security boundaries
  .pre-commit-config.yaml
  changelogs/fragments/mlx90-push-ready-engine-foundation.yml
  scripts/lit-push-ready.py
  scripts/lit-repository-quality.py
  scripts/validate-embedded-code.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

test(mlx90): isolate foundation git fixtures
  scripts/lit-push-ready.py
  tests/unit/test_workflow_security.py
Due: none

fix(mlx90): isolate nested review git bindings
  scripts/lit-push-ready.py
Due: none

fix(mlx90): harden review filesystem boundaries
  scripts/lit-push-ready.py
  scripts/validate-embedded-code.py
  tests/unit/test_workflow_security.py
Due: none

fix(mlx90): require embedded-code linters
  changelogs/fragments/mlx90-push-ready-engine-foundation.yml
  scripts/lit-push-ready.py
  scripts/lit-repository-quality.py
  scripts/validate-embedded-code.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee
