Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .gitignore
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  LICENSE
  SECURITY.md
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#20)
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .gitignore
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  LICENSE
  SECURITY.md
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

refactor: streamline renovate configuration and enhance lit.foundational dependency management
  renovate.json
Due: renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  .yamllint
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee

Ro renovate (#24)
  galaxy.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets (#23)
  .pre-commit-config.yaml
  .yamllint
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#26)
  .github/workflows/collection-ci.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#27)
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

fix: update environment variable name from ANSIBLE_COLLECTIONS_PATHS to ANSIBLE_COLLECTIONS_PATH
  .pre-commit-config.yaml
  README.md
  molecule/gitlab-runner-basic/molecule.yml
  molecule/keycloak-basic/molecule.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/nexus-basic/molecule.yml
  molecule/openvpn-basic/molecule.yml
  molecule/vault-basic/molecule.yml
  roles/manage_esxi/tasks/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  AGENT.md
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

fix: update environment variable name from ANSIBLE_COLLECTIONS_PATHS to ANSIBLE_COLLECTIONS_PATH (#30)
  .pre-commit-config.yaml
  README.md
  molecule/gitlab-runner-basic/molecule.yml
  molecule/keycloak-basic/molecule.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/nexus-basic/molecule.yml
  molecule/openvpn-basic/molecule.yml
  molecule/vault-basic/molecule.yml
  roles/manage_esxi/tasks/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  ecebe4fec12181d136251d8b2b2a218668f19775
Due: none

fix: sync shared assets from lightning-it/shared-assets (#29)
  .pre-commit-config.yaml
  AGENT.md
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  381d8d25a3258929f11f33df4177c7ec18f11f00
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .gitignore
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#31)
  .gitignore
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  scripts/devtools-ansible-lint.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#33)
  scripts/devtools-ansible-lint.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#34)
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .ansible-lint
Due: none

chore: sync shared assets from lightning-it/shared-assets (#35)
  .ansible-lint
Due: none

chore: format galaxy.yml for consistency and readability
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore: format galaxy.yml for consistency and readability (#36)
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix: correct comment formatting in pre-commit configuration
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

fix: add ansible.posix dependency to galaxy.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance manage_esxi role with additional variables and tasks for improved ESXi management
  galaxy.yml
  roles/manage_esxi/defaults/main.yml
  roles/manage_esxi/tasks/base.yml
  roles/manage_esxi/tasks/firewall.yml
  roles/manage_esxi/tasks/main.yml
  roles/manage_esxi/tasks/normalize.yml
  roles/manage_esxi/tasks/portgroups.yml
  roles/manage_esxi/tasks/preconfig.yml
  roles/manage_esxi/tasks/users.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance manage_esxi role with additional variables and tasks for improved ESXi management
  .pre-commit-config.yaml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix: update molecule configurations and add OpenVPN collection support
  .gitignore
  .pre-commit-config.yaml
  molecule/gitlab-runner-basic/molecule.yml
  molecule/keycloak-basic/molecule.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/nexus-basic/molecule.yml
  molecule/openvpn-basic/collections.yml
  molecule/openvpn-basic/molecule.yml
  molecule/vault-basic/molecule.yml
  roles/openvpn/tasks/install.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance manage_esxi role with additional variables and tasks fo… (#32)
  .gitignore
  .pre-commit-config.yaml
  galaxy.yml
  molecule/gitlab-runner-basic/molecule.yml
  molecule/keycloak-basic/molecule.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/nexus-basic/molecule.yml
  molecule/openvpn-basic/collections.yml
  molecule/openvpn-basic/molecule.yml
  molecule/vault-basic/molecule.yml
  roles/manage_esxi/defaults/main.yml
  roles/manage_esxi/tasks/base.yml
  roles/manage_esxi/tasks/firewall.yml
  roles/manage_esxi/tasks/main.yml
  roles/manage_esxi/tasks/normalize.yml
  roles/manage_esxi/tasks/portgroups.yml
  roles/manage_esxi/tasks/preconfig.yml
  roles/manage_esxi/tasks/users.yml
  roles/openvpn/tasks/install.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  66c000e2999b6822e1fc9a20153a63264a70ce9f
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
