Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

fix: refactor checksum validation and change archive format check to unarchive
  roles/aap_deploy/tasks/20_download_unpack.yml
Due: yamllint-ee, ansible-lint-ee

fix: stabilize Ansible cache and remove stale collections during linting
  scripts/devtools-ansible-lint.sh
Due: none

fix: update fedora.linux_system_roles datasource to galaxy-collection… (#120)
  .github/workflows/collection-ci.yml
  collections/requirements-public.yml
  renovate.json
  roles/aap_deploy/tasks/20_download_unpack.yml
  scripts/devtools-ansible-lint.sh
  scripts/sync-certified-from-ah.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore(release): 1.16.5 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  019cdf689afb4b65a6b06c14fe9260040cd83207
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: sync shared assets from lightning-it/shared-assets (#121)
  .github/workflows/collection-ci.yml
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.16.6 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  8a26993789d175fb46822e5c1a868b5131019d71
Due: none

refactor: update collection dependencies and improve documentation
  README.md
  collections/requirements-certified.yml
  collections/requirements-public.yml
  galaxy.yml
  renovate.json
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_00_collections_preflight.yml
  roles/aap_cac/tasks/cac_34_aap_utilities_roles.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_roles.yml
  roles/aap_cac/tasks/cac_36_ee_utilities_roles.yml
  scripts/sync-certified-from-ah.sh
  scripts/validate-certified-on-ah.sh
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

fix: remove certified requirements and update dependency management guidelines
  .github/workflows/collection-ci.yml
  AGENT.md
  README.md
  collections/requirements-certified.yml
  collections/requirements.yml
  renovate.json
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  scripts/sync-certified-from-ah.sh
  scripts/validate-certified-on-ah.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

feat: add gateway username and password variables with validation for AAP CaC tasks
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_14_gateway_role_user_assignments.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/delete_authentication_token.yml
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: update .gitignore and refine dependency management in documentation and tasks
  .gitignore
  AGENT.md
  README.md
  collections/requirements.yml
  galaxy.yml
  renovate.json
  roles/aap/README.md
  roles/aap/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

Enhance AAP CaC and AAP Deploy roles with improved password management and controller license activation
  roles/aap/README.md
  roles/aap/defaults/main.yml
  roles/aap/tasks/assert.yml
  roles/aap/tasks/resolve_admin_passwords.yml
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/delete_authentication_token.yml
  roles/aap_cac/tasks/main.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_ops/README.md
  roles/aap_ops/defaults/main.yml
  roles/aap_ops/tasks/assert.yml
  roles/aap_ops/tasks/rotate_password.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance AAP CaC and AAP Deploy roles with new password management variables and validation
  roles/aap/README.md
  roles/aap/defaults/main.yml
  roles/aap/tasks/assert.yml
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_00_collections_preflight.yml
  roles/aap_cac/tasks/main.yml
  roles/aap_deploy/README.md
Due: yamllint-ee, ansible-lint-ee

fix: update galaxy.yml dependencies and clean up aap_cac role documentation
  galaxy.yml
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_00_collections_preflight.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance AAP CaC and AAP Deploy roles with new organization and hub collection variables, and validate effective passwords
  galaxy.yml
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
  roles/aap_cac/tasks/cac_99_object_reconcile.yml
  roles/aap_deploy/tasks/06_validate_effective_passwords.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: ensure tasks do not report changes for token management operations
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/delete_authentication_token.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance AAP CaC role tasks with effective organization and password management variables
  roles/aap/tasks/resolve_admin_passwords.yml
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.16.7 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  34d83cfc0ca5fa6d00581e394e874e949fe54f3b
Due: none

chore: sync shared assets from lightning-it/shared-assets
  renovate.base.json
Due: none

fix: sync shared assets from lightning-it/shared-assets (#125)
  renovate.base.json
Due: none

chore(release): 1.16.8 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  aa59a6abb71aef2062e7e3faca0bcc1513c96923
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: update community.general version constraints for compatibility
  renovate.base.json
  renovate.json
Due: renovate-config-validate

fix: update community.general version constraints for compatibility (#129)
  renovate.base.json
  renovate.json
Due: renovate-config-validate

chore(release): 1.16.9 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  c869e9782f51f24c69b16e37e7f9dd12951688cd
Due: none

chore(release): 1.16.10 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  3a90948e57d1d95c660f7afbd78b048da274eae5
Due: none

chore(release): 1.16.11 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  fd907466cd1d9e556ece9f76cf67928355f90524
Due: none

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
  CONTRIBUTING.md
  scripts/wunder-devtools-ee.sh
Due: none

docs: update AGENT.md with shared-assets management guidelines and repository behavior preferences fix: correct renovate.json to use customManagers for regex dependency management
  AGENT.md
  renovate.json
Due: renovate-config-validate

docs: update AGENT.md with shared-assets management guidelines and repository behavior preferences (#134)
  AGENT.md
  renovate.json
Due: renovate-config-validate
