Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix: harden prepared release provenance
  scripts/verify-prepared-release-merge.sh
  tests/unit/test_exact_revision_review.py
Due: none

test: satisfy release verifier sanity lint
  tests/unit/test_exact_revision_review.py
Due: none

fix: align tiny aggregate with protected runner eligibility
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: fail closed on Tiny classification errors
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(proxy): add portable Squid container service
  README.md
  changelogs/fragments/li-139-forward-proxy.yml
  docs/testing/role-coverage.md
  galaxy.yml
  meta/role-coverage.yml
  meta/source-dependencies.yml
  molecule/forward-proxy-tiny/converge.yml
  molecule/forward-proxy-tiny/molecule.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/README.md
  roles/forward_proxy/defaults/main.yml
  roles/forward_proxy/meta/argument_specs.yml
  roles/forward_proxy/meta/main.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/templates/squid-pod.yml.j2
  roles/forward_proxy/templates/squid.conf.j2
  roles/forward_proxy/vars/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): close lifecycle and network review gaps
  roles/forward_proxy/defaults/main.yml
  roles/forward_proxy/meta/argument_specs.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/templates/squid-pod.yml.j2
  roles/forward_proxy/vars/main.yml
  tests/test_role_coverage.py
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
  tests/unit/test_source_dependencies.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): close final ownership review gaps
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/vars/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): make runtime updates transactional
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): protect runtime ownership transition
  renovate.json
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

fix(proxy): close portable runtime review contracts
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/forward-proxy-tiny/cleanup.yml
  molecule/forward-proxy-tiny/molecule.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/defaults/main.yml
  roles/forward_proxy/meta/argument_specs.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): close final portable runtime findings
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/forward-proxy-tiny/cleanup.yml
  molecule/forward-proxy-tiny/converge.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): close final evidence boundaries
  molecule/forward-proxy-tiny/cleanup.yml
  molecule/forward-proxy-tiny/converge.yml
  molecule/forward-proxy-tiny/reject-client.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/README.md
  roles/forward_proxy/defaults/main.yml
  roles/forward_proxy/meta/argument_specs.yml
  roles/forward_proxy/tasks/assert.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): preserve complete scenario evidence
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/forward-proxy-tiny/tasks/reject-client.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/README.md
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): close destination and evidence gaps
  molecule/forward-proxy-tiny/cleanup.yml
  molecule/forward-proxy-tiny/tasks/reject-client.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/templates/squid.conf.j2
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

style(proxy): format contract test
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: none

fix(proxy): secure path and rollback boundaries
  molecule/forward-proxy-tiny/converge.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/README.md
  roles/forward_proxy/defaults/main.yml
  roles/forward_proxy/meta/argument_specs.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/ensure_directory.yml
  roles/forward_proxy/tasks/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): prove runtime absence before cleanup
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/tasks/verify_runtime_absent.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): contain render-only lifecycle paths
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): harden directory lifecycle checks
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/ensure_directory.yml
  roles/forward_proxy/tasks/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): close first-run path boundaries
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/ensure_directory.yml
  roles/forward_proxy/tasks/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): prove rollback readiness
  roles/forward_proxy/README.md
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/verify_runtime_absent.yml
  roles/forward_proxy/tasks/verify_runtime_ready.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): bind rollback state marker
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): protect first runtime ownership
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): serialize service ownership
  molecule/forward-proxy-tiny/cleanup.yml
  molecule/forward-proxy-tiny/converge.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/README.md
  roles/forward_proxy/defaults/main.yml
  roles/forward_proxy/meta/argument_specs.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): close final lifecycle boundaries
  roles/forward_proxy/README.md
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/transition.yml
  roles/forward_proxy/tasks/verify_runtime_absent.yml
  roles/forward_proxy/templates/squid-pod.yml.j2
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): bind final transaction boundaries
  roles/forward_proxy/defaults/main.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/ensure_directory.yml
  roles/forward_proxy/tasks/main.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): close mutation-time path gaps
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/ensure_directory.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): bind rollback mutations to runtime identity
  molecule/forward-proxy-tiny/tasks/reject-client.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/tasks/restore_managed_file.yml
  roles/forward_proxy/tasks/revalidate_new_runtime_removal.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): revalidate destructive boundaries
  molecule/forward-proxy-tiny/tasks/reject-client.yml
  roles/forward_proxy/tasks/capture_existing_runtime_removal.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/tasks/remove_owned_file.yml
  roles/forward_proxy/tasks/revalidate_existing_runtime_removal.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): bind runtime provenance atomically
  molecule/forward-proxy-tiny/cleanup.yml
  plugins/modules/atomic_unlink.py
  roles/forward_proxy/tasks/capture_active_runtime_identity.yml
  roles/forward_proxy/tasks/capture_existing_runtime_removal.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/tasks/remove_owned_file.yml
  roles/forward_proxy/tasks/revalidate_active_runtime_identity.yml
  roles/forward_proxy/tasks/revalidate_existing_runtime_removal.yml
  roles/forward_proxy/tasks/revalidate_new_runtime_removal.yml
  roles/forward_proxy/tasks/transition.yml
  roles/forward_proxy/tasks/verify_runtime_ready.yml
  roles/forward_proxy/templates/squid-pod.yml.j2
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(atomic-unlink): satisfy Ansible module sanity
  plugins/modules/atomic_unlink.py
Due: none

fix(forward-proxy): close current-head review findings
  roles/forward_proxy/README.md
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/verify_runtime_ready.yml
  tests/unit/plugins/modules/test_atomic_unlink.py
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): close visible review threads
  plugins/modules/atomic_unlink.py
  roles/forward_proxy/tasks/transition.yml
  roles/forward_proxy/tasks/verify_runtime_ready.yml
  tests/unit/plugins/modules/test_atomic_unlink.py
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

style(forward-proxy): format regression contract
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: none

test(atomic-unlink): use canonical platform temp root
  tests/unit/plugins/modules/test_atomic_unlink.py
Due: none

fix(forward-proxy): close current-head findings
  plugins/modules/atomic_unlink.py
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/tasks/revalidate_active_runtime_identity.yml
  roles/forward_proxy/tasks/verify_runtime_ready.yml
  tests/unit/plugins/modules/test_atomic_unlink.py
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): close final rollback gaps
  molecule/forward-proxy-tiny/tasks/reject-port.yml
  molecule/forward-proxy-tiny/verify.yml
  plugins/modules/atomic_unlink.py
  roles/forward_proxy/tasks/restore_managed_file.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/plugins/modules/test_atomic_unlink.py
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

test(forward-proxy): format ACL contract assertion
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: none

fix(forward-proxy): make recovery boundaries resumable
  molecule/forward-proxy-tiny/verify.yml
  plugins/modules/atomic_unlink.py
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/tasks/transition.yml
  roles/forward_proxy/tasks/verify_runtime_restart_boundary.yml
  tests/unit/plugins/modules/test_atomic_unlink.py
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): bind final mutation identities
  molecule/forward-proxy-tiny/converge.yml
  molecule/forward-proxy-tiny/verify.yml
  plugins/modules/atomic_unlink.py
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/ensure_directory.yml
  roles/forward_proxy/tasks/remove_owned_file.yml
  roles/forward_proxy/tasks/revalidate_active_runtime_identity.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/plugins/modules/test_atomic_unlink.py
  tests/unit/roles/forward_proxy/test_forward_proxy_contract.py
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
