Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(mlx90): bound stored review diff verification
  scripts/materialize-exact-revision-review.py
  tests/unit/test_exact_revision_review.py
Due: none

style(mlx90): format review contract tests
  tests/unit/test_exact_revision_review.py
Due: none

fix(rep60): add protected develop bootstrap alias
  .github/workflows/rep60-develop-bootstrap-review-alias.yml
  changelogs/fragments/rep60-develop-bootstrap-alias.yml
  tests/unit/test_rep60_develop_bootstrap_review_alias.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): diagnose missing bootstrap review
  .github/workflows/rep60-develop-bootstrap-review-alias.yml
  tests/unit/test_rep60_develop_bootstrap_review_alias.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): harden bootstrap check publication
  .github/workflows/rep60-develop-bootstrap-review-alias.yml
  tests/unit/test_rep60_develop_bootstrap_review_alias.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): deny fork review check publication
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bind main reviews to default controller
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(rep60): target human verifier branch
  tests/unit/test_exact_revision_review.py
Due: none

fix(mlx90): reuse original review producer
  .github/workflows/release-bot-exact-head-review.yml
  .github/workflows/release-prepare.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): bind canonical check URLs
  .github/workflows/release-bot-exact-head-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): scope release review dispatch
  .github/workflows/release-prepare.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bind Copilot check URL
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): bind review dispatch permissions
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  .github/workflows/sync-main-to-develop.yml
  scripts/materialize-exact-revision-review.py
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(mlx90): format exact review tests
  tests/unit/test_exact_revision_review.py
Due: none

fix(mlx90): fail closed on workspace creation
  scripts/materialize-exact-revision-review.py
  tests/unit/test_exact_revision_review.py
Due: none

fix(rep60): verify bootstrap event provenance
  .github/workflows/rep60-develop-bootstrap-review-alias.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): apply exact Ruff format
  tests/unit/test_workflow_security.py
Due: none

fix(rep60): add protected release App rearm
  .github/workflows/rep60-bootstrap-app-rearm.yml
  changelogs/fragments/rep60-bootstrap-app-rearm.yml
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format rearm regression test
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: none

fix(rep60): gate rearm secrets by actor
  .github/workflows/rep60-bootstrap-app-rearm.yml
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): apply pinned ruff format
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: none

fix(rep60): bind current-revision run provenance
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/rep60-bootstrap-app-rearm.yml
  changelogs/fragments/rep60-current-revision-provenance-rearm.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): minimize bootstrap token permissions
  .github/workflows/rep60-bootstrap-app-rearm.yml
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): use protected rearm environment
  .github/workflows/rep60-bootstrap-app-rearm.yml
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): accept asynchronous review requests
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): ignore failed rearm reservations
  .github/workflows/rep60-bootstrap-app-rearm.yml
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bind rerun to required workflow identity
  .github/workflows/current-revision-rerun.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): apply repository formatter
  tests/unit/test_exact_revision_review.py
Due: none

fix(rep60): deduplicate the bootstrap producer result
  .github/workflows/rep60-bootstrap-app-rearm.yml
  changelogs/fragments/rep60-current-revision-provenance-rearm.yml
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): make bootstrap ID predicates explicit
  .github/workflows/rep60-bootstrap-app-rearm.yml
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): separate native and evidence checks
  .github/workflows/copilot-review.yml
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/rep60-current-revision-provenance-rearm.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): normalize rearm test formatting
  tests/unit/test_rep60_bootstrap_app_rearm.py
Due: none

chore(rep60): remove bootstrap review aliases
  .github/workflows/copilot-review.yml
  .github/workflows/release-bot-exact-head-review.yml
  .github/workflows/rep60-bootstrap-app-rearm.yml
  .github/workflows/rep60-bootstrap-protected-review-alias.yml
  .github/workflows/rep60-develop-bootstrap-review-alias.yml
  changelogs/fragments/rep60-permanent-current-revision-gate.yml
  docs/mlx90-exact-revision-codex-review.md
  tests/unit/test_exact_revision_review.py
  tests/unit/test_rep60_bootstrap_app_rearm.py
  tests/unit/test_rep60_bootstrap_review_alias.py
  tests/unit/test_rep60_develop_bootstrap_review_alias.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bind required rerun to candidate head
  .github/workflows/current-revision-rerun.yml
  changelogs/fragments/rep60-permanent-current-revision-gate.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format ancestry review test
  tests/unit/test_exact_revision_review.py
Due: none

fix(rep60): validate Codex result object
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/rep60-exact-revision-result-object.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): serialize verifier rerun input
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/rep60-rerun-dispatch-input.yml
  docs/mlx90-exact-revision-codex-review.md
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): classify ancestry metadata
  changelogs/fragments/rep60-main-ancestry-changelog.yml
  docs/mlx90-exact-revision-codex-review.md
  scripts/devtools-changelog-check.sh
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee

fix(rep60): anchor ancestry metadata path
  scripts/devtools-changelog-check.sh
  tests/unit/test_exact_revision_review.py
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
