Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(paths): bind recovery capability edges
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): preserve capture verification recovery
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): revalidate after transaction cleanup
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): preserve disappearing rollback targets
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): persist exchange recovery entry
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): clear removed staging recovery name
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): validate unexpanded canonical input
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): preserve rollback recovery evidence
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): bind metadata after payload write
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): preserve unprivileged idempotency
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): persist directory metadata before publish
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

test(proxy): cover concurrent unlink metadata drift
  tests/unit/plugins/modules/test_atomic_unlink.py
Due: none

fix(paths): require durable directory metadata
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(paths): preserve exchanged rollback revisions
  plugins/modules/atomic_path.py
  tests/unit/plugins/modules/test_atomic_path.py
Due: none

fix(proxy): converge absent cleanup safely
  plugins/modules/atomic_unlink.py
  roles/forward_proxy/README.md
  tests/unit/plugins/modules/test_atomic_unlink.py
Due: none

feat(guacamole): bound inactive session lifetime
  changelogs/fragments/li-139-guacamole-session-timeout.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/defaults/main.yml
  roles/guacamole_deploy/tasks/assert.yml
  roles/guacamole_deploy/tasks/main.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(guacamole): validate session timeout type
  roles/guacamole_deploy/tasks/assert.yml
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): reject boolean integer inputs
  changelogs/fragments/li-139-forward-proxy-boolean-prechecks.yml
  roles/forward_proxy/tasks/assert.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(release): restore v3.3.0 back-sync artifacts
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

test(proxy): prove rendered policy enforcement
  molecule/forward-proxy-tiny/verify.yml
Due: yamllint-ee, ansible-lint-ee

fix(changelog): retain synthetic release context
  scripts/devtools-changelog-check.sh
  tests/unit/test_exact_revision_review.py
Due: none

test(changelog): execute synthetic ref recovery
  scripts/devtools-changelog-check.sh
  scripts/resolve-changelog-head-ref.sh
  tests/unit/test_changelog_head_ref.py
  tests/unit/test_exact_revision_review.py
Due: none

test(changelog): reject remote release refs
  tests/unit/test_changelog_head_ref.py
Due: none

fix(changelog): bind synthetic release tree
  scripts/resolve-changelog-head-ref.sh
  tests/unit/test_changelog_head_ref.py
Due: none

fix(forward-proxy): resolve promotion review findings
  changelogs/fragments/li-139-forward-proxy.yml
  molecule/forward-proxy-tiny/cleanup.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/README.md
  roles/forward_proxy/tasks/restore_managed_file.yml
  scripts/resolve-changelog-head-ref.sh
  tests/unit/test_changelog_head_ref.py
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

test(forward-proxy): finalize rollback evidence
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/forward-proxy-tiny/verify.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

test(changelog): cover exact local release ref
  tests/unit/test_changelog_head_ref.py
Due: none

fix(forward-proxy): bind review evidence paths
  molecule/forward-proxy-tiny/cleanup.yml
  molecule/forward-proxy-tiny/tasks/release_eligibility.yml
  molecule/forward-proxy-tiny/verify.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

test(forward-proxy): cover experimental release gate
  molecule/forward-proxy-tiny/verify.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(changelog): reject malformed direct release refs
  scripts/resolve-changelog-head-ref.sh
  tests/unit/test_changelog_head_ref.py
Due: none

fix(li-139): close promotion review gaps
  changelogs/fragments/li139-promotion-review-gaps.yml
  molecule/forward-proxy-tiny/converge.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/tasks/verify_runtime_ready.yml
  roles/guacamole_deploy/tasks/assert.yml
  tests/unit/test_forward_proxy_contracts.py
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): complete readiness evidence
  molecule/forward-proxy-tiny/verify.yml
  renovate.json
  roles/forward_proxy/tasks/verify_runtime_ready.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

fix(forward-proxy): serialize disabled state decision
  roles/forward_proxy/tasks/main.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(li139): close promotion runtime findings
  changelogs/fragments/li139-promotion-runtime-terminal.yml
  roles/forward_proxy/tasks/enabled.yml
  roles/forward_proxy/tasks/transition.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  tests/unit/test_forward_proxy_contracts.py
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee

test(li139): clarify preflight ordering failures
  tests/unit/test_forward_proxy_contracts.py
Due: none

fix(li139): preserve Guacamole minute contract
  changelogs/fragments/li139-promotion-runtime-terminal.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(li139): preserve terminal verification evidence
  changelogs/fragments/li139-promotion-evidence-terminal.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/tasks/enabled.yml
  roles/forward_proxy/tasks/main.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

test(li139): bind fail-closed evidence coverage
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

docs(li139): clarify terminal safety guarantees
  changelogs/fragments/li139-promotion-evidence-terminal.yml
Due: yamllint-ee, ansible-lint-ee

fix(li139): bind rollback to completed mutations
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
