Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(ci): make transition dispatcher sanity-safe
  scripts/dispatch-transition-validation.py
Due: none

fix(ci): scope manual candidate validation
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): retain protected manual runtime boundary
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): mark transition dispatcher non-executable
  scripts/dispatch-transition-validation.py
Due: none

docs(release): record asynchronous Collection validation
  RELEASE.md
Due: none

docs(changelog): record transition validation policy
  changelogs/fragments/585-transition-release-policy.yml
Due: yamllint-ee, ansible-lint-ee

docs(release): use canonical validation lane names
  RELEASE.md
  changelogs/fragments/585-transition-release-policy.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): pin transition controller to main
  changelogs/fragments/586-transition-controller-main.yml
  scripts/dispatch-transition-validation.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): validate transition controller ref
  scripts/dispatch-transition-validation.py
  tests/unit/test_workflow_security.py
Due: none

fix(ci): pin transition controller at call site
  .github/workflows/collection-publish.yml
  changelogs/fragments/586-explicit-transition-controller.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(test): format transition workflow assertion
  tests/unit/test_workflow_security.py
Due: none

style(changelog): add YAML document start
  changelogs/fragments/586-explicit-transition-controller.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): isolate release evidence from runtime gate
  .github/workflows/collection-ci.yml
  changelogs/fragments/589-release-evidence-environment.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs(changelog): name exact runtime environment
  changelogs/fragments/589-release-evidence-environment.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): accept successful optional tiny matrix
  .github/workflows/collection-ci.yml
  changelogs/fragments/mlx90-optional-tiny-result.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): keep transition validation asynchronous
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(ci): align transition dispatch contract
  changelogs/fragments/mlx90-optional-tiny-result.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(release): validate strict prerelease semver
  scripts/dispatch-transition-validation.py
  tests/unit/test_workflow_security.py
Due: none

fix(ci): address MLX-90 review blockers
  .github/workflows/collection-ci.yml
  .github/workflows/openssf-scorecard.yml
  .pre-commit-config.yaml
  changelogs/fragments/mlx90-optional-tiny-result.yml
  meta/source-dependencies.yml
  scripts/validate-quality-policy.py
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(test): keep collection checks rootless
  .pre-commit-config.yaml
  changelogs/fragments/mlx90-optional-tiny-result.yml
  molecule/aap-tls-basic/converge.yml
  molecule/artifacts-basic/converge.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  roles/aap_tls/defaults/main.yml
  roles/aap_tls/handlers/main.yml
  roles/aap_tls/tasks/main.yml
  roles/vault_raft_snapshot/defaults/main.yml
  roles/vault_raft_snapshot/tasks/restore_drill.yml
  tests/unit/test_security_release_evidence.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(test): parameterize bootstrap escrow ownership
  molecule/vault-bootstrap-basic/converge.yml
  roles/vault_bootstrap/defaults/main.yml
  roles/vault_bootstrap/tasks/controller_escrow_sync.yml
Due: yamllint-ee, ansible-lint-ee

fix(test): keep cloudflare warp check rootless
  molecule/cloudflare-warp-basic/converge.yml
  molecule/cloudflare-warp-basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

docs(changelog): separate rootless gate fixes
  changelogs/fragments/mlx90-optional-tiny-result.yml
  changelogs/fragments/rootless-light-gates.yml
Due: yamllint-ee, ansible-lint-ee

feat(release): gate MLX-90 producer evidence
  .github/workflows/collection-publish.yml
  .lit/security-release-profiles.json
  changelogs/fragments/mlx90-security-release-producer.yml
  docs/security-release-producer.md
  scripts/dispatch-security-release.py
  scripts/generate-security-release-evidence.py
  tests/unit/test_security_release_dispatch.py
  tests/unit/test_security_release_evidence.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): reject nested symlink evidence paths
  scripts/generate-security-release-evidence.py
  tests/unit/test_security_release_evidence.py
Due: none

fix(release): constrain platform symlink alias
  scripts/generate-security-release-evidence.py
  tests/unit/test_security_release_evidence.py
Due: none

fix(release): verify consumer token scope
  .github/workflows/collection-publish.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): use supported scope pagination
  .github/workflows/collection-publish.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): restore protected-main evidence adapter
  .github/workflows/collection-ci.yml
  changelogs/fragments/mlx90-producer-evidence-adapter.yml
  docs/security-release-producer.md
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind runtime result into final gate
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): attest runtime evidence gate
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style: format release gate regression
  tests/unit/test_workflow_security.py
Due: none

fix(release): pin hardened central validation
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs(testing): document protected main adapter
  docs/testing/source-dependencies.md
Due: none

fix(mlx90): re-attest existing release evidence
  .github/workflows/collection-publish.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): bound consumer dispatch duration
  scripts/dispatch-security-release.py
  tests/unit/test_security_release_dispatch.py
Due: none

fix(forgejo): protect secret-bearing pod manifest
  .lit/security-release-profiles.json
  .lit/security-releases/3.2.0.json
  changelogs/fragments/mlx90-forgejo-manifest-secret-permissions.yml
  docs/security-release-producer.md
  roles/forgejo_deploy/README.md
  roles/forgejo_deploy/tasks/deploy_pod.yml
  scripts/verify-forgejo-manifest-security.py
  tests/unit/test_forgejo_manifest_security.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): satisfy collection shebang sanity
  scripts/verify-forgejo-manifest-security.py
Due: none

docs(release): require main ancestry back-sync
  RELEASE.md
Due: none

docs(release): record MLX-90 back-sync contract
  changelogs/fragments/mlx90-back-sync-contract.yml
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
