Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

feat: rename AAP host preparation contract
  changelogs/fragments/aap-host-prepare-action.yml
  molecule/aap-host-prepare-basic/converge.yml
  molecule/aap-host-prepare-basic/molecule.yml
  molecule/aap-host-prepare-basic/verify.yml
  roles/aap_base_os/README.md
  roles/aap_base_os/defaults/main.yml
  roles/aap_host_prepare/README.md
  roles/aap_host_prepare/defaults/main.yml
  roles/aap_host_prepare/meta/main.yml
  roles/aap_host_prepare/tasks/assert.yml
  roles/aap_host_prepare/tasks/main.yml
  roles/aap_local_execution/README.md
  roles/aap_local_execution/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: support large Vault Raft snapshot restores
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  molecule/vault-raft-snapshot-basic/verify.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/defaults/main.yml
  roles/vault_raft_snapshot/tasks/assert.yml
  roles/vault_raft_snapshot/tasks/restore_drill.yml
Due: yamllint-ee, ansible-lint-ee

feat: harden AAP prepared-host and registry EE gates
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  molecule/aap-local-execution-basic/converge.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_local_execution/README.md
  roles/aap_local_execution/defaults/main.yml
  roles/aap_local_execution/tasks/aap_inventory.yml
  roles/aap_local_execution/tasks/assert.yml
  roles/aap_local_execution/tasks/controller.yml
  roles/aap_local_execution/tasks/target.yml
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap_ansible_vault.yml.j2
  roles/aap_preflight/README.md
  roles/aap_preflight/defaults/main.yml
  roles/aap_preflight/tasks/assert.yml
  roles/aap_preflight/tasks/execution_environment.yml
  roles/aap_preflight/tasks/main.yml
  roles/aap_preflight/tasks/prepared_host.yml
Due: yamllint-ee, ansible-lint-ee

fix: raise and report Vault Raft snapshot size limit
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/defaults/main.yml
  roles/vault_raft_snapshot/tasks/assert.yml
  roles/vault_raft_snapshot/tasks/backup.yml
Due: yamllint-ee, ansible-lint-ee

fix: reject marker-only Copilot reviews
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: deploy hashicorp vault or openbao + fixes validate_cert
  roles/vault_bootstrap/defaults/main.yml
  roles/vault_bootstrap/tasks/init.yml
  roles/vault_bootstrap/tasks/init_controller_escrow.yml
  roles/vault_config/defaults/main.yml
  roles/vault_deploy/defaults/main.yml
  roles/vault_deploy/tasks/bootstrap_tls_vault.yml
  roles/vault_deploy/templates/vau-config.hcl.j2
  roles/vault_deploy/templates/vault-pod.yml.j2
  roles/vault_foundational/defaults/main.yml
  roles/vault_ops/defaults/main.yml
  roles/vault_raft_snapshot/defaults/main.yml
  roles/vault_raft_snapshot/tasks/restore_drill.yml
  roles/vault_validate/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

Potential fix for pull request finding
  roles/aap_preflight/tasks/prepared_host.yml
Due: yamllint-ee, ansible-lint-ee

Potential fix for pull request finding
  roles/aap_preflight/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

Potential fix for pull request finding
  roles/aap_preflight/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

Potential fix for pull request finding
  roles/vault_raft_snapshot/tasks/restore_drill.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): reconcile enterprise quality registry
  .github/workflows/collection-ci.yml
  README.md
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  tests/test_role_coverage.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(test): use writable Vault restore workspace
  molecule/vault-raft-snapshot-basic/converge.yml
  molecule/vault-raft-snapshot-basic/molecule.yml
  molecule/vault-raft-snapshot-basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): support current Incus CLI
  .github/actions/run-quality-profile/action.yml
  molecule/shared/incus/destroy.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  molecule/vault-raft-snapshot-basic/molecule.yml
  molecule/vault-raft-snapshot-basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): preserve protected evidence JSON
  molecule/shared/incus/helpers/sanitize_evidence.py
  scripts/wunder-devtools-ee.sh
  tests/unit/test_sanitize_evidence.py
Due: none

fix(ci): restore protected runtime diagnostics
  molecule/shared/incus/collect-evidence.yml
  molecule/shared/incus/helpers/sanitize_evidence.py
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
  tests/unit/test_sanitize_evidence.py
Due: yamllint-ee, ansible-lint-ee

feat(ci): select affected Keycloak quality gates
  .github/CODEOWNERS
  .github/workflows/collection-ci.yml
  changelogs/fragments/keycloak-impact-selection.yml
  scripts/select-quality-impact.py
  tests/unit/test_select_quality_impact.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Potential fix for pull request finding
  roles/aap_preflight/tasks/execution_environment.yml
Due: yamllint-ee, ansible-lint-ee

Potential fix for pull request finding
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
Due: none

refactor(ci): register Keycloak impact policy
  .github/CODEOWNERS
  meta/quality-impact.yml
  scripts/select-quality-impact.py
  tests/unit/test_select_quality_impact.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): make Keycloak LDAP tests ephemeral
  .github/workflows/collection-ci.yml
  molecule/keycloak-heavy/converge.yml
  molecule/shared/incus/collect-evidence.yml
  roles/samba_deploy/README.md
  roles/samba_deploy/defaults/main.yml
  roles/samba_deploy/tasks/assert.yml
  roles/samba_deploy/templates/samba-pod.yml.j2
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): satisfy collection sanity checks
  molecule/shared/incus/helpers/sanitize_evidence.py
  molecule/shared/keycloak/acceptance/protected_app.py
  scripts/select-quality-impact.py
Due: none

fix(ci): stabilize protected Incus DNS lifecycle
  molecule/shared/incus/create.yml
  molecule/shared/incus/destroy.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): configure guest DNS without resolved
  molecule/shared/incus/create.yml
Due: yamllint-ee, ansible-lint-ee

Potential fix for pull request finding
  molecule/aap-preflight-basic/converge.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): collect canonical Podman image JSON
  molecule/shared/incus/collect-evidence.yml
Due: yamllint-ee, ansible-lint-ee

Potential fix for pull request finding
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Potential fix for pull request finding
  roles/aap_local_execution/tasks/aap_inventory.yml
Due: yamllint-ee, ansible-lint-ee
