Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

fix: align Keycloak LDAP bind identity
  molecule/keycloak-heavy/converge.yml
  roles/keycloak_cac/defaults/main.yml
  tests/unit/test_keycloak_role_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix: bind runtime evidence to tested revision
  changelogs/fragments/fix-quality-runner-toolchain.yml
  molecule/keycloak-application-acceptance/verify.yml
  molecule/keycloak-heavy/verify.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix: pin reusable workflow source commit
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: use public validation workflow repository
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: initialize delegated validation with python3
  .github/actions/run-quality-profile/action.yml
  .github/workflows/collection-ci.yml
  AGENTS.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: isolate Heavy database restore drill
  molecule/keycloak-heavy/converge.yml
  molecule/keycloak-heavy/verify.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

style: format workflow security tests
  tests/unit/test_workflow_security.py
Due: none

fix: validate bundled runtime collections
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: pin bootstrapped validation workflow
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: bootstrap tiny validation toolchain
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: preserve validated collection links
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: pin corrected validation action workflow
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: isolate Molecule matrix state
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

style: format workflow security regression
  tests/unit/test_workflow_security.py
Due: none

fix: bind aggregate evidence to reviewed revision
  .github/workflows/collection-ci.yml
  scripts/quality_evidence.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: aggregate exact release evidence
  .github/workflows/collection-ci.yml
  molecule/keycloak-application-acceptance/verify.yml
  scripts/quality_evidence.py
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: scope reviewed SHA to evidence aggregation
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: reject ambiguous cell evidence references
  molecule/keycloak-application-acceptance/verify.yml
  scripts/quality_evidence.py
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
Due: yamllint-ee, ansible-lint-ee

fix: preserve raw Allure source paths
  scripts/quality_evidence.py
  tests/unit/test_quality_evidence.py
Due: none

fix(ci): install Tiny candidate without dependencies
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

ci: pin offline validation install
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: pin compatible validation runtime
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): make stale Incus pruning idempotent
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
Due: none

fix: reserve memory for acceptance runtime
  .github/workflows/candidate-platform-validation.yml
  .github/workflows/collection-ci.yml
  molecule/keycloak-application-acceptance/molecule.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): install pinned profile runtime collections
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

ci: pin validation runtime dependencies
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: fail closed on stale quality state
  .github/actions/run-quality-profile/action.yml
  scripts/quality_evidence.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: revalidate instance ownership after delete races
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
Due: none

fix: reject symlinked evidence inputs
  scripts/quality_evidence.py
  tests/unit/test_quality_evidence.py
Due: none

fix: isolate pinned quality interpreter
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: clean isolated quality state
  .github/actions/run-quality-profile/action.yml
  scripts/quality_evidence.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: bound evidence tree traversal
  .github/actions/run-quality-profile/action.yml
  scripts/quality_evidence.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): install foundational profile runtime
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

ci: pin foundational validation runtime
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: size Keycloak cells for runtime stack
  .github/workflows/collection-ci.yml
  molecule/keycloak-heavy/molecule.yml
  molecule/keycloak-tiny/molecule.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: assert candidate selection invariant
  tests/unit/test_workflow_security.py
Due: none

fix(molecule): stabilize evidence and LDAP idempotence
  molecule/shared/incus/collect-evidence.yml
  roles/keycloak_cac/tasks/cac_15_users.yml
  roles/keycloak_cac/tasks/cac_16_user_role_mappings.yml
Due: yamllint-ee, ansible-lint-ee

fix: harden release security evidence
  .github/workflows/collection-ci.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  molecule/shared/keycloak/acceptance/requirements.txt
  scripts/quality_evidence.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: inventory Playwright Chrome for Testing
  molecule/shared/keycloak/acceptance/browser_inventory.py
  tests/unit/test_keycloak_evidence_producers.py
Due: none
