Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(rep60): adopt managed review policy invariants
  .github/copilot-instructions.md
  AGENTS.md
  scripts/materialize-exact-revision-review.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: none

fix(rep60): verify ancestry backmerges on open
  .github/workflows/copilot-review.yml
  changelogs/fragments/rep60-ancestry-current-revision.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format ancestry contract test
  tests/unit/test_exact_revision_review.py
Due: none

docs(rep60): clarify ancestry exemption path
  .github/workflows/copilot-review.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): serialize review events per pull request
  .github/workflows/copilot-review.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): fail closed across review evidence races
  .github/workflows/copilot-review.yml
  docs/push-ready-optimization.md
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): preserve final review evidence across races
  .github/workflows/copilot-review.yml
  docs/push-ready-optimization.md
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bind verifier reruns to one required job
  .github/workflows/current-revision-rerun.yml
  changelogs/fragments/shared-assets-sync-32556727553.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): adopt exact Codex ancestry contract
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/sync-main-to-develop.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format workflow contract test
  tests/unit/test_workflow_security.py
Due: none

fix(rep60): bind backmerge upload to reviewed commit
  .github/workflows/sync-main-to-develop.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(rep60): accept durable review publisher
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: none

style(rep60): format controller contract tests
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: none

test(rep60): keep transition contracts fail closed
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: none

style(rep60): format transition contract tests
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: none

test(rep60): scope legacy publisher refresh assertions
  tests/unit/test_exact_revision_review.py
Due: none

test(rep60): make publisher parsing fail clearly
  tests/unit/test_exact_revision_review.py
Due: none

fix(rep60): bind supplementary review convergence
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  AGENTS.md
  changelogs/fragments/rep60-review-api-convergence.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format convergence regression
  tests/unit/test_workflow_security.py
Due: none

fix(rep60): bind expanded review evidence
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  AGENTS.md
  changelogs/fragments/rep60-review-api-convergence.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): address final review findings
  .github/workflows/copilot-review.yml
  changelogs/fragments/rep60-review-api-convergence.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format review regression
  tests/unit/test_workflow_security.py
Due: none

style(rep60): apply canonical ruff format
  tests/unit/test_workflow_security.py
Due: none

fix(rep60): converge protected review evidence
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  AGENTS.md
  changelogs/fragments/rep60-review-api-convergence.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): accept canonical Copilot reviewer aliases
  .github/workflows/copilot-review.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format reviewer alias regression
  tests/unit/test_workflow_security.py
Due: none

fix: typo
  roles/vault_config/templates/vault.hcl.j2
Due: none

fix: disable broken uid /gid stuff
  roles/vault_deploy/tasks/deploy_pod.yml
Due: yamllint-ee, ansible-lint-ee

fix(rep60): wait for protected run convergence
  changelogs/fragments/rep60-required-status-stability.yml
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_current_revision.py
Due: yamllint-ee, ansible-lint-ee

fix(changelog): add document start
  changelogs/fragments/rep60-required-status-stability.yml
Due: yamllint-ee, ansible-lint-ee

style(tests): format verifier coverage
  tests/unit/test_dot_github_current_revision.py
Due: none

fix: important security fix
  roles/vault_config/tasks/approle_credentials.yml
  roles/vault_config/tasks/config.yml
Due: yamllint-ee, ansible-lint-ee

fix(rep60): stage bounded exact-review promotion
  .github/codex/prompts/review-exact-head.md
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
  scripts/materialize-exact-revision-review.py
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_managed_exact_revision_materializer_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): normalize promotion binding test
  tests/unit/test_bounded_promotion_transition.py
Due: none

fix(rep60): address exact-review findings
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
  scripts/materialize-exact-revision-review.py
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_managed_exact_revision_materializer_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): preserve bounded review hardening
  .github/codex/prompts/review-exact-head.md
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
  changelogs/fragments/shared-assets-sync-32515036139.yml
  changelogs/fragments/shared-assets-sync-32519315824.yml
  changelogs/fragments/shared-assets-sync-32537006703.yml
  changelogs/fragments/shared-assets-sync-32556727553.yml
  changelogs/fragments/shared-assets-sync-32931505901.yml
  changelogs/fragments/shared-assets-sync-32960968209.yml
  changelogs/fragments/shared-assets-sync-32982369383.yml
  changelogs/fragments/shared-assets-sync-33016066652.yml
  changelogs/fragments/shared-assets-sync-33026452254.yml
  changelogs/fragments/shared-assets-sync-33038398057.yml
  changelogs/fragments/shared-assets-sync-33050088456.yml
  scripts/materialize-exact-revision-review.py
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_dot_github_current_revision.py
  tests/unit/test_managed_exact_revision_materializer_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): recover immutable review reservation
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/rep60-ancestry-current-revision.yml
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
  changelogs/fragments/rep60-required-status-stability.yml
  changelogs/fragments/rep60-review-api-convergence.yml
  docs/push-ready-optimization.md
  renovate.json
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_dot_github_current_revision.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

fix(rep60): preserve finalized promotion contract
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
  docs/push-ready-optimization.md
  tests/unit/test_bounded_promotion_transition.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format bounded transition test
  tests/unit/test_bounded_promotion_transition.py
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
