Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix: sync shared assets from lightning-it/shared-assets (#133)
  CONTRIBUTING.md
  scripts/wunder-devtools-ee.sh
Due: none

chore(release): 1.16.12 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  5bcf75de97aebd6fa5761ee6365fd2bb70aaed7b
Due: none

chore: sync shared assets from lightning-it/shared-assets
  renovate.base.json
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#136)
  renovate.base.json
  scripts/wunder-devtools-ee.sh
Due: none

fix: add new external ROOT CA handling
  roles/vault_config/templates/vault.hcl.j2
Due: none

fix: disable bootstrap_approle.yml
  roles/vault_config/tasks/config.yml
Due: yamllint-ee, ansible-lint-ee

fix: add token_period
  roles/vault_config/templates/vault.hcl.j2
Due: none

fix: switch to 2026
  roles/nexus/defaults/main.yml
  roles/nginx_config/defaults/main.yml
  roles/vault_config/defaults/main.yml
  roles/vault_deploy/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: add jwt_auth_backends and jwt_auth_backend_roles
  roles/vault_config/defaults/main.yml
  roles/vault_config/templates/macros.j2
  roles/vault_config/templates/vault.hcl.j2
Due: yamllint-ee, ansible-lint-ee

fix: remove unused route 172.16.30.0 from OpenVPN configuration
  roles/openvpn/TODO.md
  roles/openvpn/templates/server.conf
Due: none

Add Nessus Configuration-as-Code and Deployment Roles
  .ansible-lint
  README.md
  extensions/molecule/nessus-cac-basic/converge.yml
  extensions/molecule/nessus-cac-basic/destroy.yml
  extensions/molecule/nessus-cac-basic/molecule.yml
  extensions/molecule/nessus-cac-basic/verify.yml
  extensions/molecule/nessus-deploy-basic/converge.yml
  extensions/molecule/nessus-deploy-basic/destroy.yml
  extensions/molecule/nessus-deploy-basic/molecule.yml
  extensions/molecule/nessus-deploy-basic/verify.yml
  galaxy.yml
  roles/forgejo_deploy/defaults/main.yml
  roles/keycloak_deploy/defaults/main.yml
  roles/nessus_cac/README.md
  roles/nessus_cac/defaults/main.yml
  roles/nessus_cac/meta/main.yml
  roles/nessus_cac/tasks/assert.yml
  roles/nessus_cac/tasks/cac_10_api_preflight.yml
  roles/nessus_cac/tasks/main.yml
  roles/nessus_deploy/README.md
  roles/nessus_deploy/defaults/main.yml
  roles/nessus_deploy/handlers/main.yml
  roles/nessus_deploy/meta/main.yml
  roles/nessus_deploy/tasks/assert.yml
  roles/nessus_deploy/tasks/deploy.yml
  roles/nessus_deploy/tasks/deploy_pod.yml
  roles/nessus_deploy/tasks/install_packages.yml
  roles/nessus_deploy/tasks/main.yml
  roles/nessus_deploy/tasks/systemd.yml
  roles/nessus_deploy/templates/nessus-pod.yml.j2
  roles/nessus_deploy/vars/RedHat.yml
  roles/semaphore_deploy/defaults/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

feat(nginx_config, vault_config, vault_deploy): refactor PKI path and role configurations for improved flexibility
  roles/nginx_config/defaults/main.yml
  roles/nginx_config/tasks/main.yml
  roles/vault_config/defaults/main.yml
  roles/vault_deploy/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

feat(vault_deploy): add nginx reload functionality after Vault restart
  roles/vault_deploy/defaults/main.yml
  roles/vault_deploy/handlers/main.yml
Due: yamllint-ee, ansible-lint-ee

Refactor AAP deployment role to utilize vendor roles for download, installation, and inventory management
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  renovate.json
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_34_aap_utilities_roles.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_roles.yml
  roles/aap_cac/tasks/cac_36_ee_utilities_ee_builder.yml
  roles/aap_cac/tasks/cac_36_ee_utilities_roles.yml
  roles/aap_cac/tasks/cac_36_ee_utilities_virtualenv_migrate.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/30_inventory.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
  roles/aap_deploy/templates/inventory-enterprise.j2
  roles/aap_deploy/templates/inventory-growth.j2
  roles/aap_destory/README.md
  roles/aap_destory/defaults/main.yml
  roles/aap_destory/meta/main.yml
  roles/aap_destory/tasks/assert.yml
  roles/aap_destory/tasks/main.yml
  roles/aap_ops/README.md
  roles/aap_ops/tasks/assert.yml
  roles/aap_ops/tasks/main.yml
  roles/manage_esxi/meta/main.yml
  roles/openvpn/meta/main.yml
  roles/vault_foundational/meta/main.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

feat(aap_deploy): update offline token variable names for clarity and consistency
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): streamline controller license and organization configurations, remove deprecated variables
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
  roles/aap_cac/tasks/cac_36_ee_utilities_virtualenv_migrate.yml
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): update default organization name and simplify organization variable structure
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): enhance controller organization configurations and token management
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/delete_authentication_token.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): improve readability and structure of infra.controller_configuration filetree roles
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): add controller authentication variables for improved security
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): refactor role inclusion for inventory/runtime, jobs, and platform/ops with improved variable handling
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): add effective Controller admin password resolution for inventory/runtime, jobs, and platform/ops roles
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): add tags for improved task organization and filtering across various controller and hub configurations
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
  roles/aap_cac/tasks/cac_36_ee_utilities_ee_builder.yml
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_deploy): enhance local bundle staging and validation for disconnected installations
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_deploy): enhance user management and bundle installation process
  roles/aap_cac/tasks/cac_16_controller_teams.yml
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/40_install.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .ansible-lint
  .github/workflows/collection-ci.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-galaxy.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: remove unused route 172.16.30.0 from OpenVPN configuration (#141)
  roles/openvpn/TODO.md
  roles/openvpn/templates/server.conf
Due: none

chore: sync shared assets from lightning-it/shared-assets (#138)
  .ansible-lint
  .github/workflows/collection-ci.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-galaxy.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.16.13 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  266a16a9587d79c012bb679cfbc799ba255b4750
Due: none

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  dbec3f09b5822d316a16e1182bcc84681b0317d9
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  scripts/devtools-collection-prepare.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: add cloudflare_warp role for managing Cloudflare WARP client and MDM profile
  README.md
  extensions/molecule/cloudflare-warp-basic/converge.yml
  extensions/molecule/cloudflare-warp-basic/molecule.yml
  extensions/molecule/cloudflare-warp-basic/verify.yml
  roles/cloudflare_warp/README.md
  roles/cloudflare_warp/defaults/main.yml
  roles/cloudflare_warp/handlers/main.yml
  roles/cloudflare_warp/meta/main.yml
  roles/cloudflare_warp/tasks/assert.yml
  roles/cloudflare_warp/tasks/configure.yml
  roles/cloudflare_warp/tasks/install.yml
  roles/cloudflare_warp/tasks/main.yml
  roles/cloudflare_warp/tasks/service.yml
  roles/cloudflare_warp/tasks/state.yml
  roles/cloudflare_warp/templates/mdm.xml.j2
Due: yamllint-ee, ansible-lint-ee

feat: enable service-backed SSO for EDA and update installer customization
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: add autodetection for bundle archive candidates in deployment tasks
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
Due: yamllint-ee, ansible-lint-ee

feat: detect effective extracted setup bundle directory name
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
