Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/shared-assets-guarded-automerge.yml
  .yamllint
  AGENTS.md
  scripts/devtools-ansible-lint.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: target develop for collection releases
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: keep collection publishing on main
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  scripts/generate-release-evidence.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .lit/repository.yml
  README.md
  RELEASE.md
  TESTING.md
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit (#336)
  .lit/repository.yml
  README.md
  RELEASE.md
  TESTING.md
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/ISSUE_TEMPLATE/security-readiness.md
  .github/pull_request_template.md
  .github/workflows/openssf-scorecard.yml
  OPENSSF.md
  README.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#337)
  .github/ISSUE_TEMPLATE/security-readiness.md
  .github/pull_request_template.md
  .github/workflows/openssf-scorecard.yml
  OPENSSF.md
  README.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs: sanitize readiness examples
  README.md
Due: none

docs: sanitize readiness examples (#340)
  README.md
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit (#339)
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  README.md
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit (#341)
  README.md
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit (#342)
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: call public OpenSSF reusable workflow
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: call public OpenSSF reusable workflow (#344)
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .lit/repository.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .lit/repository.yml
  README.md
  scripts/generate-release-evidence.py
Due: yamllint-ee, ansible-lint-ee

feat: add compatibility matrix and release evidence schema
  .lit/repository.yml
  README.md
  scripts/generate-release-evidence.py
Due: yamllint-ee, ansible-lint-ee

docs: add compatibility evidence changelog fragment
  changelogs/fragments/compatibility-release-evidence.yml
Due: yamllint-ee, ansible-lint-ee

docs: apply enterprise README standard
  .markdownlint-cli2.yaml
  README.md
Due: yamllint-ee, ansible-lint-ee

chore: align README quality checks
  changelogs/fragments/enterprise-readme-standard.yml
Due: yamllint-ee, ansible-lint-ee

docs: apply enterprise README standard (#349)
  .markdownlint-cli2.yaml
  README.md
  changelogs/fragments/enterprise-readme-standard.yml
Due: yamllint-ee, ansible-lint-ee

chore: consolidate shared-assets-lit governance
  .lit/repository.yml
  OPENSSF.md
  README.md
  RELEASE.md
  TESTING.md
  changelogs/fragments/shared-assets-lit-governance.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync OpenSSF Best Practices readiness
  .lit/repository.yml
  OPENSSF.md
Due: yamllint-ee, ansible-lint-ee

chore: sync OpenSSF Best Practices readiness (#353)
  .lit/repository.yml
  OPENSSF.md
Due: yamllint-ee, ansible-lint-ee

Add OpenSSF Best Practices proposal data
  .bestpractices.json
Due: none

Add OpenSSF badges to README
  README.md
Due: none

Revert "Add OpenSSF badges to README"
  README.md
Due: none

Add Vault namespace support to AAP password seeding
  roles/aap_secrets/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): prepare v1.38.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/compatibility-release-evidence.yml
  changelogs/fragments/enterprise-readme-standard.yml
  changelogs/fragments/shared-assets-lit-governance.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): preserve EDA readiness task YAML
  changelogs/fragments/aap-eda-readiness-yaml.yml
  molecule/aap-deploy-basic/converge.yml
  molecule/aap-deploy-basic/verify.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
Due: yamllint-ee, ansible-lint-ee

test(aap): keep fixture vars at play scope
  molecule/aap-deploy-basic/converge.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): preserve prepared EDA task YAML (#357)
  changelogs/fragments/aap-eda-readiness-yaml.yml
  molecule/aap-deploy-basic/converge.yml
  molecule/aap-deploy-basic/verify.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
Due: yamllint-ee, ansible-lint-ee

fix: restore Galaxy release publishing
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: sync collection release tooling
  .github/workflows/collection-publish.yml
  .gitignore
  scripts/devtools-ansible-lint.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint
