Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix: retry release PR propagation checks
  .github/workflows/release-prepare.yml
  changelogs/fragments/release-pr-api-propagation-retry.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: keep release PR retry policy single-sourced
  .github/workflows/release-prepare.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: clarify release PR retry status
  .github/workflows/release-prepare.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: clear stale release PR lookup state
  .github/workflows/release-prepare.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: distinguish release PR retry outcomes
  .github/workflows/release-prepare.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: satisfy release retry lint contract
  .github/workflows/release-prepare.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: identify duplicate release pull requests
  .github/workflows/release-prepare.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style: format release retry contract test
  tests/unit/test_workflow_security.py
Due: none

docs(release): bind back-sync to current protected heads
  RELEASE.md
  changelogs/fragments/mlx90-current-main-back-sync.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): normalize Chrome Linux scanner CPE
  changelogs/fragments/mlx90-chrome-linux-cpe-equivalence.yml
  scripts/enrich-cyclonedx-sbom.py
  tests/unit/test_enrich_cyclonedx_sbom.py
Due: yamllint-ee, ansible-lint-ee

chore(changelog): add YAML document marker
  changelogs/fragments/mlx90-chrome-linux-cpe-equivalence.yml
Due: yamllint-ee, ansible-lint-ee

fix(release): bind MLX-90 security evidence to v3.2.2
  .lit/security-releases/3.2.2.json
  changelogs/fragments/mlx90-v322-security-release-metadata.yml
  docs/security-release-producer.md
  tests/unit/test_forgejo_manifest_security.py
Due: yamllint-ee, ansible-lint-ee

feat: automate evidence-bound security releases
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  changelogs/fragments/mlx90-zero-touch-release-chain.yml
  scripts/classify-security-release.py
  tests/unit/test_security_release_classification.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: fail closed when classifier cannot load
  tests/unit/test_security_release_classification.py
Due: none

test: satisfy security classifier lint
  tests/unit/test_security_release_classification.py
Due: none

fix(release): satisfy Ansible shebang sanity
  scripts/classify-security-release.py
Due: none

fix(release): fail closed on invalid security classification
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  changelogs/fragments/mlx90-security-classification-fail-closed.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: protect security classifier trust root
  .github/CODEOWNERS
  changelogs/fragments/mlx90-security-classifier-codeowner.yml
Due: yamllint-ee, ansible-lint-ee

feat(keycloak): register 26.7.1 acceptance profile
  .lit/security-release-profiles.json
  changelogs/fragments/keycloak-26.7.1-acceptance-profile.yml
  scripts/security-release-intake.py
  scripts/verify-keycloak-26.7.1-security.py
  tests/unit/test_keycloak_26_7_1_security.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): harden acceptance verifier paths
  scripts/verify-keycloak-26.7.1-security.py
  tests/unit/test_keycloak_26_7_1_security.py
Due: none

feat(security-release): dispatch protected candidates zero-touch
  .github/workflows/security-release-dispatch.yml
  scripts/security-release-dispatch.py
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(keycloak): reject unhashable verifier keys
  scripts/verify-keycloak-26.7.1-security.py
  tests/unit/test_keycloak_26_7_1_security.py
Due: none

fix(security-release): execute only protected controller code
  .github/workflows/security-release-dispatch.yml
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(security): satisfy dispatcher quality gates
  tests/unit/test_keycloak_26_7_1_security.py
  tests/unit/test_security_release_request_dispatch.py
Due: none

fix(security): dereference dispatch output safely
  .github/workflows/security-release-dispatch.yml
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(security): relay dispatch through protected main
  .github/workflows/security-release-dispatch.yml
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(security): normalize relay input name
  .github/workflows/security-release-dispatch.yml
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(security): format relay regression test
  tests/unit/test_security_release_request_dispatch.py
Due: none

fix(test): remove secret-like synthetic fixtures
  changelogs/fragments/push-ready-synthetic-fixtures.yml
  examples/aap-cac.yml
  molecule/aap-basic/converge.yml
  molecule/aap-basic/verify.yml
  molecule/atlas-observability-incus_heavy/converge.yml
  molecule/cloudflare-warp-basic/converge.yml
  molecule/keycloak-heavy/verify.yml
  molecule/minio-foundational-basic/converge.yml
  molecule/minio-foundational-basic/verify.yml
  molecule/vault-bootstrap-basic/converge.yml
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_sanitize_evidence.py
Due: yamllint-ee, ansible-lint-ee

fix(security): harden synthetic credential fixtures
  changelogs/fragments/push-ready-synthetic-fixtures.yml
  docs/testing/role-coverage.md
  examples/aap-cac.yml
  meta/role-coverage.yml
  molecule/aap-basic/converge.yml
  molecule/aap-basic/verify.yml
  molecule/atlas-observability-incus_heavy/converge.yml
  molecule/atlas-observability-incus_heavy/verify.yml
  molecule/cloudflare-warp-basic/converge.yml
  molecule/cloudflare-warp-basic/verify.yml
  molecule/keycloak-heavy/verify.yml
  molecule/minio-foundational-basic/converge.yml
  molecule/minio-foundational-basic/verify.yml
  molecule/vault-bootstrap-basic/converge.yml
  roles/checkmk_deploy/README.md
  roles/checkmk_deploy/tasks/deploy_pod.yml
  roles/grafana_deploy/README.md
  roles/grafana_deploy/tasks/deploy_pod.yml
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_observability_manifest_security.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_sanitize_evidence.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): stream large shared-assets check evidence
  .github/workflows/shared-assets-guarded-automerge.yml
  changelogs/fragments/mlx90-shared-assets-guard-argv-limit.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): bind history-free review instructions
  .github/copilot-instructions.md
  changelogs/fragments/mlx90-history-free-review-contract.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(security): bind Chrome Linux scanner CPE
  changelogs/fragments/chrome-linux-151.0.7922.108-cpe.yml
  scripts/enrich-cyclonedx-sbom.py
  tests/unit/test_enrich_cyclonedx_sbom.py
Due: yamllint-ee, ansible-lint-ee

feat(security): add inert MLX-90 contract library
  changelogs/fragments/mlx90-security-contract-library.yml
  scripts/security_release_contract.py
  tests/unit/test_security_release_contract.py
Due: yamllint-ee, ansible-lint-ee

feat(release): add stable main promotion merge gate
  changelogs/fragments/mlx90-main-promotion-merge-gate.yml
  tests/unit/test_main_promotion_merge_gate.py
Due: yamllint-ee, ansible-lint-ee

test(release): bind canonical promotion gate
  tests/unit/test_main_promotion_merge_gate.py
Due: none

fix(security): close contract review gaps
  scripts/security_release_contract.py
  tests/unit/test_main_promotion_merge_gate.py
  tests/unit/test_security_release_contract.py
  tests/unit/test_workflow_security.py
Due: none

fix(security): bound contract file reads
  scripts/security_release_contract.py
  tests/unit/test_security_release_contract.py
Due: none

fix(security): require nofollow file reads
  scripts/security_release_contract.py
  tests/unit/test_security_release_contract.py
Due: none

fix(security): anchor contract file traversal
  scripts/security_release_contract.py
  tests/unit/test_security_release_contract.py
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
