Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(aap): keep clean installs on upstream gateway
  changelogs/fragments/aap-restore-upstream-gateway-upload.yml
  roles/aap_deploy/README.md
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): remove partial install autoreset
  changelogs/fragments/aap-restore-upstream-gateway-upload.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/05_detect_existing_install.yml
  roles/aap_host_prepare/tasks/main.yml
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee

docs(aap): correct runtime detection default
  roles/aap_deploy/README.md
Due: none

fix(aap): require a clean install state
  changelogs/fragments/aap-deploy-strict-clean-state.yml
  molecule/aap-deploy-basic/verify.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/05_detect_existing_install.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
  tests/unit/test_aap_install_state_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): prepare rootless state guard runtime
  roles/aap_deploy/tasks/05_detect_existing_install.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/40_install.yml
  tests/unit/test_aap_install_state_contracts.py
Due: yamllint-ee, ansible-lint-ee

ci: use Docker for hosted-runner lint containers
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(aap): use public gateway URL for hub readiness
  changelogs/fragments/aap-deploy-public-gateway-default.yml
  molecule/aap-deploy-basic/converge.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): verify rendered public gateway URL
  roles/aap_deploy/tasks/20_download_unpack.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): reject internal gateway inventory override
  roles/aap_deploy/tasks/20_download_unpack.yml
Due: yamllint-ee, ansible-lint-ee

fix: deploy hashicorp vault or openbao + fixes validate_cert
  roles/vault_bootstrap/defaults/main.yml
  roles/vault_bootstrap/tasks/init.yml
  roles/vault_bootstrap/tasks/init_controller_escrow.yml
  roles/vault_config/defaults/main.yml
  roles/vault_config/templates/vault.hcl.j2
  roles/vault_deploy/defaults/main.yml
  roles/vault_deploy/tasks/bootstrap_tls_vault.yml
  roles/vault_deploy/templates/vau-config.hcl.j2
  roles/vault_deploy/templates/vault-pod.yml.j2
  roles/vault_foundational/defaults/main.yml
  roles/vault_ops/defaults/main.yml
  roles/vault_raft_snapshot/defaults/main.yml
  roles/vault_raft_snapshot/tasks/restore_drill.yml
  roles/vault_validate/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): break CaC certificate validation alias cycle
  changelogs/fragments/aap-cac-validate-certs-recursion.yml
  molecule/aap-cac-basic/converge.yml
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): resolve CaC gateway credentials
  changelogs/fragments/aap-cac-shared-auth.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/aap-cac-basic/converge.yml
  molecule/aap-cac-basic/verify.yml
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/assert.yml
  roles/aap_cac/tasks/main.yml
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): keep CaC organization inputs list-safe
  changelogs/fragments/aap-cac-organization-list-default.yml
  molecule/aap-cac-basic/converge.yml
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/assert.yml
  tests/test_role_coverage.py
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee

feat(aap): add complete CaC inventory example
  changelogs/fragments/aap-cac-complete-example.yml
  examples/aap-cac.yml
  roles/aap_cac/README.md
  roles/aap_cac/tasks/cac_10_gateway_settings.yml
  roles/aap_cac/tasks/cac_12_aap_users.yml
  roles/aap_cac/tasks/cac_13_aap_teams.yml
  roles/aap_cac/tasks/cac_14_gateway_role_user_assignments.yml
  roles/aap_cac/tasks/cac_30_hub_collection_remotes.yml
  roles/aap_cac/tasks/cac_31_hub_collection_repositories.yml
  roles/aap_cac/tasks/cac_32_hub_collection_repository_sync.yml
  roles/aap_cac/tasks/cac_33_hub_group_roles.yml
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): trust generated TLS CA on target
  changelogs/fragments/aap-tls-target-ca-trust.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/aap-tls-basic/converge.yml
  molecule/aap-tls-basic/molecule.yml
  molecule/aap-tls-basic/verify.yml
  roles/aap_tls/README.md
  roles/aap_tls/defaults/main.yml
  roles/aap_tls/handlers/main.yml
  roles/aap_tls/tasks/main.yml
  tests/unit/test_aap_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): derive CaC gateway from platform FQDN
  changelogs/fragments/aap-cac-gateway-from-fqdn.yml
  examples/aap-cac.yml
  meta/source-dependencies.yml
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  tests/unit/test_aap_gateway_contracts.py
  tests/unit/test_source_dependencies.py
Due: yamllint-ee, ansible-lint-ee

test(coverage): account for Hetzner object storage scenario
  tests/test_role_coverage.py
Due: none

test(aap_cac): define FQDN for authentication contract
  molecule/aap-cac-basic/converge.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): fail cleanly when deployment FQDN is missing
  roles/aap_cac/defaults/main.yml
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(deps): synchronize amazon aws inventory
  meta/source-dependencies.yml
Due: yamllint-ee, ansible-lint-ee

fix(deps): synchronize community aws inventory
  meta/source-dependencies.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): synchronize devtools image inventory
  meta/source-dependencies.yml
  tests/unit/test_source_dependencies.py
Due: yamllint-ee, ansible-lint-ee

fix(deps): synchronize renovate runtime pin
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

fix(ci): classify shared assets synchronization
  changelogs/fragments/shared-assets-sync-30601580972.yml
Due: yamllint-ee, ansible-lint-ee

fix(deps): align devtools image references
  examples/aap-cac.yml
  meta/source-dependencies.yml
  tests/unit/test_source_dependencies.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): select dependency impact semantically
  .github/workflows/collection-ci.yml
  docs/testing/source-dependencies.md
  meta/quality-impact.yml
  scripts/select-quality-impact.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_select_quality_impact.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(ci): add stable fast lane aggregate
  .github/workflows/collection-ci.yml
  docs/testing/source-dependencies.md
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): account for Chrome Linux security release
  .github/workflows/collection-ci.yml
  changelogs/fragments/chrome-linux-security-vex.yml
  security/vex/chrome-linux-151.0.7922.71.openvex.json
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(changelog): add YAML document marker
  changelogs/fragments/chrome-linux-security-vex.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): harden VEX evidence preservation
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): bind Chrome VEX by package URL
  scripts/enrich-cyclonedx-sbom.py
  security/vex/chrome-linux-151.0.7922.71.openvex.json
  tests/unit/test_enrich_cyclonedx_sbom.py
  tests/unit/test_workflow_security.py
Due: none

test(ci): clarify VEX workflow assertions
  tests/unit/test_workflow_security.py
Due: none

test(ci): name remaining workflow steps
  tests/unit/test_workflow_security.py
Due: none

feat(ci): centralize supplementary heavy validation
  .github/workflows/candidate-platform-validation.yml
  .github/workflows/collection-ci.yml
  .github/workflows/nightly-develop.yml
  docs/testing/keycloak.md
  docs/testing/source-dependencies.md
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(changelog): document smblds digest update
  changelogs/fragments/smblds-image-digest.yml
Due: yamllint-ee, ansible-lint-ee

feat: generate MLX-90 producer evidence
  scripts/generate-security-release-evidence.py
  tests/unit/test_security_release_evidence.py
Due: none

fix: make security evidence deterministic
  scripts/generate-security-release-evidence.py
  tests/unit/test_security_release_evidence.py
Due: none

test: satisfy security evidence quality gates
  tests/unit/test_security_release_evidence.py
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
