Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix: verify declared PKI issuer and preserve scoped custody on all exits
  plugins/filter/vault_pki_issuer.py
  plugins/filter/vault_ssh_keypair.py
  plugins/modules/hetzner_s3_abort_lifecycle.py
  roles/vault_connection_credentials/tasks/read_source.yml
  roles/vault_pki_certificate/README.md
  roles/vault_pki_certificate/tasks/main.yml
  roles/vault_pki_leaf_role/README.md
  roles/vault_pki_leaf_role/tasks/assert.yml
  roles/vault_pki_leaf_role/tasks/main.yml
  tests/unit/test_hetzner_s3_abort_lifecycle.py
  tests/unit/test_vault_credential_cleanup.py
  tests/unit/test_vault_pki_check_mode.py
Due: yamllint-ee, ansible-lint-ee

test(pki): bind legacy fixtures to independent issuer and cleanup block
  tests/unit/test_vault_connection_selection.py
  tests/unit/test_vault_pki_leaf_validation.py
Due: none

fix(ci): keep community.crypto version ownership in galaxy metadata
  tests/requirements.yml
Due: yamllint-ee, ansible-lint-ee

fix(supplementary): complete PKI and credential failure boundaries
  plugins/filter/vault_pki_issuer.py
  plugins/modules/keycloak_default_role_composites.py
  roles/vault_connection_credentials/tasks/main.yml
  roles/vault_connection_credentials/tasks/read_source.yml
  roles/vault_pki_certificate/tasks/main.yml
  roles/vault_pki_leaf_role/README.md
  roles/vault_pki_leaf_role/tasks/assert.yml
  tests/unit/test_keycloak_default_role_composites.py
  tests/unit/test_vault_credential_cleanup.py
  tests/unit/test_vault_pki_check_mode.py
  tests/unit/test_vault_pki_issuer.py
  tests/unit/test_vault_pki_leaf_validation.py
Due: yamllint-ee, ansible-lint-ee

fix(roles): retain mandatory precheck entrypoints before custody
  roles/vault_connection_credentials/tasks/main.yml
  roles/vault_pki_certificate/tasks/main.yml
  tests/unit/test_vault_pki_leaf_validation.py
Due: yamllint-ee, ansible-lint-ee

fix: validate custody before writes and repair metadata CI dependency
  .github/workflows/collection-ci.yml
  roles/vault_pki_certificate/tasks/main.yml
  roles/vault_pki_certificate/tasks/validate_document.yml
  roles/vault_secret_bundle/tasks/assert.yml
  roles/vault_secret_bundle/tasks/keypair_preflight.yml
  roles/vault_secret_bundle/tasks/main.yml
  tests/unit/test_application_java_ca_trust.py
  tests/unit/test_vault_bundle_preflight.py
  tests/unit/test_vault_pki_check_mode.py
  tests/unit/test_vault_pki_leaf_validation.py
  tests/unit/test_vault_secret_bundle_contracts.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style: wrap metadata dependency command for CI lint
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: isolate unit fixture dependency installation and lookup
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: close PKI authorization and current validity boundaries
  plugins/modules/keycloak_default_role_composites.py
  roles/guacamole_deploy/tasks/guacd_trust.yml
  roles/guacamole_deploy/tasks/java_trust.yml
  roles/keycloak_deploy/tasks/certificate_trust.yml
  roles/vault_pki_leaf_role/tasks/assert.yml
  roles/vault_pki_leaf_role/tasks/main.yml
  roles/vault_secret_bundle/tasks/keypair_preflight.yml
  roles/vault_secret_bundle/tasks/ssh_keypair.yml
  tests/unit/test_application_java_ca_trust.py
  tests/unit/test_keycloak_default_role_composites.py
  tests/unit/test_vault_pki_check_mode.py
  tests/unit/test_vault_ssh_keypair.py
Due: yamllint-ee, ansible-lint-ee

fix(poc): bind complete CA chains and enforce reviewed service boundaries
  changelogs/fragments/li138-reviewed-boundaries.yml
  galaxy.yml
  meta/ee-requirements.txt
  meta/execution-environment.yml
  plugins/filter/vault_pki_issuer.py
  plugins/modules/hetzner_s3_abort_lifecycle.py
  roles/guacamole_deploy/tasks/assert.yml
  roles/guacamole_deploy/tasks/guacd_trust.yml
  roles/guacamole_deploy/tasks/java_trust.yml
  roles/keycloak_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/certificate_trust.yml
  roles/nginx_deploy/README.md
  roles/nginx_deploy/tasks/assert.yml
  roles/vault_pki_certificate/README.md
  roles/vault_pki_certificate/tasks/main.yml
  roles/vault_pki_certificate/tasks/validate_document.yml
  tests/unit/test_application_java_ca_trust.py
  tests/unit/test_hetzner_s3_abort_lifecycle.py
  tests/unit/test_nginx_host_network.py
  tests/unit/test_vault_pki_check_mode.py
  tests/unit/test_vault_pki_issuer.py
  tests/unit/test_vault_pki_leaf_validation.py
Due: yamllint-ee, ansible-lint-ee

style(changelog): wrap reviewed boundary corrections
  changelogs/fragments/li138-reviewed-boundaries.yml
Due: yamllint-ee, ansible-lint-ee

fix(dependencies): bind crypto inventory to exact shipped pin
  meta/source-dependencies.yml
Due: yamllint-ee, ansible-lint-ee

fix(metadata): declare valid execution environment schema version
  meta/execution-environment.yml
Due: yamllint-ee, ansible-lint-ee

fix: validate CA plans and collection dependency metadata
  changelogs/fragments/li138-ca-plan-and-module-metadata.yml
  meta/execution-environment.yml
  plugins/modules/hetzner_s3_abort_lifecycle.py
  plugins/modules/hetzner_s3_backup_freshness.py
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/tasks/certificate_trust.yml
  roles/keycloak_deploy/tasks/deploy.yml
  tests/unit/test_application_java_ca_trust.py
  tests/unit/test_hetzner_s3_backup_freshness.py
  tests/unit/test_keycloak_role_contracts.py
  tests/unit/test_vault_pki_issuer.py
Due: yamllint-ee, ansible-lint-ee

feat(guacamole): serve ROOT context with matching health and API paths
  changelogs/fragments/li268-guacamole-root.yml
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/defaults/main.yml
  roles/guacamole_deploy/tasks/assert.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  tests/unit/test_guacamole_webapp_context.py
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
