Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

chore(li219): document stable helper check name
  changelogs/fragments/li219-stable-helper-check-name.yml
Due: yamllint-ee, ansible-lint-ee

fix(li219): make helper check name static
  .github/workflows/copilot-review.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  changelogs/fragments/li219-static-helper-check-name.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li219): disambiguate bot verifier jobs
  .github/workflows/copilot-review.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  changelogs/fragments/li219-bot-event-dispatch-noop.yml
  tests/unit/test_li219_pilot_contract.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(keycloak): reconcile realms before clients
  changelogs/fragments/li139-keycloak-realm-reconciliation.yml
  roles/keycloak_cac/tasks/cac_11_realms.yml
  tests/unit/test_keycloak_broker_catalogs.py
Due: yamllint-ee, ansible-lint-ee

test: cover final locator cooldown and active hold
  tests/unit/test_review_event_reconcile.py
Due: none

docs(keycloak): align realm reconciliation flow
  roles/keycloak_cac/README.md
  tests/unit/test_keycloak_broker_catalogs.py
Due: none

fix(review): isolate ambiguous reconciliation candidates
  changelogs/fragments/li219-reconcile-ambiguous-pr-isolation.yml
  scripts/review-event-reconcile.py
  tests/unit/test_review_event_reconcile.py
Due: yamllint-ee, ansible-lint-ee

fix(review): refresh LI-219 asset bindings
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
Due: none

style(review): format LI-219 reconciliation test
  tests/unit/test_review_event_reconcile.py
Due: none

docs(keycloak): record realm reconciliation evidence
  docs/testing/role-coverage.md
  meta/role-coverage.yml
Due: yamllint-ee, ansible-lint-ee

feat(review): prepare bounded native recovery pilot
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/review-infrastructure-retry.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  .lit/li259-supplementary-port.json
  changelogs/fragments/li259-native-verifier-recovery.yml
  docs/li259-native-verifier-retry.md
  meta/source-dependencies.yml
  scripts/native_verifier_retry.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  scripts/run-native-verifier-retry.sh
  tests/unit/test_li219_pilot_contract.py
  tests/unit/test_native_verifier_retry.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li259): port publication evidence and terminal seed drift
  .github/workflows/copilot-review.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  .lit/li259-supplementary-port.json
  docs/li259-native-verifier-retry.md
  scripts/native_verifier_retry.py
  tests/unit/test_native_verifier_retry.py
  tests/unit/test_neutral_publication.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li259): bind recovery policy and uncertain publication updates
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  .lit/li219-gateway-source.json
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  .lit/li259-supplementary-port.json
  AGENTS.md
  docs/li259-native-verifier-retry.md
  scripts/native_verifier_retry.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_native_verifier_retry.py
  tests/unit/test_neutral_publication.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Repair inherited review-policy test count and required formatting
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_workflow_security.py
Due: none

Query the final release validation interval before timeout
  .github/workflows/release-validation-window.yml
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Preserve review semantics while fixing native collection sanity
  .github/workflows/copilot-review.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  .lit/li259-supplementary-port.json
  scripts/native_verifier_retry.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  tests/unit/test_native_verifier_retry.py
  tests/unit/test_neutral_publication.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Document bounded release polling and native sanity repairs
  changelogs/fragments/li150-release-window-native-sanity.yml
Due: yamllint-ee, ansible-lint-ee

fix(orchestration): inventory waiting promotions without mutation
  changelogs/fragments/promotion-waiter-inventory.yml
  scripts/promotion_waiter_inventory.py
  tests/unit/test_promotion_waiter_inventory.py
Due: yamllint-ee, ansible-lint-ee

fix(orchestration): bind waiting promotion jobs to run inventory
  changelogs/fragments/promotion-waiter-inventory.yml
  scripts/promotion_waiter_inventory.py
  tests/unit/test_promotion_waiter_inventory.py
Due: yamllint-ee, ansible-lint-ee

test: repair baseline quality gates for promotion inventory
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_workflow_security.py
Due: none

fix(orchestration): bind run attempts and complete inventory readback
  scripts/promotion_waiter_inventory.py
  tests/unit/test_promotion_waiter_inventory.py
Due: none

fix(orchestration): reject invalid PR and job state bindings
  scripts/promotion_waiter_inventory.py
  tests/unit/test_promotion_waiter_inventory.py
Due: none

fix(orchestration): reject unsupported job conclusions
  scripts/promotion_waiter_inventory.py
  tests/unit/test_promotion_waiter_inventory.py
Due: none

test: remove local review-helper sanity errors
  tests/unit/test_native_verifier_retry.py
  tests/unit/test_neutral_publication.py
Due: none

Port protected source review recovery to Supplementary
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li259-supplementary-port.json
  AGENTS.md
  scripts/native_verifier_retry.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  tests/unit/test_li219_pilot_contract.py
  tests/unit/test_native_verifier_retry.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Format Supplementary port regression tests
  tests/unit/test_li219_pilot_contract.py
  tests/unit/test_native_verifier_retry.py
Due: none

Reject malformed waiting-run timestamps
  scripts/promotion_waiter_inventory.py
  tests/unit/test_promotion_waiter_inventory.py
Due: none

Adapt continuation helper to native sanity
  .github/workflows/copilot-review.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li259-supplementary-port.json
  scripts/review_request_continuation.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Document protected Source adoption for Supplementary port
  docs/li259-native-verifier-retry.md
Due: none

test: reconcile POC registry and CI fixture contracts
  tests/test_role_coverage.py
  tests/unit/test_application_java_ca_trust.py
  tests/unit/test_guacamole_connection_credentials.py
  tests/unit/test_guacamole_deploy_contracts.py
  tests/unit/test_guacamole_oidc_scope.py
  tests/unit/test_guacd_tls_trust.py
  tests/unit/test_hetzner_s3_abort_lifecycle.py
  tests/unit/test_hetzner_s3_backup_freshness.py
  tests/unit/test_keycloak_cleanup_opt_in.py
  tests/unit/test_keycloak_flow_binding_http.py
  tests/unit/test_nginx_host_network.py
  tests/unit/test_vault_pki_leaf_validation.py
  tests/unit/test_vault_ssh_keypair.py
Due: none

fix(collection): satisfy module documentation and sanity contracts
  plugins/modules/hetzner_s3_abort_lifecycle.py
  plugins/modules/hetzner_s3_backup_freshness.py
  plugins/modules/keycloak_default_role_composites.py
  tests/unit/test_guacamole_connection_credentials.py
  tests/unit/test_hetzner_s3_backup_freshness.py
  tests/unit/test_keycloak_cleanup_opt_in.py
  tests/unit/test_keycloak_flow_binding_http.py
  tests/unit/test_vault_pki_leaf_validation.py
  tests/unit/test_vault_ssh_keypair.py
Due: none

Use supported Podman SELinux context on RHEL 9
  changelogs/fragments/aap-rhel9-podman-selinux-context.yml
  molecule/aap-host-prepare-basic/converge.yml
  roles/aap_host_prepare/README.md
  roles/aap_host_prepare/defaults/main.yml
  roles/aap_host_prepare/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

Validate SELinux type after RHEL facts are gathered
  molecule/aap-host-prepare-basic/converge.yml
  roles/aap_host_prepare/defaults/main.yml
  roles/aap_host_prepare/tasks/assert.yml
  roles/aap_host_prepare/tasks/selinux.yml
Due: yamllint-ee, ansible-lint-ee

fix(li138): reconcile pinned trust and safe Vault custody previews
  .github/workflows/collection-ci.yml
  changelogs/fragments/li138-review-corrections.yml
  plugins/modules/hetzner_s3_abort_lifecycle.py
  roles/guacamole_deploy/tasks/reconcile_connection.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  roles/keycloak_cac/tasks/realm_flow_binding.yml
  roles/keycloak_deploy/templates/keycloak-pod.yml.j2
  roles/vault_connection_credentials/README.md
  roles/vault_connection_credentials/tasks/assert.yml
  roles/vault_connection_credentials/tasks/main.yml
  roles/vault_connection_credentials/tasks/read_source.yml
  roles/vault_pki_certificate/README.md
  roles/vault_pki_certificate/tasks/assert.yml
  roles/vault_pki_certificate/tasks/main.yml
  roles/vault_pki_leaf_role/README.md
  roles/vault_pki_leaf_role/tasks/assert.yml
  roles/vault_pki_leaf_role/tasks/main.yml
  tests/requirements.yml
  tests/unit/test_application_java_ca_trust.py
  tests/unit/test_hetzner_s3_abort_lifecycle.py
  tests/unit/test_keycloak_flow_binding_http.py
  tests/unit/test_vault_connection_selection.py
  tests/unit/test_vault_pki_check_mode.py
  tests/unit/test_vault_pki_leaf_validation.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: restrict PKI regression fixture to modern TLS
  tests/unit/test_vault_pki_check_mode.py
Due: none

fix: close TLS rotation and check-mode custody review gaps
  changelogs/fragments/li138-final-trust-preview.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  plugins/filter/vault_ssh_keypair.py
  plugins/modules/hetzner_s3_abort_lifecycle.py
  roles/keycloak_deploy/templates/keycloak-pod.yml.j2
  roles/vault_secret_bundle/README.md
  roles/vault_secret_bundle/tasks/ssh_keypair.yml
  tests/unit/test_application_java_ca_trust.py
  tests/unit/test_hetzner_s3_abort_lifecycle.py
  tests/unit/test_vault_ssh_keypair.py
Due: yamllint-ee, ansible-lint-ee

test: isolate TLS rejection from prior module import stubs
  tests/unit/test_hetzner_s3_abort_lifecycle.py
Due: none

style: format isolated TLS preflight regression
  tests/unit/test_hetzner_s3_abort_lifecycle.py
Due: none
