Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix: wrap release workflow lines
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: skip molecule helper directories
  scripts/devtools-molecule.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  AGENTS.md
  renovate.base.json
  renovate.json
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: render shared-assets-lit baseline (#254)
  .github/workflows/changelog.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  AGENTS.md
  renovate.base.json
  renovate.json
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore(release): promote develop to main (#253)
  .github/workflows/changelog.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  AGENTS.md
  renovate.base.json
  renovate.json
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/release-prepare.yml
  AGENTS.md
  CONTRIBUTING.md
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: auto-open collection release PRs
  .github/workflows/release-prepare.yml
  AGENTS.md
  CONTRIBUTING.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#260)
  .github/workflows/changelog.yml
  .github/workflows/release-prepare.yml
  AGENTS.md
  CONTRIBUTING.md
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: wrap auto-release workflow description
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#264)
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): promote develop to main (#266)
  .github/workflows/changelog.yml
  .github/workflows/release-prepare.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  changelogs/fragments/dhcp-deploy-meta-platform.yml
  roles/dhcp_deploy/meta/main.yml
  scripts/devtools-collection-prepare.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): prepare v1.32.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/247-lit-foundational.yml
  changelogs/fragments/dhcp-deploy-meta-platform.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix: sync supplementary main fixes to develop
  .pre-commit-config.yaml
  changelogs/fragments/dhcp-deploy-meta-platform.yml
  roles/dhcp_deploy/meta/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: normalize release yaml
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix: sync supplementary main fixes to develop (#269)
  .pre-commit-config.yaml
  changelogs/fragments/dhcp-deploy-meta-platform.yml
  roles/dhcp_deploy/meta/main.yml
Due: yamllint-ee, ansible-lint-ee

Release v1.32.0 (#268)
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/247-lit-foundational.yml
  changelogs/fragments/dhcp-deploy-meta-platform.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#278)
  .github/workflows/changelog.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#280)
  .github/workflows/changelog.yml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#281)
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): prepare v1.33.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/247-lit-foundational.yml
  changelogs/fragments/dhcp-deploy-meta-platform.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/promote-develop-to-main.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#285)
  .github/workflows/promote-develop-to-main.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: verify collection release workflow cycle 1
  changelogs/fragments/release-verification-1.yml
Due: yamllint-ee, ansible-lint-ee

test: verify collection release workflow cycle 1 (#290)
  changelogs/fragments/release-verification-1.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): prepare v1.34.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/release-verification-1.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#294)
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: verify collection release workflow cycle 2
  changelogs/fragments/release-verification-2.yml
Due: yamllint-ee, ansible-lint-ee

test: verify collection release workflow cycle 2 (#297)
  changelogs/fragments/release-verification-2.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): prepare v1.35.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/release-verification-2.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
