Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(devtools): run local quality hooks in pinned container
  .pre-commit-config.yaml
  changelogs/fragments/local-quality-devtools.yml
  scripts/devtools-local-quality.sh
  tests/unit/test_local_quality_devtools.py
Due: yamllint-ee, ansible-lint-ee

fix(devtools): bind local quality dispatcher to trusted policy
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

feat(access): add explicit Keycloak broker catalogs and OIDC identity claim
  changelogs/fragments/guacamole-oidc-username-claim.yml
  changelogs/fragments/keycloak-broker-catalogs.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/defaults/main.yml
  roles/guacamole_deploy/tasks/assert.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  roles/keycloak_cac/README.md
  roles/keycloak_cac/defaults/main.yml
  roles/keycloak_cac/meta/argument_specs.yml
  roles/keycloak_cac/tasks/assert.yml
  roles/keycloak_cac/tasks/cac_11_realms.yml
  roles/keycloak_cac/tasks/cac_17_authentication_flows.yml
  roles/keycloak_cac/tasks/cac_18_identity_providers.yml
  roles/keycloak_cac/tasks/cac_19_required_actions.yml
  roles/keycloak_cac/tasks/cac_21_realm_flow_bindings.yml
  tests/unit/test_guacamole_oidc_username.py
  tests/unit/test_keycloak_broker_catalogs.py
Due: yamllint-ee, ansible-lint-ee

fix(access): close broker review findings
  changelogs/fragments/guacamole-oidc-username-claim.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/keycloak-tiny/converge.yml
  molecule/keycloak-tiny/verify.yml
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/defaults/main.yml
  roles/keycloak_cac/tasks/assert.yml
  tests/unit/test_keycloak_broker_catalogs.py
Due: yamllint-ee, ansible-lint-ee

docs(keycloak): align lifecycle coverage limitation
  roles/keycloak_cac/README.md
Due: none

fix(review): advance protected main helper pin
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(vault): bind AppRole modules to supported runtime
  changelogs/fragments/li139-vault-approle-mount-point.yml
  roles/vault_secret_bundle/tasks/main.yml
  tests/unit/test_vault_secret_bundle_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(edge): constrain Keycloak proxy trust
  changelogs/fragments/keycloak-edge-proxy-boundary.yml
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/defaults/main.yml
  roles/keycloak_deploy/meta/argument_specs.yml
  roles/keycloak_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/systemd.yml
  roles/keycloak_deploy/templates/keycloak-pod.yml.j2
  roles/nginx_config/README.md
  roles/nginx_config/defaults/main.yml
  tests/unit/test_keycloak_role_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(edge): close private ingress review gaps
  changelogs/fragments/guacamole-native-quadlet.yml
  changelogs/fragments/keycloak-managed-postgres-container-dns.yml
  roles/guacamole_deploy/defaults/main.yml
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/defaults/main.yml
  roles/keycloak_deploy/meta/argument_specs.yml
  roles/keycloak_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/deploy_pod.yml
  roles/nginx_config/defaults/main.yml
  roles/nginx_config/templates/vhost.conf.j2
  roles/postgres_deploy/README.md
  roles/postgres_deploy/defaults/main.yml
  roles/postgres_deploy/tasks/assert.yml
  roles/postgres_deploy/tasks/systemd.yml
  tests/unit/test_guacamole_deploy_contracts.py
  tests/unit/test_keycloak_role_contracts.py
  tests/unit/test_nginx_vault_tls_contracts.py
  tests/unit/test_postgres_systemd_preservation.py
Due: yamllint-ee, ansible-lint-ee

fix(nginx): deduplicate projected waf directives
  roles/nginx_config/templates/vhost.conf.j2
  tests/unit/test_nginx_vault_tls_contracts.py
Due: none

fix(edge): harden proxy and legacy takeover
  roles/guacamole_deploy/tasks/systemd.yml
  roles/nginx_config/defaults/main.yml
  roles/nginx_config/templates/vhost.conf.j2
  tests/unit/test_guacamole_deploy_contracts.py
  tests/unit/test_keycloak_role_contracts.py
  tests/unit/test_nginx_vault_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(edge): fail closed on proxy identity
  roles/keycloak_deploy/defaults/main.yml
  roles/keycloak_deploy/tasks/assert.yml
  roles/nginx_config/README.md
  roles/nginx_config/defaults/main.yml
  roles/nginx_config/tasks/assert.yml
  tests/unit/test_keycloak_role_contracts.py
  tests/unit/test_nginx_vault_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(governance): accept native promotion aggregate
  changelogs/fragments/li218-dot-github-promotion-evidence.yml
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_promotion_aggregation.py
Due: yamllint-ee, ansible-lint-ee

test(governance): cover promotion run convergence
  tests/unit/test_dot_github_promotion_aggregation.py
Due: none

fix(governance): fail closed on promotion evidence drift
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_promotion_aggregation.py
Due: none

fix(governance): reject malformed promotion check URLs
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_promotion_aggregation.py
Due: none

fix(governance): fail closed on promotion title drift
  changelogs/fragments/li218-dot-github-promotion-evidence.yml
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_promotion_aggregation.py
Due: yamllint-ee, ansible-lint-ee

test(governance): prove promotion fallback rejection
  tests/unit/test_dot_github_promotion_aggregation.py
Due: none

test(governance): bind final promotion title reread
  tests/unit/test_dot_github_promotion_aggregation.py
Due: none

fix(governance): wait for newer promotion aggregate
  changelogs/fragments/li218-promotion-aggregate-race.yml
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_promotion_aggregation.py
Due: yamllint-ee, ansible-lint-ee

fix(governance): accept bounded promotion helper alias
  changelogs/fragments/li218-promotion-helper-alias.yml
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_promotion_aggregation.py
Due: yamllint-ee, ansible-lint-ee

fix(governance): reject malformed aggregate names
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_promotion_aggregation.py
Due: none

fix: recognize promotion aggregator topology
  .github/workflows/current-revision-rerun.yml
  changelogs/fragments/li218-rerun-promotion-aggregate-topology.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: bind promotion topology predicates
  .github/workflows/current-revision-rerun.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: bind promotion uniqueness guard
  tests/unit/test_workflow_security.py
Due: none

fix(devtools): bind non-root Git workspace
  scripts/lit-push-ready.py
  scripts/lit-repository-quality.py
  scripts/lit-trust-root-base-verifier.py
  tests/unit/test_push_ready_engine.py
  tests/unit/test_trust_root_base_verifier.py
Due: none

fix(devtools): trust exact workspace during base refresh
  scripts/lit-trust-root-base-verifier.py
  tests/unit/test_trust_root_base_verifier.py
Due: none

fix(nginx): reject blank WAF directives
  roles/nginx_config/tasks/assert.yml
  tests/unit/test_nginx_vault_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

feat(guacamole): scope forward proxy to application
  changelogs/fragments/li139-guacamole-container-proxy.yml
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/defaults/main.yml
  roles/guacamole_deploy/tasks/assert.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee

style(nginx): retain repository formatter output
  tests/unit/test_nginx_vault_tls_contracts.py
Due: none

fix(edge): close LI-139 runtime review gaps
  molecule/keycloak-tiny/converge.yml
  molecule/keycloak-tiny/verify.yml
  roles/guacamole_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/systemd.yml
  roles/nginx_config/templates/vhost.conf.j2
  roles/nginx_deploy/tasks/systemd.yml
  roles/postgres_deploy/tasks/systemd.yml
  tests/unit/test_guacamole_deploy_contracts.py
  tests/unit/test_keycloak_role_contracts.py
  tests/unit/test_nginx_vault_tls_contracts.py
  tests/unit/test_postgres_systemd_preservation.py
Due: yamllint-ee, ansible-lint-ee

fix(access): close terminal proxy and lifecycle review gaps
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/tasks/assert.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  roles/keycloak_deploy/tasks/systemd.yml
  roles/nginx_deploy/tasks/systemd.yml
  roles/postgres_deploy/tasks/systemd.yml
  tests/unit/test_guacamole_deploy_contracts.py
  tests/unit/test_guacamole_oidc_username.py
  tests/unit/test_keycloak_role_contracts.py
  tests/unit/test_nginx_vault_tls_contracts.py
  tests/unit/test_postgres_systemd_preservation.py
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
