Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(keycloak): expose acceptance identity claims
  molecule/keycloak-heavy/converge.yml
  molecule/shared/incus/collect-evidence.yml
  molecule/shared/keycloak/acceptance/test_acceptance.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): stabilize keycloak mapper evidence
  molecule/keycloak-heavy/converge.yml
  molecule/shared/incus/collect-evidence.yml
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): preserve browser session in acceptance probes
  molecule/shared/keycloak/acceptance/test_acceptance.py
Due: none

fix(ci): isolate nested Incus idmaps
  changelogs/fragments/incus-nested-idmap-isolation.yml
  molecule/atlas-observability-incus_heavy/molecule.yml
  molecule/keycloak-application-acceptance/molecule.yml
  molecule/keycloak-heavy/molecule.yml
  molecule/keycloak-tiny/molecule.yml
  molecule/rsyslog-lifecycle-incus_heavy/molecule.yml
  molecule/samba-lifecycle-incus_heavy/molecule.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

fix(test): route host-networked LDAPS locally
  changelogs/fragments/incus-nested-idmap-isolation.yml
  molecule/keycloak-heavy/converge.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(test): bind trusted runtime evidence
  changelogs/fragments/incus-nested-idmap-isolation.yml
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-heavy/converge.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix: restore PR validation and secret-safe diagnostics
  roles/aap_preflight/tasks/prepared_host.yml
  roles/vault_foundational/defaults/main.yml
  roles/vault_raft_snapshot/tasks/restore_drill.yml
  roles/vault_validate/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): unblock quota and non-runtime validation
  .github/workflows/collection-ci.yml
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: support large Vault Raft snapshot restores (#384)
  .github/workflows/collection-ci.yml
  .github/workflows/copilot-review.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  molecule/vault-raft-snapshot-basic/verify.yml
  roles/aap_preflight/tasks/prepared_host.yml
  roles/vault_foundational/defaults/main.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/defaults/main.yml
  roles/vault_raft_snapshot/tasks/assert.yml
  roles/vault_raft_snapshot/tasks/restore_drill.yml
  roles/vault_validate/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: isolate collection CI concurrency
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .pre-commit-config.yaml
  scripts/devtools-molecule.sh
  scripts/wunder-container-run.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

docs: record shared assets tooling sync
  changelogs/fragments/shared-assets-tooling-sync.yml
Due: yamllint-ee, ansible-lint-ee

fix: sync Renovate image inventory
  meta/source-dependencies.yml
Due: yamllint-ee, ansible-lint-ee

fix: preserve molecule workspace compatibility
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: none

fix(ci): retain sanitized runtime inventory
  molecule/shared/incus/collect-evidence.yml
Due: yamllint-ee, ansible-lint-ee

fix: clarify container engine fallback errors
  scripts/wunder-container-run.sh
Due: none

fix: avoid exposing Docker host details
  scripts/wunder-container-run.sh
Due: none

fix(ci): select successful runtime inventory result
  molecule/shared/incus/collect-evidence.yml
Due: yamllint-ee, ansible-lint-ee

test: expose sanitized Keycloak user failures
  molecule/keycloak-heavy/converge.yml
  molecule/shared/incus/collect-evidence.yml
  roles/keycloak_cac/defaults/main.yml
  roles/keycloak_cac/meta/argument_specs.yml
  roles/keycloak_cac/tasks/cac_15_users.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): stabilize Keycloak quality evidence
  molecule/keycloak-heavy/converge.yml
  molecule/shared/incus/collect-evidence.yml
  roles/keycloak_cac/defaults/main.yml
  roles/keycloak_cac/meta/argument_specs.yml
  roles/keycloak_cac/tasks/cac_15_users.yml
  roles/keycloak_cac/tasks/ldap_provider.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): embed sanitized runtime inventory
  molecule/shared/incus/collect-evidence.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): validate sanitized runtime inventory
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix: isolate collection CI concurrency (#394)
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(keycloak): omit empty LDAP search filter
  roles/keycloak_cac/tasks/ldap_provider.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared-assets-lit (#388)
  .pre-commit-config.yaml
  changelogs/fragments/shared-assets-tooling-sync.yml
  meta/source-dependencies.yml
  molecule/keycloak-heavy/converge.yml
  molecule/shared/incus/collect-evidence.yml
  roles/keycloak_cac/meta/argument_specs.yml
  roles/keycloak_cac/tasks/ldap_provider.yml
  scripts/devtools-molecule.sh
  scripts/wunder-container-run.sh
  scripts/wunder-devtools-ee.sh
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix: complete trusted Renovate pilot path
  .github/actions/run-quality-profile/action.yml
  .github/workflows/copilot-review.yml
  .github/workflows/renovate-guarded-automerge.yml
  molecule/shared/incus/create.yml
  renovate.json
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

fix(ci): ensure Incus runner inotify capacity
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): prune stale exact-owned Incus resources
  .github/actions/run-quality-profile/action.yml
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): revalidate stale networks from JSON list
  scripts/prune_stale_incus_resources.py
Due: none

fix: complete trusted Renovate pilot path (#395)
  .github/actions/run-quality-profile/action.yml
  .github/workflows/copilot-review.yml
  .github/workflows/renovate-guarded-automerge.yml
  molecule/shared/incus/create.yml
  renovate.json
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

fix(ci): preserve required container evidence
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/codex/prompts/remediate-copilot.md
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/copilot-review.yml
  scripts/devtools-molecule.sh
  scripts/wunder-container-run.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): harden Renovate automerge gates
  .github/actions/run-quality-profile/action.yml
  .github/workflows/copilot-review.yml
  .github/workflows/renovate-guarded-automerge.yml
  changelogs/fragments/renovate-automerge-followup.yml
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): clarify local workflow ownership
  .github/workflows/copilot-review.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(changelog): add YAML document start
  changelogs/fragments/renovate-automerge-followup.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): address final review findings
  changelogs/fragments/renovate-automerge-followup.yml
  scripts/prune_stale_incus_resources.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): satisfy collection sanity shebang policy
  scripts/prune_stale_incus_resources.py
Due: none

fix(keycloak): expose sanitized user reconciliation errors
  roles/keycloak_cac/tasks/cac_15_users.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): align supplementary checks with hardened runner
  scripts/prune_stale_incus_resources.py
  tests/unit/test_workflow_security.py
Due: none

fix(ci): reject legacy host uid mapping
  tests/unit/test_workflow_security.py
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
