Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

fix(release): tighten recovery refresh boundary
  .github/workflows/release-recovery-review-refresh.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): revalidate recovery provenance at mutation
  .github/workflows/release-recovery-review-refresh.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): authenticate recovery evidence fetch
  .github/workflows/release-recovery-review-refresh.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind recovery refresh to immutable evidence
  .github/workflows/release-recovery-review-refresh.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind recovery to PR base snapshot
  .github/workflows/release-recovery-review-refresh.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): admit protected skipped S0 topology
  .github/workflows/current-revision-rerun.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): keep skipped S0 jobs optional
  .github/workflows/current-revision-rerun.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): grant update-branch app scope
  .github/workflows/release-recovery-review-refresh.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind v3.4.1 to matching prepare run
  changelogs/release-preparation.json
Due: none

chore(release): stage failed v3.4.1 metadata recovery
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/li139-publication-ci-run-binding.yml
  changelogs/fragments/li139-release-app-review-refresh.yml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix(release): bind v3.4.1 receipt to exact prepare run
  changelogs/release-preparation.json
Due: none

fix(ci): classify release receipt as metadata
  scripts/devtools-changelog-check.sh
  tests/unit/test_changelog_head_ref.py
Due: none

chore(release): record receipt-policy fix
  changelogs/fragments/li139-release-receipt-policy.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync v3.4.2 release metadata to develop
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/li139-release-receipt-policy.yml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): accept absent systemd unit
  changelogs/fragments/li139-forward-proxy-missing-unit-preflight.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(evidence): emit Podman image inventory as JSON
  changelogs/fragments/li139-runtime-container-evidence-json.yml
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): align absence probes
  changelogs/fragments/li139-forward-proxy-missing-unit-preflight.yml
  roles/forward_proxy/tasks/verify_runtime_absent.yml
  roles/forward_proxy/tasks/verify_runtime_restart_boundary.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

revert(evidence): restore portable Podman inventory format
  changelogs/fragments/li139-runtime-container-evidence-json.yml
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(proxy): bind no-match status to empty diagnostics
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/verify_runtime_absent.yml
  roles/forward_proxy/tasks/verify_runtime_restart_boundary.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): use image-native liveness probe
  changelogs/fragments/li139-squid-image-native-liveness.yml
  molecule/forward-proxy-tiny/verify.yml
  roles/forward_proxy/README.md
  roles/forward_proxy/templates/squid-pod.yml.j2
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

test(forward-proxy): match bash tcp path
  molecule/forward-proxy-tiny/verify.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync v3.4.3 release metadata to develop
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/li139-forward-proxy-missing-unit-preflight.yml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): advance protected main helper pin
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(forward-proxy): validate probe image capability
  changelogs/fragments/li139-squid-image-native-liveness.yml
  roles/forward_proxy/README.md
  roles/forward_proxy/tasks/transition.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): forbid capability probe pulls
  roles/forward_proxy/README.md
  roles/forward_proxy/tasks/transition.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

feat(guacamole): bind oidc groups to connections
  changelogs/fragments/li139-guacamole-oidc-group-authorization.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/defaults/main.yml
  roles/guacamole_deploy/tasks/assert.yml
  roles/guacamole_deploy/tasks/main.yml
  roles/guacamole_deploy/tasks/reconcile_oidc_group.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(guacamole): make OIDC group authority declarative
  changelogs/fragments/li139-guacamole-oidc-group-authorization.yml
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/tasks/assert.yml
  roles/guacamole_deploy/tasks/main.yml
  roles/guacamole_deploy/tasks/reconcile_oidc_group.yml
  roles/guacamole_deploy/tasks/reconcile_oidc_groups.yml
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(release): reconcile ancestor tag tree state
  .github/workflows/release-back-sync.yml
  scripts/verify_release_back_sync.py
  tests/unit/test_release_back_sync_contract.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(guacamole): bind network and proxy boundary
  changelogs/fragments/li139-guacamole-static-network-proxy-boundary.yml
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/defaults/main.yml
  roles/guacamole_deploy/tasks/assert.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  roles/guacamole_deploy/templates/guacamole.service.j2
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(release): reject stale back-sync generations
  .github/workflows/release-back-sync.yml
  scripts/verify_release_back_sync.py
  tests/unit/test_release_back_sync_contract.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): rerun failed verifier dependency
  .github/workflows/current-revision-rerun.yml
  changelogs/fragments/li139-required-workflow-dependent-rerun.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(ci): bind verifier rerun topology
  .github/workflows/current-revision-rerun.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: recover v3.4.4 release metadata on develop
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/li139-squid-image-native-liveness.yml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix(postgres): preserve existing Podman systemd units
  changelogs/fragments/postgres-preserve-existing-systemd.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  roles/postgres_deploy/README.md
  roles/postgres_deploy/tasks/systemd.yml
  tests/unit/test_postgres_systemd_preservation.py
Due: yamllint-ee, ansible-lint-ee

test(postgres): run systemd regression in pinned devtools
  changelogs/fragments/postgres-preserve-existing-systemd.yml
  tests/unit/test_postgres_systemd_preservation.py
Due: yamllint-ee, ansible-lint-ee

test(postgres): bind the devtools shell executable
  tests/unit/test_postgres_systemd_preservation.py
Due: none

test(postgres): declare subprocess exit handling for sanity
  tests/unit/test_postgres_systemd_preservation.py
Due: none

fix(ci): preserve test resources owned by concurrent runs
  .github/actions/run-quality-profile/action.yml
  changelogs/fragments/incus-preserve-concurrent-runs.yml
  docs/testing/local-runner.md
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee
