Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#232)
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.31.3 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  57004291e36b74c098c002059203f49bb77fffa5
Due: none

docs: update AGENTS.md to include additional managed files and clarify Renovate and release policy
  AGENTS.md
Due: none

ci: add guarded Renovate automerge
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/renovate-guarded-automerge.yml
  AGENT.md
  AGENTS.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: add guarded Renovate automerge (#238)
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/renovate-guarded-automerge.yml
  AGENT.md
  AGENTS.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: set default AAP service state to 'not-managed' when not using systemd
  roles/aap_ops/tasks/main.yml
  roles/postgres_deploy/defaults/main.yml
  roles/postgres_deploy/tasks/deploy.yml
  roles/postgres_deploy/tasks/deploy_pod.yml
  roles/postgres_deploy/tasks/systemd.yml
  roles/postgres_deploy/templates/podman-kube@.service.j2
  roles/postgres_deploy/vars/Debian.yml
  roles/semaphore_deploy/defaults/main.yml
  roles/semaphore_deploy/tasks/deploy.yml
  roles/semaphore_deploy/tasks/deploy_pod.yml
  roles/semaphore_deploy/tasks/systemd.yml
  roles/semaphore_deploy/templates/podman-kube@.service.j2
  roles/semaphore_deploy/vars/Debian.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance systemd management for PostgreSQL and Semaphore with dynamic state determination
  .pre-commit-config.yaml
  .yamllint
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  bootstrap/keycloak-bootstrap.sh
  containerfiles/ldap/entrypoint-wrapper.sh
  roles/postgres_deploy/tasks/systemd.yml
  roles/semaphore_deploy/defaults/main.yml
  roles/semaphore_deploy/tasks/deploy_pod.yml
  roles/semaphore_deploy/tasks/systemd.yml
  roles/vault_backup_restore/defaults/main.yml
  scripts/bump_galaxy_version.py
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#239)
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/promote-develop-to-main.yml
  .pre-commit-config.yaml
  .yamllint
  AGENT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  renovate.base.json
  scripts/bump_galaxy_version.py
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#241)
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/promote-develop-to-main.yml
  .pre-commit-config.yaml
  .yamllint
  AGENT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  renovate.base.json
  scripts/bump_galaxy_version.py
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs: update AGENTS.md to include additional managed files and clarify Renovate and release policy (#245)
  AGENTS.md
Due: none

feat: add incus ESXi image and nested ESXi roles with validation and provisioning tasks
  molecule/incus-esxi-image-basic/converge.yml
  molecule/incus-esxi-image-basic/molecule.yml
  molecule/incus-esxi-image-basic/verify.yml
  roles/incus_esxi_image/README.md
  roles/incus_esxi_image/defaults/main.yml
  roles/incus_esxi_image/meta/main.yml
  roles/incus_esxi_image/tasks/assert.yml
  roles/incus_esxi_image/tasks/backup.yml
  roles/incus_esxi_image/tasks/main.yml
  roles/incus_esxi_image/tasks/metadata.yml
  roles/incus_nested_esxi/README.md
  roles/incus_nested_esxi/defaults/main.yml
  roles/incus_nested_esxi/meta/main.yml
  roles/incus_nested_esxi/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: update TLS certificate checks to support multiple sources and improve presence validation
  roles/nginx_config/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance Checkmk and Semaphore deployment roles with improved secret management and site repair tasks
  AGENTS.md
  docs/development/AGENTS.md
  docs/development/aap/AGENTS.md
  roles/checkmk_deploy/defaults/main.yml
  roles/checkmk_deploy/tasks/deploy_pod.yml
  roles/checkmk_deploy/tasks/systemd.yml
  roles/grafana_deploy/tasks/systemd.yml
  roles/loki_deploy/defaults/main.yml
  roles/loki_deploy/tasks/deploy_pod.yml
  roles/semaphore_deploy/defaults/main.yml
  roles/semaphore_deploy/tasks/deploy_pod.yml
  roles/vault_bootstrap/tasks/init.yml
  roles/vault_ops/tasks/unseal.yml
Due: yamllint-ee, ansible-lint-ee

feat: format code for improved readability in incus ESXi image and nested ESXi roles
  molecule/incus-esxi-image-basic/converge.yml
  molecule/incus-esxi-image-basic/verify.yml
  roles/incus_esxi_image/tasks/backup.yml
  roles/incus_nested_esxi/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: update role names for Wunderbox monitoring and logging syntax coverage
  molecule/wunderbox-monitoring-logging-basic/converge.yml
Due: yamllint-ee, ansible-lint-ee

chore: rely on GitHub Releases for release notes
  .github/workflows/collection-publish-galaxy.yml
  .releaserc
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  SECURITY.md
  package-lock.json
  package.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: add antsibull collection release workflow
  .github/workflows/changelog.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/semantic-release.yml
  .releaserc
  AGENTS.md
  CONTRIBUTING.md
  changelogs/config.yaml
  changelogs/fragments/.gitkeep
  package-lock.json
  package.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: restrict collection publish trigger
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync collection release wrapper
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs: sync collection release rules
  AGENTS.md
  CONTRIBUTING.md
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  changelogs/config.yaml
  changelogs/fragments/.gitkeep
  renovate.base.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync collection develop workflow
  .github/workflows/collection-ci.yml
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#249)
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  changelogs/config.yaml
  changelogs/fragments/.gitkeep
  renovate.base.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: add antsibull collection release workflow (#251)
  .releaserc
  package-lock.json
  package.json
Due: none

chore: add changelog fragment for foundational dependency
  changelogs/fragments/247-lit-foundational.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): promote develop to main (#247)
  .pre-commit-config.yaml
  changelogs/fragments/247-lit-foundational.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore: render shared-assets-lit baseline
  .github/workflows/changelog.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  AGENTS.md
  renovate.base.json
  renovate.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate
