Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

fix(release): pin isolated validation concurrency
  .github/workflows/collection-ci.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): pin isolated validation concurrency (#484)
  .github/workflows/collection-ci.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): pin complete validation toolchain
  .github/workflows/collection-ci.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): pin complete validation toolchain (#486)
  .github/workflows/collection-ci.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): select only collection candidate
  .github/workflows/collection-ci.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): select only collection candidate (#488)
  .github/workflows/collection-ci.yml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-host-prepare-action.yml
  changelogs/fragments/aap-preflight-ee-version.yml
  changelogs/fragments/aap-preflight-molecule-scenario.yml
  changelogs/fragments/aap-preflight-transport-address-hotfix.yml
  changelogs/fragments/aap-rhel9-registry-ee.yml
  changelogs/fragments/delegate-infrastructure-validation.yml
  changelogs/fragments/enterprise-role-quality.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  changelogs/fragments/incus-nested-idmap-isolation.yml
  changelogs/fragments/keycloak-auditable-tests.yml
  changelogs/fragments/keycloak-impact-selection.yml
  changelogs/fragments/renovate-automerge-followup.yml
  changelogs/fragments/shared-assets-tooling-sync.yml
  changelogs/fragments/vault-raft-snapshot-restore-timeout.yml
  changelogs/fragments/vault-raft-snapshot-size-diagnostic.yml
  changelogs/release-preparation.json
  galaxy.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): select only collection publish candidate
  .github/workflows/collection-publish.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): select only collection publish candidate (#490)
  .github/workflows/collection-publish.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: fix wrong vars
  roles/vault_config/templates/vault.hcl.j2
Due: none

chore(release): prepare v1.40.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/ansible-posix-21-compat.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

fix(release): record publish candidate correction
  changelogs/fragments/490-publish-candidate-selection.yml
Due: yamllint-ee, ansible-lint-ee

fix(release): record publish candidate correction (#492)
  changelogs/fragments/490-publish-candidate-selection.yml
Due: yamllint-ee, ansible-lint-ee

fix(release): make state validation version neutral
  changelogs/fragments/493-release-state-version-neutral.yml
  tests/unit/test_release_version.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(release): make state validation version neutral (#494)
  changelogs/fragments/493-release-state-version-neutral.yml
  tests/unit/test_release_version.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(release): scope public candidate checksum
  .github/workflows/collection-publish.yml
  changelogs/fragments/495-release-candidate-checksum.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): scope public candidate checksum (#496)
  .github/workflows/collection-publish.yml
  changelogs/fragments/495-release-candidate-checksum.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Delegate candidate heavy validation
  .github/workflows/candidate-platform-validation.yml
  TESTING.md
  changelogs/fragments/adr-heavy-execution-ownership.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Delegate candidate heavy validation (#499)
  .github/workflows/candidate-platform-validation.yml
  TESTING.md
  changelogs/fragments/adr-heavy-execution-ownership.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): tolerate deleted Incus network devices
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
Due: none

docs(governance): record collection assurance decision
  OPENSSF.md
Due: none

style(ci): format Incus lifecycle regression test
  tests/unit/test_incus_lifecycle.py
Due: none

docs: record ADR assurance change
  changelogs/fragments/adr-assurance.yml
Due: yamllint-ee, ansible-lint-ee

chore: address ADR assurance review
  OPENSSF.md
  changelogs/fragments/adr-assurance.yml
Due: yamllint-ee, ansible-lint-ee

docs(governance): connect verified release model to ADRs (#503)
  OPENSSF.md
  changelogs/fragments/adr-assurance.yml
Due: yamllint-ee, ansible-lint-ee

feat(object-storage): add Hetzner S3 CaC role
  README.md
  changelogs/fragments/hetzner-object-storage-cac.yml
  docs/testing/role-coverage.md
  galaxy.yml
  meta/role-coverage.yml
  meta/source-dependencies.yml
  molecule/hetzner-object-storage-tiny/converge.yml
  molecule/hetzner-object-storage-tiny/molecule.yml
  molecule/hetzner-object-storage-tiny/verify.yml
  roles/hetzner_object_storage_cac/README.md
  roles/hetzner_object_storage_cac/defaults/main.yml
  roles/hetzner_object_storage_cac/meta/main.yml
  roles/hetzner_object_storage_cac/tasks/assert.yml
  roles/hetzner_object_storage_cac/tasks/audit.yml
  roles/hetzner_object_storage_cac/tasks/main.yml
  roles/hetzner_object_storage_cac/tasks/reconcile.yml
  roles/hetzner_object_storage_cac/tasks/resolve_credentials.yml
  tests/test_role_coverage.py
  tests/unit/test_source_dependencies.py
Due: yamllint-ee, ansible-lint-ee

fix(aap): harden containerized deployment preflight
  changelogs/fragments/aap-deploy-hub-readiness-url.yml
  changelogs/fragments/aap-host-prepare-selinux.yml
  changelogs/fragments/aap-prepare-fqdn-fallback.yml
  changelogs/fragments/aap-tls-source-validation.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_host_prepare/README.md
  roles/aap_host_prepare/defaults/main.yml
  roles/aap_host_prepare/tasks/assert.yml
  roles/aap_host_prepare/tasks/main.yml
  roles/aap_host_prepare/tasks/selinux.yml
  roles/aap_prepare/README.md
  roles/aap_prepare/defaults/main.yml
  roles/aap_prepare/tasks/assert.yml
  roles/aap_prepare/tasks/main.yml
  roles/aap_prepare/tasks/precheck_gateway_dns.yml
  roles/aap_tls/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): preserve remote TLS and check-mode behavior
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_host_prepare/tasks/main.yml
  roles/aap_tls/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(release): drop unused back-sync issue scope
  .github/workflows/release-back-sync.yml
  changelogs/fragments/release-backsync-least-privilege.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): remove back-sync label dependency
  .github/workflows/copilot-review.yml
  .github/workflows/release-back-sync.yml
  changelogs/fragments/release-backsync-least-privilege.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(sync): keep managed review workflow canonical
  .github/workflows/copilot-review.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs: define trusted release preparation review
  RELEASE.md
Due: none

chore: record release review documentation
  changelogs/fragments/trusted-release-preparation-review.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): disable become for controller TLS checks
  changelogs/fragments/aap-deploy-controller-tls-no-become.yml
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
Due: yamllint-ee, ansible-lint-ee

fix: align keycloak runtime assertions
  .pre-commit-config.yaml
  changelogs/fragments/keycloak-runtime-assertions.yml
  molecule/keycloak-heavy/verify.yml
  molecule/keycloak-tiny/verify.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix: align source dependency inventory
  meta/source-dependencies.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): restore official gateway upload path
  changelogs/fragments/aap-restore-upstream-gateway-upload.yml
  molecule/aap-deploy-basic/converge.yml
  molecule/aap-deploy-basic/verify.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/16_hub_registry_trust.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(release): avoid private cross-app lookup
  .github/workflows/release-back-sync.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(governance): align collection trust-root owners
  .github/CODEOWNERS
  tests/unit/test_workflow_security.py
Due: none

fix(aap): leave EDA settings to upstream
  changelogs/fragments/aap-restore-upstream-gateway-upload.yml
  molecule/aap-deploy-basic/converge.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  tests/unit/test_aap_gateway_contracts.py
Due: yamllint-ee, ansible-lint-ee
