Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

chore(release): 1.28.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  73f327f210b03c29fa36af17a36ac6b8d25daaa4
Due: none

chore(release): 1.28.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  755c4e843451d24f5af7a0716e509af7acd7a547
Due: none

feat: enhance AAP deployment with Ansible remote tmp bootstrap and improved diagnostics
  docs/testing/aap.md
  playbooks/aap_deploy.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/35_installer_environment.yml
  roles/aap_deploy/tasks/40_install.yml
  scripts/test-aap-install-temp-incus
Due: yamllint-ee, ansible-lint-ee

feat: enhance AAP deployment with Ansible remote tmp bootstrap and improved diagnostics (#219)
  docs/testing/aap.md
  playbooks/aap_deploy.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/35_installer_environment.yml
  roles/aap_deploy/tasks/40_install.yml
  scripts/test-aap-install-temp-incus
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.29.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  b77654eb735208a677e704cc4a51e903ec2f1343
Due: none

chore(release): 1.30.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  4d3f53d34474d90a2d45a7e137eea7d5787256a1
Due: none

feat: add DNS precheck and gateway configuration options for AAP deployment
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/08_validate_dns.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/50_verify.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

refactor: remove DNS precheck variables and validation tasks from AAP deployment
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/08_validate_dns.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: set ANSIBLE_HOME for temporary Ansible files and clean up stale collections
  scripts/devtools-ansible-lint.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
  scripts/test-aap-install-temp-incus
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#222)
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
  scripts/test-aap-install-temp-incus
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: role aap deploy (#223)
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/50_verify.yml
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.30.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  68fbf602892a59711a4262ee578dd42d10d85f75
Due: none

feat: enhance runtime probe logic and ensure install user home directory exists
  roles/aap_deploy/tasks/05_detect_existing_install.yml
  roles/aap_deploy/tasks/10_host_prep.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance user account inspection and validation in host preparation
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance runtime probe (#228)
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/05_detect_existing_install.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.31.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  6525a57c1fe401dfebdb57b6c01769630e54a0d0
Due: none

refactor: remove podman storage configuration and related tasks from aap_deploy role
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/vars/RedHat-10.yml
  roles/aap_deploy/vars/RedHat-9.yml
Due: yamllint-ee, ansible-lint-ee

fix: update default archive source path for aap deployment
  roles/aap_deploy/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

Remove aap-rhel9 and aap-rhel10 Molecule scenarios and associated files
  README.md
  deploy/incus/README.md
  deploy/incus/create.sh
  deploy/incus/destroy.sh
  deploy/incus/examples/aap-rhel10.env
  deploy/incus/examples/aap-rhel9.env
  deploy/incus/inventory.sh
  deploy/incus/profiles/rhel10.yml
  deploy/incus/profiles/rhel9.yml
  deploy/incus/wait-for-instance.sh
  docs/development/AGENTS.md
  docs/development/aap-rhel10-incus.md
  docs/development/aap/AGENTS.md
  docs/testing/README.md
  docs/testing/aap.md
  molecule/aap-rhel10/.molecule-mode
  molecule/aap-rhel10/converge.yml
  molecule/aap-rhel10/create.yml
  molecule/aap-rhel10/destroy.yml
  molecule/aap-rhel10/idempotence.yml
  molecule/aap-rhel10/molecule.yml
  molecule/aap-rhel10/prepare.yml
  molecule/aap-rhel10/verify.yml
  molecule/aap-rhel9/.molecule-mode
  molecule/aap-rhel9/converge.yml
  molecule/aap-rhel9/create.yml
  molecule/aap-rhel9/destroy.yml
  molecule/aap-rhel9/idempotence.yml
  molecule/aap-rhel9/molecule.yml
  molecule/aap-rhel9/prepare.yml
  molecule/aap-rhel9/verify.yml
Due: yamllint-ee, ansible-lint-ee

Refactor AAP roles and tasks for improved clarity and structure
  AGENTS.md
  extensions/molecule/aap-deploy-basic/converge.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_16_controller_teams.yml
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/05_detect_existing_install.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
  roles/aap_destory/README.md
  roles/aap_destory/defaults/main.yml
  roles/aap_destory/meta/main.yml
  roles/aap_destory/tasks/assert.yml
  roles/aap_destory/tasks/main.yml
  roles/aap_destroy/defaults/main.yml
  roles/aap_ops/README.md
  roles/aap_ops/defaults/main.yml
  roles/aap_ops/tasks/assert.yml
  roles/aap_ops/tasks/main.yml
  roles/aap_prepare/tasks/resolve_artifact.yml
Due: yamllint-ee, ansible-lint-ee

fix: update default install user and home directory for aap_deploy role
  docs/development/aap/AGENTS.md
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: add AAP gateway DNS precheck validation before artifact staging
  roles/aap_prepare/README.md
  roles/aap_prepare/defaults/main.yml
  roles/aap_prepare/tasks/assert.yml
  roles/aap_prepare/tasks/main.yml
  roles/aap_prepare/tasks/precheck_gateway_dns.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.31.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  8c44bfd64979d1c939e3bcd181019aece1ebdfe7
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  AGENT.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#230)
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  AGENT.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.31.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  fb11f7a72eb8c887bc970314f5c457f1446d38f9
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
