Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

docs(rep60): align bounded promotion changelog
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
Due: yamllint-ee, ansible-lint-ee

docs(rep60): restore finalized opening contract
  docs/push-ready-optimization.md
  tests/unit/test_bounded_promotion_transition.py
Due: none

test(rep60): pin workflow fixture encoding
  tests/unit/test_bounded_promotion_transition.py
Due: none

style(tests): format workflow fixture read
  tests/unit/test_bounded_promotion_transition.py
Due: none

fix(rep60): bind legacy promotion handoff
  .github/workflows/current-revision-rerun.yml
  .github/workflows/release-bot-exact-head-review.yml
  tests/unit/test_bounded_promotion_transition.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(tests): format transition assertions
  tests/unit/test_bounded_promotion_transition.py
Due: none

fix(devtools): keep local molecule socket-free
  .github/copilot-instructions.md
  AGENTS.md
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
  scripts/devtools-collection-prepare.sh
  scripts/devtools-molecule.sh
  scripts/lit-ci-profile.sh
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(devtools): keep all local helpers offline
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_workflow_security.py
Due: none

fix(devtools): preserve reviewed CI trust root
  scripts/lit-ci-profile.sh
  tests/unit/test_bounded_promotion_transition.py
Due: none

fix(devtools): bind molecule state to tmpfs
  .github/workflows/release-bot-exact-head-review.yml
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
  scripts/devtools-collection-prepare.sh
  scripts/devtools-molecule.sh
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(tests): format bounded hash binding
  tests/unit/test_bounded_promotion_transition.py
Due: none

fix(rep60): bind human verifier handoff
  .github/workflows/copilot-review.yml
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): close final review gaps
  .github/workflows/current-revision-rerun.yml
  changelogs/fragments/rep60-bounded-exact-review-promotion.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(rep60): format review contract tests
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_workflow_security.py
Due: none

test(rep60): accept explicit workflow SHA binding
  tests/unit/test_exact_revision_review.py
Due: none

test(rep60): enforce one workflow SHA binding
  tests/unit/test_exact_revision_review.py
Due: none

fix(rep60): make ancestry backmerge review deterministic
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  AGENTS.md
  changelogs/fragments/rep60-supplementary-ancestry-zero-ai.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(rep60): allow only bound ancestry exception
  tests/unit/test_exact_revision_review.py
Due: none

fix(rep60): align v6 neutral evidence contract
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs(rep60): bind v6 neutral evidence contract
  .github/copilot-instructions.md
  AGENTS.md
  changelogs/fragments/rep60-v6-neutral-evidence-contract.yml
Due: yamllint-ee, ansible-lint-ee

test(rep60): clarify missing producer markers
  tests/unit/test_exact_revision_review.py
Due: none

fix(rep60): prepare bounded v5 successor
  .github/workflows/collection-ci.yml
  changelogs/fragments/rep60-catchup-v5-successor-ci.yml
  tests/unit/test_bounded_promotion_transition.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): name the v5 successor accurately
  changelogs/fragments/rep60-catchup-v5-successor-ci.yml
Due: yamllint-ee, ansible-lint-ee

fix(rep60): backport producer convergence to main
  changelogs/fragments/rep60-required-status-stability.yml
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_current_revision.py
Due: yamllint-ee, ansible-lint-ee

fix: bind main PR review controller to develop
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: stabilize main promotion authorization clock
  scripts/main-promotion-authorization.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_security_main_promotion.py
Due: none

fix: narrow main controller ancestry query
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: stabilize main promotion authorization clock
  scripts/main-promotion-authorization.py
  tests/unit/test_security_main_promotion.py
Due: none

fix: wait for valid producer run states
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_current_revision.py
Due: none

fix: allow exact small-team promotion approvals
  scripts/main-promotion-authorization.py
  tests/unit/test_main_promotion_authorization.py
Due: none

fix: align workflow with small-team approvals
  .github/workflows/main-promotion-authorization.yml
  changelogs/fragments/small-team-promotion-approval.yml
  tests/unit/test_main_promotion_authorization.py
  tests/unit/test_main_promotion_merge_gate.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: use release team approval contract
  .github/workflows/main-promotion-authorization.yml
  scripts/main-promotion-authorization.py
  tests/unit/test_main_promotion_authorization.py
  tests/unit/test_main_promotion_merge_gate.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs: declare local promotion controller ownership
  .lit/repository.yml
Due: yamllint-ee, ansible-lint-ee

fix: verify prepared release merge provenance
  scripts/devtools-changelog-check.sh
  scripts/verify-prepared-release-merge.sh
  tests/unit/test_exact_revision_review.py
Due: none

fix: satisfy release merge helper shellcheck
  scripts/verify-prepared-release-merge.sh
Due: none

fix: reject symlinked release records
  scripts/verify-prepared-release-merge.sh
  tests/unit/test_exact_revision_review.py
Due: none

fix: harden prepared release provenance
  scripts/verify-prepared-release-merge.sh
  tests/unit/test_exact_revision_review.py
Due: none

test: satisfy release verifier lint contract
  tests/unit/test_exact_revision_review.py
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
