Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

style(tests): format protected promotion regression checks
  tests/unit/test_protected_promotion_adoption.py
Due: none

fix(release): require coordinated main metadata before promotion
  .github/workflows/promote-develop-to-main.yml
  changelogs/fragments/promotion-release-state-guard.yml
  tests/unit/test_promotion_release_state_guard.py
  tests/unit/test_protected_promotion_adoption.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): recover prepared v4.0.0 metadata on develop
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/guacamole-native-quadlet.yml
  changelogs/fragments/keycloak-edge-proxy-boundary.yml
  changelogs/fragments/keycloak-managed-postgres-container-dns.yml
  changelogs/fragments/li139-guacamole-container-proxy.yml
  changelogs/fragments/li218-dot-github-promotion-evidence.yml
  changelogs/fragments/li218-promotion-aggregate-race.yml
  changelogs/fragments/li218-promotion-helper-alias.yml
  changelogs/fragments/li218-rerun-promotion-aggregate-topology.yml
  changelogs/fragments/nginx-native-quadlet.yml
  changelogs/fragments/nginx-vault-waf-boundary.yml
  changelogs/release-preparation.json
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

test: declare expected subprocess failures explicitly
  tests/unit/test_promotion_release_state_guard.py
Due: none

fix(ci): preserve version-bound security release state
  .github/workflows/promote-develop-to-main.yml
  tests/unit/test_promotion_release_state_guard.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): preserve all historical security release records
  .github/workflows/promote-develop-to-main.yml
  tests/unit/test_promotion_release_state_guard.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: align promotion review helper with protected main
  .github/workflows/copilot-review.yml
  changelogs/fragments/main-review-helper-pin.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(nginx): bind Vault TLS calls to supported controller runtime
  changelogs/fragments/li139-nginx-vault-runtime.yml
  roles/nginx_config/README.md
  roles/nginx_config/tasks/main.yml
  tests/unit/test_nginx_vault_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

test(nginx): keep Vault module docs in mandatory Devtools gate
  tests/test_nginx_vault_module_docs.py
  tests/unit/test_nginx_vault_tls_contracts.py
Due: none

fix(ci): bound release validation across exact-run windows
  .github/workflows/collection-publish.yml
  .github/workflows/release-validation-window.yml
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): revalidate CI producer through publication
  .github/workflows/collection-publish.yml
  .github/workflows/release-validation-window.yml
  scripts/verify-release-ci-run.sh
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind ModuLix receipt polling to exact attempt
  scripts/modulix-validation-receipt.py
  tests/unit/test_modulix_validation_receipt.py
Due: none

Add bound staged-release handoff validator
  scripts/release-stage-handoff.py
  tests/unit/test_release_stage_handoff.py
Due: none

Add bounded ModuLix receipt continuation windows
  scripts/modulix-validation-receipt.py
  tests/unit/test_modulix_validation_receipt.py
Due: none

Stage exact release handoff before validation dispatch
  .github/workflows/collection-publish.yml
  scripts/release-stage-handoff.py
  tests/unit/test_release_stage_handoff.py
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Add bound 90-minute ModuLix validation window
  .github/workflows/modulix-validation-window.yml
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Bound Security publish across validation windows
  .github/workflows/collection-publish.yml
  .github/workflows/modulix-validation-window.yml
  tests/unit/test_security_publication_golden_path.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Require bounded publication queue policy
  .github/actionlint.yaml
  .github/workflow-queue-policy.json
  .github/workflows/collection-publish.yml
  scripts/validate-actionlint-queue-policy.py
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Bound remaining local collection release jobs
  .github/actionlint.yaml
  .github/workflow-queue-policy.json
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(keycloak): add bounded paired native network migration
  changelogs/fragments/keycloak-coupled-native-network-migration.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  plugins/filter/keycloak_native_migration.py
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/defaults/main.yml
  roles/keycloak_deploy/meta/argument_specs.yml
  roles/keycloak_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/deploy.yml
  roles/keycloak_deploy/tasks/deploy_pod.yml
  roles/keycloak_deploy/tasks/native_network_migration.yml
  roles/keycloak_deploy/tasks/native_network_restore.yml
  roles/keycloak_deploy/tasks/native_network_snapshot.yml
  roles/keycloak_deploy/tasks/native_network_snapshot_file.yml
  roles/keycloak_deploy/tasks/native_network_start.yml
  tests/unit/test_keycloak_native_migration_plan.py
  tests/unit/test_keycloak_role_contracts.py
  tests/unit/test_native_network_migration_boundary.py
  tests/unit/test_native_network_snapshot_contract.py
  tests/unit/test_native_network_transaction.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): validate all paired rollback targets before restore
  changelogs/fragments/keycloak-coupled-native-network-migration.yml
  roles/keycloak_deploy/tasks/native_network_migration.yml
  roles/keycloak_deploy/tasks/native_network_validate_restore.yml
  tests/unit/test_native_network_migration_boundary.py
  tests/unit/test_native_network_snapshot_contract.py
  tests/unit/test_native_network_transaction.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): align native unit and dynamic network contracts
  changelogs/fragments/keycloak-coupled-native-network-migration.yml
  plugins/filter/keycloak_native_migration.py
  roles/keycloak_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/native_network_migration.yml
  tests/unit/test_keycloak_native_migration_plan.py
  tests/unit/test_native_network_migration_boundary.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): validate dynamic peers and reconstructable prior networks
  changelogs/fragments/keycloak-coupled-native-network-migration.yml
  plugins/filter/keycloak_native_migration.py
  roles/keycloak_deploy/README.md
  tests/unit/test_keycloak_native_migration_plan.py
  tests/unit/test_native_network_transaction.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): preserve semantic manifests after paired migration
  changelogs/fragments/keycloak-coupled-native-network-migration.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  plugins/filter/keycloak_native_migration.py
  plugins/filter/native_manifest.py
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/tasks/systemd.yml
  roles/postgres_deploy/README.md
  roles/postgres_deploy/tasks/systemd.yml
  tests/unit/test_keycloak_native_migration_plan.py
  tests/unit/test_keycloak_role_contracts.py
  tests/unit/test_native_manifest_reconciliation.py
  tests/unit/test_postgres_systemd_preservation.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): bind rollback ownership and reject ambiguous snapshots
  changelogs/fragments/keycloak-coupled-native-network-migration.yml
  plugins/filter/keycloak_native_migration.py
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/tasks/native_network_restore.yml
  roles/keycloak_deploy/tasks/native_network_snapshot.yml
  roles/keycloak_deploy/tasks/native_network_validate_restore.yml
  tests/unit/test_keycloak_native_migration_plan.py
  tests/unit/test_native_manifest_reconciliation.py
  tests/unit/test_native_network_transaction.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): bind managed database container DNS alias
  changelogs/fragments/keycloak-managed-container-database-dns.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  plugins/filter/keycloak_native_migration.py
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/native_network_migration.yml
  roles/keycloak_deploy/tasks/native_network_start.yml
  tests/unit/test_keycloak_native_migration_plan.py
  tests/unit/test_native_network_transaction.py
Due: yamllint-ee, ansible-lint-ee

Initialize LI219 review operations metadata
  manifest.json
Due: none

feat(review): prepare gated Supplementary LI-219 pilot port
  .github/copilot-instructions.md
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/dot-github-current-revision-required.yml
  .github/workflows/review-event-reconcile.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  .lit/push-ready.json
  AGENTS.md
  changelogs/fragments/li219-review-event-pilot.yml
  scripts/lit-push-ready.py
  scripts/review-event-reconcile.py
  scripts/review_content_markers.py
  scripts/verify-dot-github-current-revision.py
  tests/unit/review_event_contract_helpers.py
  tests/unit/test_dot_github_current_revision.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_li219_pilot_contract.py
  tests/unit/test_li219_required_topology.py
  tests/unit/test_push_ready_engine.py
  tests/unit/test_review_event_port.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_operation_cas.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): adopt bounded reconciler inventory for Supplementary pilot
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  scripts/review-event-reconcile.py
  tests/unit/test_review_event_reconcile.py
Due: none

fix(review): port protected first-request continuation to Supplementary
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  .github/workflows/review-event-reconcile.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  changelogs/fragments/li219-review-event-pilot.yml
  scripts/review-event-reconcile.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  tests/unit/test_li219_pilot_contract.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_operation_cas.py
  tests/unit/test_review_request_continuation.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li219): align original request failure with final Source donor
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  tests/unit/test_review_operation_cas.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li219): port native inventory and continuation corrections
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  scripts/review-event-reconcile.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_request_continuation.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): adopt verified d5 pilot bundle and native request timing
  .github/copilot-instructions.md
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/review-event-reconcile.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  scripts/review-event-reconcile.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_request_continuation.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(review): prepare 65ce pilot and SINGLE closure on hold
  .github/copilot-instructions.md
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-bot-exact-head-review.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-recovery-review-refresh.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-gateway-source.json
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  scripts/bounded_review.py
  scripts/bounded_review_config.py
  scripts/bounded_review_provider.py
  scripts/bounded_review_transport.py
  scripts/exact_revision_gateway.py
  scripts/materialize-exact-revision-review.py
  scripts/review-event-reconcile.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  scripts/single_review_resources.py
  tests/unit/test_exact_revision_gateway.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_managed_exact_revision_materializer_security.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_operation_cas.py
  tests/unit/test_review_request_continuation.py
  tests/unit/test_single_review_resources.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: scope canonical materializer lint exceptions
  .pre-commit-config.yaml
  pyproject.toml
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): allow scoped Quadlet DNS aliases
  changelogs/fragments/li139-postgres-quadlet-dns-alias.yml
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/tasks/assert.yml
  roles/postgres_deploy/tasks/assert.yml
  tests/unit/test_keycloak_role_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): bind Quadlet database aliases
  plugins/filter/keycloak_native_migration.py
  tests/unit/test_keycloak_native_migration_plan.py
  tests/unit/test_keycloak_role_contracts.py
Due: none

fix(keycloak): preserve database alias provenance
  plugins/filter/keycloak_native_migration.py
  tests/unit/test_keycloak_native_migration_plan.py
Due: none

fix(keycloak): require exclusive database alias
  plugins/filter/keycloak_native_migration.py
  tests/unit/test_keycloak_native_migration_plan.py
Due: none

fix(keycloak): prove exclusive database alias
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/keycloak-tiny/converge.yml
  molecule/keycloak-tiny/verify.yml
  plugins/filter/keycloak_native_migration.py
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/tasks/assert.yml
  roles/postgres_deploy/README.md
  tests/unit/test_keycloak_native_migration_plan.py
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
