Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

fix(review): support portable test roots
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  roles/aap_tls/README.md
  roles/aap_tls/tasks/assert.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/tasks/assert.yml
  tests/unit/test_aap_tls_contracts.py
  tests/unit/test_vault_rootless_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(review): bind rootless ownership to controller
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  molecule/aap-tls-basic/converge.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  roles/aap_tls/README.md
  roles/aap_tls/tasks/assert.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/tasks/assert.yml
  tests/unit/test_aap_tls_contracts.py
  tests/unit/test_vault_rootless_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(review): reject symlinked AAP trust targets
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  molecule/aap-tls-basic/converge.yml
  roles/aap_tls/README.md
  roles/aap_tls/tasks/assert.yml
  tests/unit/test_aap_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

style(mlx90): format review workflow regression test
  tests/unit/test_workflow_security.py
Due: none

fix(mlx90): request review for ready PR creation
  .github/workflows/copilot-review.yml
  changelogs/fragments/mlx90-copilot-request-visibility.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): wait for Copilot request visibility
  .github/workflows/copilot-review.yml
  changelogs/fragments/mlx90-copilot-request-visibility.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): scope ready review requests to develop
  .github/workflows/copilot-review.yml
  changelogs/fragments/mlx90-copilot-request-visibility.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(security): recover 3.2.4 intake binding
  .github/workflows/security-release-dispatch.yml
  .github/workflows/security-release-intake.yml
  changelogs/fragments/security-intake-3.2.4-recovery.yml
  scripts/security-release-dispatch.py
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): use detached switch for synthetic roots
  scripts/lit-push-ready.py
  scripts/security_release_contract.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(review): detach exact fetched commit
  scripts/lit-push-ready.py
Due: none

fix(review): bracket recovery workflow outputs
  .github/workflows/security-release-dispatch.yml
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(security): exercise recovery topology
  tests/unit/test_security_release_request_dispatch.py
Due: none

fix(review): retain compatible detached checkout
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(security): isolate recovery controller checkout
  .github/workflows/security-release-dispatch.yml
  scripts/security-release-dispatch.py
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): bind trusted develop controller
  .github/workflows/security-release-dispatch.yml
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): bind immutable recovery controller tree
  .github/workflows/security-release-dispatch.yml
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): bind historical recovery fragment
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: none

test(review): align recovery fixture binding
  scripts/security-release-dispatch.py
  tests/unit/test_security_release_request_dispatch.py
Due: none

fix(security): accept exact recovered release binding
  scripts/security_release_contract.py
  tests/unit/test_security_release_contract.py
Due: none

fix: relay security recovery through protected main
  .github/workflows/security-release-dispatch.yml
  changelogs/fragments/security-intake-3.2.4-recovery.yml
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: prevent release back-sync cleanup race
  tests/unit/test_release_back_sync_contract.py
Due: none

test: verify recovery follow-up repository state
  tests/unit/test_security_release_request_dispatch.py
Due: none

fix: bind protected develop recovery advance
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: none

fix(security): verify recovery receipt gates
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  changelogs/fragments/security-recovery-receipt-gates.yml
  scripts/classify-security-release.py
  scripts/security_main_promotion.py
  tests/unit/test_security_main_promotion.py
  tests/unit/test_security_release_classification.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(ci): preserve normal security changelog flow
  .github/workflows/changelog.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): classify recovery receipt main pushes
  scripts/classify-security-release.py
  tests/unit/test_security_release_classification.py
Due: none

fix(security): refresh recovery receipt branch
  .github/workflows/security-release-intake.yml
  changelogs/fragments/security-recovery-receipt-refresh.yml
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(security): bind terminal recovery promotion
  changelogs/fragments/security-recovery-terminal-promotion.yml
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee

fix(security): accept ancestral PR base snapshot
  .github/workflows/security-release-intake.yml
  changelogs/fragments/security-recovery-pr-base-snapshot.yml
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind exact Security hotfix fragment
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/security-release-dispatch.yml
  changelogs/fragments/security-hotfix-fragment-selection.yml
  scripts/release-version.py
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_release_version.py
  tests/unit/test_security_release_request_dispatch.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): require YAML security fragments
  scripts/release-version.py
  scripts/security_release_contract.py
  tests/unit/test_release_version.py
Due: none

fix(ci): initialize release review Python without cache
  .github/workflows/copilot-review.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(ci): parse release review workflow semantically
  tests/unit/test_workflow_security.py
Due: none

docs(release): record Copilot setup correction
  changelogs/fragments/release-copilot-python-setup.yml
Due: yamllint-ee, ansible-lint-ee

fix(security): bind post-changelog recovery promotion
  changelogs/fragments/security-recovery-post-changelog-promotion.yml
  scripts/security-release-intake.py
  scripts/security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: yamllint-ee, ansible-lint-ee

test(security): align recovery topology with allowlist
  scripts/security_release_contract.py
  tests/unit/test_security_release_request_dispatch.py
Due: none

test(security): mirror recovery allowlist paths
  tests/unit/test_security_release_request_dispatch.py
Due: none

fix(security): rebind exact recovery digest
  scripts/security_release_contract.py
Due: none

style(security): format recovery topology test
  tests/unit/test_security_release_request_dispatch.py
Due: none
