Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh ansible-lint -p
        pass_filenames: false
        files: ^(roles/|playbooks/|tests/).*\.(yml|yaml)$

Add Keycloak integration with Docker and Ansible configuration
  .pre-commit-config.yaml
  Makefile
  ansible.cfg
  scripts/wunder-devtools-ee.sh
  tests/keycloak/docker-compose.yml
  tests/keycloak/inventory.keycloak_local.yml
  tests/keycloak/keycloak_check.yml
Due: yamllint-ee, ansible-lint-ee

feat: initialize package.json for semantic release
  .github/workflows/collection-ci.yml
  .github/workflows/release.yml
  .gitignore
  .releaserc
  CHANGELOG.md
  Makefile
  package-lock.json
  package.json
  roles/keycloak/README.md
  roles/keycloak/defaults/main.yml
  roles/keycloak/tasks/main.yml
  roles/keycloak/templates/main.tf.j2
  scripts/wunder-devtools-ee.sh
  tests/keycloak/docker-compose.yml
  tests/keycloak/inventory.keycloak_local.yml
Due: yamllint-ee, ansible-lint-ee

refactor: update CI workflow to use ansible-core and improve linting steps
  .github/workflows/collection-ci.yml
Due: yamllint-ee

refactor: update pre-commit configuration for yamllint and ansible-lint
  .pre-commit-config.yaml
Due: yamllint-ee

refactor: update ansible-lint configuration for improved execution
  .pre-commit-config.yaml
  renovate.json
Due: yamllint-ee

feat: add Molecule support for Keycloak testing and configuration management
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
  Makefile
  molecule/keycloak-local/converge.yml
  molecule/keycloak-local/destroy.yml
  molecule/keycloak-local/molecule.yml
  molecule/keycloak-local/verify.yml
  roles/keycloak/README.md
  roles/keycloak/defaults/main.yml
  roles/keycloak/meta/main.yml
  roles/keycloak/tasks/main.yml
  roles/keycloak/tasks/prepare_tf_dir.yml
  roles/keycloak/tasks/render_tf.yml
  roles/keycloak/tasks/terraform_apply.yml
  roles/keycloak/tasks/validate.yml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

fix: downgrade ansible-lint version to ensure compatibility
  .github/workflows/collection-ci.yml
Due: yamllint-ee

feat: update Keycloak configuration and testing setup, including Molecule scenarios and Docker Compose adjustments
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .releaserc
  molecule/keycloak-local/converge.yml
  molecule/keycloak-local/molecule.yml
  roles/keycloak/README.md
  roles/keycloak/defaults/main.yml
  scripts/wunder-devtools-ee.sh
  tests/keycloak/docker-compose.yml
  tests/keycloak/inventory.keycloak_local.yml
  vagrant/rhel9/Vagrantfile
Due: yamllint-ee, ansible-lint-ee

feat: refactor Keycloak role to keycloak_config, updating variables and tasks for improved configuration management
  molecule/keycloak-local/converge.yml
  molecule/keycloak-local/verify.yml
  playbooks/keycloak_platform_example.yml
  roles/keycloak/defaults/main.yml
  roles/keycloak/tasks/render_tf.yml
  roles/keycloak/tasks/validate.yml
  roles/keycloak/templates/main.tf.j2
  roles/keycloak_config/README.md
  roles/keycloak_config/defaults/main.yml
  roles/keycloak_config/meta/main.yml
  roles/keycloak_config/tasks/main.yml
  roles/keycloak_config/tasks/prepare_tf_dir.yml
  roles/keycloak_config/tasks/render_tf.yml
  roles/keycloak_config/tasks/terraform_apply.yml
  roles/keycloak_config/tasks/validate.yml
  roles/keycloak_config/templates/main.tf.j2
  tests/keycloak/keycloak_check.yml
Due: yamllint-ee, ansible-lint-ee

feat: introduce lightning_it.supplementary collection with keycloak_config role for Keycloak management via Terraform
  .ansible-galaxy-ignore
  .github/workflows/collection-ci.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  ansible.cfg
  ansible_collections/lightning_it/supplementary/playbooks/keycloak_config_example.yml
  ansible_collections/lightning_it/supplementary/roles/keycloak_config
  galaxy.yml
  meta/runtime.yml
  molecule/keycloak-local/converge.yml
  molecule/keycloak-local/molecule.yml
  playbooks/keycloak_config_example.yml
  playbooks/keycloak_platform_example.yml
  roles/keycloak_config/README.md
  roles/keycloak_config/meta/main.yml
  roles/keycloak_config/tasks/validate.yml
  tests/keycloak/keycloak_check.yml
Due: yamllint-ee, ansible-lint-ee

feat: refactor pre-commit hooks and scripts for improved collection management and testing
  .pre-commit-config.yaml
  README.md
  ansible_collections/lightning_it/supplementary/playbooks/keycloak_config_example.yml
  ansible_collections/lightning_it/supplementary/roles/keycloak_config
  molecule/keycloak-local/molecule.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-molecule-keycloak-local.sh
  scripts/devtools-molecule-rhel9-rdp.sh
  scripts/devtools-prepare-collection.sh
Due: yamllint-ee

feat: rename collection namespace from lightning_it to lit for consistency
  README.md
  galaxy.yml
  molecule/keycloak-local/converge.yml
  playbooks/keycloak_config_example.yml
  playbooks/keycloak_platform_example.yml
  roles/keycloak_config/README.md
  scripts/devtools-ansible-lint.sh
  scripts/devtools-molecule-keycloak-local.sh
  scripts/devtools-prepare-collection.sh
  tests/keycloak/keycloak_check.yml
Due: yamllint-ee, ansible-lint-ee

feat: consolidate CI workflows into a single ci-release.yml for improved management and semantic release integration
  .github/workflows/ci-release.yml
  .github/workflows/collection-ci.yml
  .github/workflows/release.yml
Due: yamllint-ee

fix: update environment variable from ANSIBLE_COLLECTIONS_PATHS to ANSIBLE_COLLECTIONS_PATH for consistency across scripts and workflows
  .github/workflows/ci-release.yml
  molecule/keycloak-local/molecule.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-molecule-keycloak-local.sh
  scripts/devtools-molecule-rhel9-rdp.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee

feat: enhance CI workflows with git identity configuration and new linting checks for GitHub Actions and Renovate
  .github/workflows/ci-release.yml
  .pre-commit-config.yaml
  .releaserc
Due: yamllint-ee

fix: update ansible-core version and requirements for consistency across CI and linting scripts
  .github/workflows/ci-release.yml
  galaxy.yml
  meta/runtime.yml
  scripts/devtools-ansible-lint.sh
Due: yamllint-ee

feat: add changelog for initial release and keycloak_config role details
  CHANGELOG.md
Due: none

fix: remove extraneous text from changelog
  CHANGELOG.md
Due: none

fix: update default Terraform working directory to use environment variable lookup
  roles/keycloak_config/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: add environment variable for Terraform working directory in keycloak_config playbook
  .github/workflows/ci-release.yml
Due: yamllint-ee

fix: simplify ansible-playbook command in CI workflow for keycloak_config_example
  .github/workflows/ci-release.yml
Due: yamllint-ee

fix: update environment variable from ANSIBLE_COLLECTIONS_PATH to ANSIBLE_COLLECTIONS_PATHS in CI and scripts
  .github/workflows/ci-release.yml
  molecule/keycloak-local/molecule.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-molecule-keycloak-local.sh
  scripts/devtools-molecule-rhel9-rdp.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee

fix: correct formatting of Terraform working directory variable in defaults
  roles/keycloak_config/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: add collection smoke test script and update pre-commit configuration
  .pre-commit-config.yaml
  README.md
  scripts/devtools-collection-smoke.sh
Due: yamllint-ee

fix: improve vagrant availability checks and update script documentation
  .gitignore
  scripts/devtools-molecule-rhel9-rdp.sh
Due: none

fix: streamline Molecule test execution and update dependencies setup
  .github/workflows/ci-release.yml
Due: yamllint-ee

fix: add host.docker.internal mapping for Linux runners in Docker args
  scripts/wunder-devtools-ee.sh
Due: none

feat: Add Keycloak role and Terraform integration
  .ansible-galaxy-ignore
  .github/workflows/ci-release.yml
  .gitignore
  .pre-commit-config.yaml
  .releaserc
  CHANGELOG.md
  README.md
  ansible.cfg
  galaxy.yml
  meta/runtime.yml
  molecule/keycloak-local/converge.yml
  molecule/keycloak-local/destroy.yml
  molecule/keycloak-local/molecule.yml
  molecule/keycloak-local/verify.yml
  package-lock.json
  package.json
  playbooks/keycloak_config_example.yml
  playbooks/keycloak_platform_example.yml
  renovate.json
  roles/keycloak_config/README.md
  roles/keycloak_config/defaults/main.yml
  roles/keycloak_config/meta/main.yml
  roles/keycloak_config/tasks/main.yml
  roles/keycloak_config/tasks/prepare_tf_dir.yml
  roles/keycloak_config/tasks/render_tf.yml
  roles/keycloak_config/tasks/terraform_apply.yml
  roles/keycloak_config/tasks/validate.yml
  roles/keycloak_config/templates/main.tf.j2
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule-keycloak-local.sh
  scripts/devtools-molecule-rhel9-rdp.sh
  scripts/devtools-prepare-collection.sh
  scripts/wunder-devtools-ee.sh
  tests/keycloak/docker-compose.yml
  tests/keycloak/inventory.keycloak_local.yml
  tests/keycloak/keycloak_check.yml
  vagrant/rhel9/Vagrantfile
Due: yamllint-ee, ansible-lint-ee

fix: update git identity and authentication for changelog and commit tagging
  .github/workflows/ci-release.yml
Due: yamllint-ee

feat: Add Keycloak role and Terraform integration
  .github/workflows/ci-release.yml
Due: yamllint-ee

fix: add GH_TOKEN environment variable for semantic-release
  .github/workflows/ci-release.yml
Due: yamllint-ee

fix: prevent GITHUB_TOKEN injection by setting persist-credentials to false
  .github/workflows/ci-release.yml
Due: yamllint-ee

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  37115f7c0936a58db09c0af5dfd514d324e427fa
Due: none

feat: Add workflow to publish collection to Ansible Galaxy
  .github/workflows/ci-release.yml
  .github/workflows/publish-galaxy.yml
Due: yamllint-ee

feat: Add workflow to publish collection to Ansible Galaxy (#4)
  .github/workflows/ci-release.yml
  .github/workflows/publish-galaxy.yml
Due: yamllint-ee

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  58a1adb94a0164a178273a8d55ed7c087742a2d8
Due: none

feat: Add CI workflows for collection linting, testing, and publishing
  .ansible-galaxy-ignore
  .github/workflows/ci-release.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  README.md
  galaxy.yml
  molecule/keycloak-local/converge.yml
  molecule/keycloak-local/destroy.yml
  playbooks/example.yml
  playbooks/keycloak_config.yml
  playbooks/keycloak_platform_example.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/devtools-prepare-collection.sh
  scripts/wunder-devtools-ee.sh
  tests/keycloak/docker-compose.yml
  tests/keycloak/inventory.keycloak_local.yml
  tests/keycloak/keycloak_check.yml
Due: yamllint-ee, ansible-lint-ee
