Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(keycloak): avoid duplicate postgres DNS alias
  molecule/keycloak-tiny/converge.yml
  molecule/keycloak-tiny/verify.yml
  plugins/filter/keycloak_native_migration.py
  roles/keycloak_deploy/README.md
  roles/postgres_deploy/README.md
  tests/unit/test_keycloak_native_migration_plan.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): exercise explicit postgres service alias
  molecule/keycloak-tiny/cleanup.yml
  molecule/keycloak-tiny/converge.yml
  molecule/keycloak-tiny/verify.yml
  plugins/filter/keycloak_native_migration.py
  tests/unit/test_keycloak_native_migration_plan.py
Due: yamllint-ee, ansible-lint-ee

test(keycloak): label alias evidence accurately
  molecule/keycloak-tiny/verify.yml
Due: yamllint-ee, ansible-lint-ee

feat: adopt protected LI-219 source and bounded review runtime
  .github/codex/prompts/review-exact-head.md
  .github/copilot-instructions.md
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/release-bot-exact-head-review.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-gateway-source.json
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  .lit/li219-protected-adoption.json
  AGENTS.md
  changelogs/fragments/li219-review-event-pilot.yml
  pyproject.toml
  scripts/bounded_review_transport.py
  scripts/exact_revision_gateway.py
  scripts/lit-push-ready.py
  scripts/materialize-exact-revision-review.py
  scripts/review-event-reconcile.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  scripts/single_review_resources.py
  tests/unit/test_exact_revision_gateway.py
  tests/unit/test_gateway_provider_resources.py
  tests/unit/test_gateway_response_bytes.py
  tests/unit/test_protected_review_instructions.py
  tests/unit/test_push_ready_engine.py
  tests/unit/test_push_ready_streaming.py
  tests/unit/test_remediation_review_content.py
  tests/unit/test_review_resource_boundaries.py
  tests/unit/test_single_review_resources.py
  tests/unit/test_transport_response_bytes.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: align port inventory and request serialization tests
  meta/source-dependencies.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(review): preserve word boundaries across streaming overlap
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_streaming.py
Due: none

fix(review): bind replanned evidence to streamed patch content
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  changelogs/fragments/li219-review-event-pilot.yml
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_plan_binding.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): prove managed database dns
  changelogs/fragments/li139-postgres-quadlet-dns-alias.yml
  roles/keycloak_deploy/tasks/deploy.yml
  roles/keycloak_deploy/tasks/deploy_pod.yml
  roles/keycloak_deploy/tasks/systemd.yml
  roles/keycloak_deploy/tasks/validate_database_dns.yml
  roles/postgres_deploy/README.md
  roles/postgres_deploy/tasks/assert.yml
  tests/unit/test_keycloak_role_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(review): bind protected base controllers and pass native sanity
  .github/codex/prompts/review-exact-head.md
  .github/copilot-instructions.md
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-gateway-source.json
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  scripts/bounded_review.py
  scripts/bounded_review_provider.py
  scripts/bounded_review_transport.py
  scripts/exact_revision_gateway.py
  scripts/lit-push-ready.py
  scripts/materialize-exact-revision-review.py
  scripts/review-event-reconcile.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  scripts/single_review_resources.py
  tests/unit/test_exact_revision_gateway.py
  tests/unit/test_gateway_provider_resources.py
  tests/unit/test_gateway_response_bytes.py
  tests/unit/test_protected_review_instructions.py
  tests/unit/test_remediation_review_content.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_operation_cas.py
  tests/unit/test_review_protected_branch.py
  tests/unit/test_review_request_continuation.py
  tests/unit/test_transport_response_bytes.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(postgres): publish managed service hostname
  changelogs/fragments/li139-postgres-quadlet-dns-alias.yml
  roles/keycloak_deploy/tasks/deploy_pod.yml
  roles/postgres_deploy/README.md
  roles/postgres_deploy/defaults/main.yml
  roles/postgres_deploy/tasks/assert.yml
  roles/postgres_deploy/templates/postgres-pod.yml.j2
  tests/unit/test_keycloak_role_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): use managed postgres DNS name
  changelogs/fragments/li139-postgres-quadlet-dns-alias.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/keycloak-tiny/converge.yml
  molecule/keycloak-tiny/verify.yml
  plugins/filter/keycloak_native_migration.py
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/tasks/assert.yml
  roles/keycloak_deploy/tasks/deploy_pod.yml
  roles/postgres_deploy/README.md
  roles/postgres_deploy/defaults/main.yml
  roles/postgres_deploy/tasks/assert.yml
  roles/postgres_deploy/templates/postgres-pod.yml.j2
  tests/unit/test_keycloak_native_migration_plan.py
  tests/unit/test_keycloak_role_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): narrow postgres DNS contract
  changelogs/fragments/li139-postgres-container-dns.yml
  roles/keycloak_deploy/tasks/deploy.yml
  tests/unit/test_keycloak_role_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): bind postgres resolver name
  changelogs/fragments/li139-postgres-container-dns.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  roles/keycloak_deploy/README.md
  roles/keycloak_deploy/tasks/deploy_pod.yml
  roles/keycloak_deploy/templates/keycloak-pod.yml.j2
  tests/unit/test_keycloak_role_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): complete resolver validation paths
  plugins/filter/keycloak_native_migration.py
  roles/keycloak_deploy/tasks/deploy.yml
  tests/unit/test_keycloak_native_migration_plan.py
  tests/unit/test_keycloak_role_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(keycloak): reconcile prior resolver alias
  plugins/filter/keycloak_native_migration.py
  tests/unit/test_keycloak_native_migration_plan.py
Due: none

fix: bind foreign fork repository filter
  .github/workflows/copilot-review-refresh.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  tests/unit/test_review_fork_handoff.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): fence typed controllers and preserve authenticated forks
  .github/copilot-instructions.md
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/dot-github-current-revision-required.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-gateway-source.json
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  changelogs/fragments/li219-controller-fork-successor.yml
  scripts/review-event-reconcile.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_cross_controller.py
  tests/unit/test_dot_github_promotion_aggregation.py
  tests/unit/test_review_default_controller.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_fork_handoff.py
  tests/unit/test_review_protected_branch.py
  tests/unit/test_review_request_continuation.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: align final controller fence coverage
  tests/unit/test_review_fork_handoff.py
  tests/unit/test_workflow_security.py
Due: none

chore(review): prepare 65ce pilot and SINGLE closure on hold
  .github/copilot-instructions.md
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-bot-exact-head-review.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-recovery-review-refresh.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-gateway-source.json
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  scripts/bounded_review.py
  scripts/bounded_review_config.py
  scripts/bounded_review_provider.py
  scripts/bounded_review_transport.py
  scripts/exact_revision_gateway.py
  scripts/materialize-exact-revision-review.py
  scripts/review-event-reconcile.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  scripts/single_review_resources.py
  tests/unit/test_exact_revision_gateway.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_managed_exact_revision_materializer_security.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_operation_cas.py
  tests/unit/test_review_request_continuation.py
  tests/unit/test_single_review_resources.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li219): port native inventory and continuation corrections
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  scripts/review-event-reconcile.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_request_continuation.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): adopt verified d5 pilot bundle and native request timing
  .github/copilot-instructions.md
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/review-event-reconcile.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  scripts/review-event-reconcile.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_request_continuation.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li219): align original request failure with final Source donor
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  tests/unit/test_review_operation_cas.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): bind mutable events and all gateway assets
  .github/workflows/dot-github-current-revision-required.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_cross_controller.py
  tests/unit/test_dot_github_promotion_aggregation.py
  tests/unit/test_li219_pilot_contract.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(review): prepare gated Supplementary LI-219 pilot port
  .github/copilot-instructions.md
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/dot-github-current-revision-required.yml
  .github/workflows/review-event-reconcile.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  .lit/push-ready.json
  AGENTS.md
  changelogs/fragments/li219-review-event-pilot.yml
  scripts/lit-push-ready.py
  scripts/review-event-reconcile.py
  scripts/review_content_markers.py
  scripts/verify-dot-github-current-revision.py
  tests/unit/review_event_contract_helpers.py
  tests/unit/test_dot_github_current_revision.py
  tests/unit/test_exact_revision_review.py
  tests/unit/test_li219_pilot_contract.py
  tests/unit/test_li219_required_topology.py
  tests/unit/test_push_ready_engine.py
  tests/unit/test_review_event_port.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_operation_cas.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): adopt bounded reconciler inventory for Supplementary pilot
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  scripts/review-event-reconcile.py
  tests/unit/test_review_event_reconcile.py
Due: none

fix(review): port protected first-request continuation to Supplementary
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  .github/workflows/review-event-reconcile.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  AGENTS.md
  changelogs/fragments/li219-review-event-pilot.yml
  scripts/review-event-reconcile.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  tests/unit/test_li219_pilot_contract.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_operation_cas.py
  tests/unit/test_review_request_continuation.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: scope canonical materializer lint exceptions
  .pre-commit-config.yaml
  pyproject.toml
Due: yamllint-ee, ansible-lint-ee

fix(review): align legacy receipts and protected review wakeups
  .github/copilot-instructions.md
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/copilot-review-refresh.yml
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/dot-github-current-revision-required.yml
  .github/workflows/review-event-reconcile.yml
  .github/workflows/review-request-continuation.yml
  .lit/li219-gateway-source.json
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  .lit/li219-protected-adoption.json
  AGENTS.md
  scripts/bounded_review_provider.py
  scripts/review-event-reconcile.py
  scripts/review_content_markers.py
  scripts/review_request_continuation.py
  scripts/review_request_provenance.py
  scripts/verify-dot-github-current-revision.py
  tests/unit/test_dot_github_cross_controller.py
  tests/unit/test_dot_github_promotion_aggregation.py
  tests/unit/test_gateway_provider_resources.py
  tests/unit/test_li219_pilot_contract.py
  tests/unit/test_remediation_review_content.py
  tests/unit/test_review_cannot_classifiers.py
  tests/unit/test_review_default_controller.py
  tests/unit/test_review_event_port.py
  tests/unit/test_review_event_reconcile.py
  tests/unit/test_review_fork_handoff.py
  tests/unit/test_review_protected_branch.py
  tests/unit/test_review_request_continuation.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ops(li219): materialize recovery ancestry boundary
  .github/workflows/sync-main-to-develop.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ops(li219): rotate recovery boundary head
  .github/workflows/sync-main-to-develop.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ops(li219): upload recovery object before ref update
  .github/workflows/sync-main-to-develop.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li219): stabilize bot helper check name
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(li219): cover helper check display names
  tests/unit/test_workflow_security.py
Due: none

fix(li219): refresh helper workflow inventory
  .lit/li219-managed-assets.json
  .lit/li219-pilot-source.json
  tests/unit/test_workflow_security.py
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
