Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

style: format security evidence generator
  scripts/generate-security-release-evidence.py
Due: none

chore: add central validation changelog
  changelogs/fragments/554-central-validation.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): select dependency impact semantically
  .github/workflows/collection-ci.yml
  docs/testing/source-dependencies.md
  meta/quality-impact.yml
  scripts/select-quality-impact.py
  tests/unit/test_quality_evidence.py
  tests/unit/test_select_quality_impact.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(ci): add stable fast lane aggregate
  .github/workflows/collection-ci.yml
  docs/testing/source-dependencies.md
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(ci): centralize supplementary heavy validation
  .github/workflows/candidate-platform-validation.yml
  .github/workflows/collection-ci.yml
  .github/workflows/nightly-develop.yml
  docs/testing/keycloak.md
  docs/testing/source-dependencies.md
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: validate security evidence asset inputs
  scripts/generate-security-release-evidence.py
Due: none

fix: package evidence generator as non-module source
  scripts/generate-security-release-evidence.py
Due: none

fix(ci): clarify delegated validation aliases
  .github/workflows/collection-ci.yml
  changelogs/fragments/554-central-validation.yml
  tests/unit/test_select_quality_impact.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): authenticate central evidence reads
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): harden impact and evidence selection
  .github/workflows/collection-ci.yml
  scripts/select-quality-impact.py
  tests/unit/test_select_quality_impact.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: harden producer evidence fixtures
  scripts/generate-security-release-evidence.py
  tests/unit/test_security_release_evidence.py
Due: none

fix(ci): harden central evidence consumption
  .github/workflows/collection-ci.yml
  scripts/select-quality-impact.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): handle evidence output paths
  scripts/generate-security-release-evidence.py
  tests/unit/test_security_release_evidence.py
Due: none

fix(release): identify evidence output failures
  scripts/generate-security-release-evidence.py
Due: none

fix(ci): read public central evidence safely
  .github/workflows/collection-ci.yml
  changelogs/fragments/554-central-validation.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): protect release evidence credentials
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): reject symlinked evidence outputs
  scripts/generate-security-release-evidence.py
  tests/unit/test_security_release_evidence.py
Due: none

test(release): prove symlink targets stay untouched
  tests/unit/test_security_release_evidence.py
Due: none

test(release): declare expected subprocess failures
  tests/unit/test_security_release_evidence.py
Due: none

feat(object-storage): prepare lit.cloud migration
  changelogs/fragments/hetzner-object-storage-cloud-migration.yml
  docs/migrations/hetzner-object-storage-to-lit-cloud.yml
  molecule/hetzner-object-storage-tiny/converge.yml
  molecule/hetzner-object-storage-tiny/verify.yml
  roles/hetzner_object_storage_cac/README.md
  roles/hetzner_object_storage_cac/defaults/main.yml
  roles/hetzner_object_storage_cac/tasks/assert.yml
  roles/hetzner_object_storage_cac/tasks/audit.yml
  roles/hetzner_object_storage_cac/tasks/main.yml
  roles/hetzner_object_storage_cac/tasks/reconcile.yml
  roles/hetzner_object_storage_cac/vars/main.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): require cross-repository evidence token
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(object-storage): canonicalize policy evidence
  molecule/hetzner-object-storage-tiny/converge.yml
  roles/hetzner_object_storage_cac/tasks/audit.yml
  roles/hetzner_object_storage_cac/tasks/main.yml
  roles/hetzner_object_storage_cac/tasks/reconcile.yml
Due: yamllint-ee, ansible-lint-ee

fix(ci): validate safe fast-lane path prefixes
  scripts/select-quality-impact.py
  tests/unit/test_select_quality_impact.py
Due: none

fix(object-storage): suppress canonical policy material
  roles/hetzner_object_storage_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

test(ci): exercise NUL fast-lane prefix rejection
  scripts/select-quality-impact.py
  tests/unit/test_select_quality_impact.py
Due: none

fix(ci): mint validation evidence token
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): guard evidence token minting
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): keep evidence credentials off PRs
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(ci): format workflow security test
  tests/unit/test_workflow_security.py
Due: none

ci: dispatch transitional central validation
  .github/workflows/collection-publish.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: consume shared transition dispatcher
  .github/workflows/collection-publish.yml
  scripts/dispatch-transition-validation.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: accept managed prerelease candidates
  scripts/dispatch-transition-validation.py
Due: none

docs: declare managed transition dispatcher
  AGENTS.md
Due: none

style(ci): apply canonical Ruff formatting
  tests/unit/test_workflow_security.py
Due: none

ci: add exact-head manual Fast mode
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: isolate manual candidates from protected runtime
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

style(ci): format workflow security tests
  tests/unit/test_workflow_security.py
Due: none

fix: align transition dispatch contracts
  .github/workflows/collection-ci.yml
  scripts/dispatch-transition-validation.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs: describe manual candidate validation
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint
