Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#301)
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: remove legacy markdown changelog
  CHANGELOG.md
Due: none

chore: remove legacy markdown changelog (#304)
  CHANGELOG.md
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  scripts/devtools-changelog-check.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#307)
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  scripts/devtools-changelog-check.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/collection-ci.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets-lit (#310)
  .github/workflows/collection-ci.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets-lit
  renovate.json
  scripts/wunder-devtools-ee.sh
Due: renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets-lit (#311)
  renovate.json
  scripts/wunder-devtools-ee.sh
Due: renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets-lit
  .ansible-lint
  scripts/devtools-changelog-check.sh
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit
  .pre-commit-config.yaml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

feat: update Keycloak and PostgreSQL deployment tasks for improved pod management
  molecule/keycloak-lifecycle-incus/molecule.yml
  molecule/keycloak-lifecycle-incus_heavy/converge.yml
  molecule/keycloak-lifecycle-incus_heavy/create.yml
  molecule/keycloak-lifecycle-incus_heavy/molecule.yml
  roles/keycloak_deploy/tasks/deploy_pod.yml
  roles/postgres_deploy/tasks/deploy_pod.yml
Due: yamllint-ee, ansible-lint-ee

feat: refactor Samba roles to utilize kubeplay for container management
  AGENTS.md
  roles/samba_deploy/tasks/main.yml
  roles/samba_destroy/tasks/main.yml
  roles/samba_ops/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .pre-commit-config.yaml
  AGENTS.md
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

feat: enhance AAP preflight checks and configuration options
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
  roles/aap_preflight/defaults/main.yml
  roles/aap_preflight/tasks/assert.yml
  roles/aap_preflight/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  AGENTS.md
Due: none

feat: add Samba LDAPS support for Keycloak user federation and enhance configuration options
  changelogs/fragments/keycloak-samba-ldaps-cac.yml
  molecule/keycloak-lifecycle-incus_heavy/converge.yml
  molecule/keycloak-lifecycle-incus_heavy/verify.yml
  roles/keycloak_cac/README.md
  roles/keycloak_cac/defaults/main.yml
  roles/keycloak_cac/tasks/assert.yml
  roles/keycloak_cac/tasks/cac_20_ldap_providers.yml
  roles/keycloak_cac/tasks/ldap_provider.yml
Due: yamllint-ee, ansible-lint-ee

feat: add inventory host to TLS self-signed DNS names in AAP configuration
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
Due: none

feat: Add Atlas observability deployment with Incus and Podman
  changelogs/fragments/lit-atlas-observability.yml
  molecule/atlas-observability-incus_heavy/.molecule-mode
  molecule/atlas-observability-incus_heavy/converge.yml
  molecule/atlas-observability-incus_heavy/create.yml
  molecule/atlas-observability-incus_heavy/destroy.yml
  molecule/atlas-observability-incus_heavy/molecule.yml
  molecule/atlas-observability-incus_heavy/prepare.yml
  molecule/atlas-observability-incus_heavy/verify.yml
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
  roles/alertmanager_deploy/README.md
  roles/alertmanager_deploy/defaults/main.yml
  roles/alertmanager_deploy/meta/main.yml
  roles/alertmanager_deploy/molecule/default/converge.yml
  roles/alertmanager_deploy/molecule/default/molecule.yml
  roles/alertmanager_deploy/tasks/assert.yml
  roles/alertmanager_deploy/tasks/main.yml
  roles/alertmanager_deploy/templates/alertmanager-pod.yml.j2
  roles/alertmanager_deploy/templates/alertmanager.yml.j2
  roles/prometheus_deploy/README.md
  roles/prometheus_deploy/defaults/main.yml
  roles/prometheus_deploy/meta/main.yml
  roles/prometheus_deploy/molecule/default/converge.yml
  roles/prometheus_deploy/molecule/default/molecule.yml
  roles/prometheus_deploy/tasks/assert.yml
  roles/prometheus_deploy/tasks/main.yml
  roles/prometheus_deploy/templates/atlas.rules.yml.j2
  roles/prometheus_deploy/templates/prometheus-pod.yml.j2
  roles/prometheus_deploy/templates/prometheus.yml.j2
Due: yamllint-ee, ansible-lint-ee

feat: Enhance LIT Atlas observability with new roles and systemd management
  changelogs/fragments/lit-atlas-observability.yml
  molecule/atlas-observability-incus_heavy/converge.yml
  molecule/atlas-observability-incus_heavy/molecule.yml
  molecule/atlas-observability-incus_heavy/prepare.yml
  molecule/atlas-observability-incus_heavy/verify.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
  roles/alloy_deploy/README.md
  roles/alloy_deploy/defaults/main.yml
  roles/alloy_deploy/meta/main.yml
  roles/alloy_deploy/tasks/deploy.yml
  roles/alloy_deploy/tasks/deploy_pod.yml
  roles/alloy_deploy/tasks/systemd.yml
  roles/checkmk_deploy/README.md
  roles/checkmk_deploy/defaults/main.yml
  roles/checkmk_deploy/meta/main.yml
  roles/checkmk_deploy/tasks/deploy.yml
  roles/checkmk_deploy/tasks/deploy_pod.yml
  roles/checkmk_deploy/tasks/systemd.yml
  roles/grafana_deploy/README.md
  roles/grafana_deploy/defaults/main.yml
  roles/grafana_deploy/meta/main.yml
  roles/grafana_deploy/tasks/deploy.yml
  roles/grafana_deploy/tasks/deploy_pod.yml
  roles/grafana_deploy/tasks/systemd.yml
  roles/loki_deploy/README.md
  roles/loki_deploy/defaults/main.yml
  roles/loki_deploy/meta/main.yml
  roles/loki_deploy/tasks/deploy.yml
  roles/loki_deploy/tasks/deploy_pod.yml
  roles/loki_deploy/tasks/systemd.yml
Due: yamllint-ee, ansible-lint-ee

feat: Introduce LIT Atlas observability support and update AAP configuration for hub upload readiness
  changelogs/fragments/atlas-observability.yml
  molecule/atlas-observability-incus_heavy/molecule.yml
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
Due: yamllint-ee, ansible-lint-ee

feat: Implement Samba AD/LDAPS support for Keycloak integration and enhance deployment configurations
  changelogs/fragments/keycloak-samba-ldaps-cac.yml
  molecule/keycloak-lifecycle-incus_heavy/converge.yml
  molecule/keycloak-lifecycle-incus_heavy/prepare.yml
  molecule/keycloak-lifecycle-incus_heavy/verify.yml
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
  roles/samba_deploy/README.md
  roles/samba_deploy/defaults/main.yml
  roles/samba_deploy/tasks/assert.yml
  roles/samba_deploy/tasks/main.yml
  roles/samba_deploy/templates/default-principals.sh.j2
  roles/samba_deploy/templates/keycloak-bind-user.sh.j2
  roles/samba_deploy/templates/samba-pod.yml.j2
  roles/samba_preflight/defaults/main.yml
  roles/samba_validate/defaults/main.yml
  roles/samba_validate/tasks/assert.yml
  roles/samba_validate/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: Enhance AAP deployment with TLS asset staging and registry trust management
  changelogs/fragments/keycloak-samba-ldaps-cac.yml
  galaxy.yml
  roles/aap_base_os/tasks/main.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/tasks/16_hub_registry_trust.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
  roles/aap_local_execution/templates/aap-local/inventories/group_vars/aaps/aap.yml.j2
Due: yamllint-ee, ansible-lint-ee

feat: Add support for optional Hub collection upload and enhance service state reporting
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/25_customize_prepared_installer.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_ops/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

refactor: harden AAP role execution paths
  changelogs/fragments/aap-role-hardening.yml
  molecule/aap-basic/converge.yml
  molecule/aap-basic/verify.yml
  roles/aap/tasks/assert.yml
  roles/aap_baseline/README.md
  roles/aap_baseline/tasks/target.yml
  roles/aap_bootstrap/tasks/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_local_execution/README.md
  roles/aap_local_execution/defaults/main.yml
  roles/aap_local_execution/tasks/controller.yml
  roles/aap_local_execution/tasks/target.yml
  roles/aap_local_execution/templates/aap-local/aap-local.env.j2
Due: yamllint-ee, ansible-lint-ee

fix: install foundational release artifact
  collections/requirements.yml
Due: yamllint-ee, ansible-lint-ee

chore: add foundational artifact changelog
  changelogs/fragments/foundational-release-artifact.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): prepare v1.36.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/aap-role-hardening.yml
  changelogs/fragments/atlas-observability.yml
  changelogs/fragments/foundational-release-artifact.yml
  changelogs/fragments/keycloak-samba-ldaps-cac.yml
  changelogs/fragments/postgres-lifecycle-roles.yml
  changelogs/fragments/rsyslog-lifecycle-roles.yml
  changelogs/fragments/samba-lifecycle-roles.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore: add ansible.posix changelog
  changelogs/fragments/ansible-posix-2.2.1.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): prepare v1.37.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/ansible-posix-2.2.1.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

ci: require Galaxy publish for collection releases
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: use galaxy publish environment secret
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: resolve galaxy token in shell
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
