Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

test(mlx90): prove review isolation boundaries
  tests/unit/test_push_ready_engine.py
  tests/unit/test_workflow_security.py
Due: none

fix(vault): forward guarded Terragrunt migrations
  changelogs/fragments/vault-config-strict-terragrunt-import.yml
  roles/vault_config/tasks/config.yml
  tests/unit/roles/test_vault_config_terragrunt_runtime.py
Due: yamllint-ee, ansible-lint-ee

fix(vault): validate terragrunt migration inputs
  roles/vault_config/tasks/assert.yml
  tests/unit/roles/test_vault_config_terragrunt_runtime.py
Due: yamllint-ee, ansible-lint-ee

fix(vault): namespace terragrunt runtime inputs
  roles/vault_config/defaults/main.yml
  roles/vault_config/tasks/config.yml
  tests/unit/roles/test_vault_config_terragrunt_runtime.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): gate checks before execution
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

test(push-ready): keep policy gate reviewable
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(vault): guard local state path fallback
  changelogs/fragments/vault-config-state-path-default.yml
  roles/vault_config/defaults/main.yml
  tests/unit/roles/test_vault_config_terragrunt_runtime.py
Due: yamllint-ee, ansible-lint-ee

feat(push-ready): authorize reviewed trust-root updates
  .lit/push-ready.json
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

docs(mlx90): define automated approval boundary
  docs/push-ready-optimization.md
Due: none

fix(push-ready): keep trust-root evidence independent
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): honor rootless engine probes
  changelogs/fragments/mlx90-push-ready-bootstrap-followup.yml
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): retain full molecule gate
  scripts/lit-ci-profile.sh
  tests/unit/test_push_ready_engine.py
Due: none

fix: realign devtools dependency inventory
  examples/aap-cac.yml
  meta/source-dependencies.yml
  scripts/lit-push-ready.py
Due: yamllint-ee, ansible-lint-ee

fix(vault): preserve rootless restore drill coverage
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/defaults/main.yml
  roles/vault_raft_snapshot/tasks/assert.yml
  roles/vault_raft_snapshot/tasks/restore_drill.yml
Due: yamllint-ee, ansible-lint-ee

fix(molecule): use numeric rootless identity
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  molecule/artifacts-basic/converge.yml
Due: yamllint-ee, ansible-lint-ee

fix(molecule): retain rootless security coverage
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  molecule/aap-tls-basic/converge.yml
  molecule/vault-bootstrap-basic/converge.yml
  roles/aap_tls/README.md
  roles/aap_tls/defaults/main.yml
  roles/aap_tls/handlers/main.yml
  roles/aap_tls/tasks/main.yml
  roles/vault_bootstrap/README.md
  roles/vault_bootstrap/defaults/main.yml
  roles/vault_bootstrap/tasks/controller_escrow_sync.yml
Due: yamllint-ee, ansible-lint-ee

fix(molecule): render warp profile rootlessly
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  molecule/cloudflare-warp-basic/converge.yml
Due: yamllint-ee, ansible-lint-ee

feat(mlx90): expose review cost proxy metrics
  docs/push-ready-optimization.md
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

docs(mlx90): bind PR 667 review baseline
  docs/push-ready-optimization.md
Due: none

fix(aap-tls): enforce ownership prechecks
  molecule/aap-tls-basic/converge.yml
  roles/aap_tls/tasks/assert.yml
  roles/aap_tls/tasks/main.yml
  tests/unit/test_aap_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

test(vault): prove rootless ownership gates
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/vault-bootstrap-basic/converge.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  roles/vault_raft_snapshot/tasks/restore_drill.yml
  tests/unit/test_vault_rootless_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(mlx90): classify semantic trust-root risk
  .lit/push-ready.json
  docs/push-ready-optimization.md
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(review): align ownership assertions
  roles/aap_tls/tasks/assert.yml
  roles/vault_bootstrap/tasks/controller_escrow_sync.yml
  tests/unit/test_aap_tls_contracts.py
  tests/unit/test_vault_rootless_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): keep native hook policy canonical
  .pre-commit-config.yaml
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): isolate runtime probes from credentials
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

style(push-ready): format credential isolation
  scripts/lit-push-ready.py
Due: none

fix(review): constrain rootless test paths
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  molecule/aap-tls-basic/converge.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  molecule/vault-raft-snapshot-basic/verify.yml
  roles/aap_tls/README.md
  roles/aap_tls/tasks/assert.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/tasks/assert.yml
  tests/unit/test_aap_tls_contracts.py
  tests/unit/test_vault_rootless_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(review): require explicit local test roots
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  molecule/aap-tls-basic/converge.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  molecule/vault-raft-snapshot-basic/verify.yml
  roles/aap_tls/README.md
  roles/aap_tls/defaults/main.yml
  roles/aap_tls/tasks/assert.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/defaults/main.yml
  roles/vault_raft_snapshot/tasks/assert.yml
  tests/unit/test_aap_tls_contracts.py
  tests/unit/test_vault_rootless_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): address bootstrap review findings
  scripts/lit-ci-profile.sh
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): isolate system hook home
  scripts/lit-ci-profile.sh
  tests/unit/test_push_ready_engine.py
Due: none

test(push-ready): keep secret detector fixture local
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): keep trust-root validation local
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(mlx90): harden finalized review evidence
  .github/workflows/copilot-review.yml
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(mlx90): satisfy collection pylint gate
  scripts/lit-push-ready.py
Due: none

fix(push-ready): allow full quality profile runtime
  changelogs/fragments/push-ready-quality-timeout.yml
  docs/push-ready-optimization.md
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

fix(mlx90): wait for Copilot request visibility
  .github/workflows/copilot-review.yml
  changelogs/fragments/mlx90-copilot-request-visibility.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): guard local test inspection
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  molecule/aap-tls-basic/converge.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  roles/aap_tls/README.md
  roles/aap_tls/tasks/assert.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/tasks/assert.yml
  tests/unit/test_aap_tls_contracts.py
  tests/unit/test_vault_rootless_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(review): reject ambiguous test roots
  changelogs/fragments/vault-raft-rootless-light-gate.yml
  molecule/aap-tls-basic/converge.yml
  molecule/vault-raft-snapshot-basic/converge.yml
  roles/aap_tls/README.md
  roles/aap_tls/tasks/assert.yml
  roles/vault_raft_snapshot/README.md
  roles/vault_raft_snapshot/tasks/assert.yml
  tests/unit/test_aap_tls_contracts.py
  tests/unit/test_vault_rootless_contracts.py
Due: yamllint-ee, ansible-lint-ee
