Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

refactor: remove RHEL9 Vagrant setup scripts and configuration
  scripts/devtools-molecule-rhel9-rdp.sh
  vagrant/rhel9/Vagrantfile
Due: none

refactor: update package.json and package-lock.json for ansible-collection-supplementary
  package-lock.json
  package.json
Due: none

refactor: remove heavy scenario Molecule test configuration
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

refactor: update COLLECTION_NAME derivation to use galaxy.yml instead of repo name
  scripts/devtools-ansible-lint.sh
Due: none

refactor: streamline COLLECTION_NAME derivation and enhance error handling in scripts
  .github/workflows/collection-ci.yml
  CHANGELOG.md
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

refactor: update WUNDER_DEVTOOLS_EE_IMAGE version to v1.1.1
  scripts/wunder-devtools-ee.sh
Due: none

refactor: streamline release process by adding bump_galaxy_version script
  .releaserc
  scripts/bump_galaxy_version.py
Due: none

feat: Add CI workflows for collection linting, testing, and publishing
  .ansible-galaxy-ignore
  .github/workflows/ci-release.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  .releaserc
  CHANGELOG.md
  README.md
  galaxy.yml
  molecule/keycloak-local/converge.yml
  molecule/keycloak-local/destroy.yml
  package-lock.json
  package.json
  playbooks/example.yml
  playbooks/keycloak_config.yml
  playbooks/keycloak_platform_example.yml
  scripts/bump_galaxy_version.py
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule-rhel9-rdp.sh
  scripts/devtools-molecule.sh
  scripts/devtools-prepare-collection.sh
  scripts/wunder-devtools-ee.sh
  tests/keycloak/docker-compose.yml
  tests/keycloak/inventory.keycloak_local.yml
  tests/keycloak/keycloak_check.yml
  vagrant/rhel9/Vagrantfile
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: Update script permissions for bump_galaxy_version.py
  scripts/bump_galaxy_version.py
Due: none

fix: Update script permissions for bump_galaxy_version.py (#6)
  scripts/bump_galaxy_version.py
Due: none

feat: Add @semantic-release/exec dependency to package.json and package-lock.json
  package-lock.json
  package.json
Due: none

feat: Add @semantic-release/exec dependency to package.json and package-lock.json (#7)
  package-lock.json
  package.json
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  98346f565e564494809a36a1b89497260cf23191
Due: none

feat: Add foundational roles for GitLab Runner, Nexus, and Vault with experimental configurations
  AGENT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  roles/gitlab_runner/README.md
  roles/gitlab_runner/defaults/main.yml
  roles/gitlab_runner/meta/main.yml
  roles/gitlab_runner/molecule/default/converge.yml
  roles/gitlab_runner/molecule/default/molecule.yml
  roles/gitlab_runner/tasks/main.yml
  roles/nexus/README.md
  roles/nexus/defaults/main.yml
  roles/nexus/meta/main.yml
  roles/nexus/molecule/default/converge.yml
  roles/nexus/molecule/default/molecule.yml
  roles/nexus/tasks/main.yml
  roles/vault/README.md
  roles/vault/defaults/main.yml
  roles/vault/meta/main.yml
  roles/vault/molecule/default/converge.yml
  roles/vault/molecule/default/molecule.yml
  roles/vault/tasks/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

fix: Clean up formatting in galaxy.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

feat: Add new roles (#8)
  AGENT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  galaxy.yml
  roles/gitlab_runner/README.md
  roles/gitlab_runner/defaults/main.yml
  roles/gitlab_runner/meta/main.yml
  roles/gitlab_runner/molecule/default/converge.yml
  roles/gitlab_runner/molecule/default/molecule.yml
  roles/gitlab_runner/tasks/main.yml
  roles/nexus/README.md
  roles/nexus/defaults/main.yml
  roles/nexus/meta/main.yml
  roles/nexus/molecule/default/converge.yml
  roles/nexus/molecule/default/molecule.yml
  roles/nexus/tasks/main.yml
  roles/vault/README.md
  roles/vault/defaults/main.yml
  roles/vault/meta/main.yml
  roles/vault/molecule/default/converge.yml
  roles/vault/molecule/default/molecule.yml
  roles/vault/tasks/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  5cdadf85ea0a5d61494b6a4e0ab7cc1c9ac0f055
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .ansible-lint
  .github/workflows/semantic-release.yml
  .gitignore
  .pre-commit-config.yaml
  renovate.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule-keycloak-local.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets (#9)
  .ansible-lint
  .github/workflows/semantic-release.yml
  .gitignore
  .pre-commit-config.yaml
  renovate.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule-keycloak-local.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

feat: Add VMware vSphere role and update Vault role configuration
  .gitignore
  .pre-commit-config.yaml
  galaxy.yml
  roles/vault/.forgejo/workflows/lint-release.yaml
  roles/vault/.gitignore
  roles/vault/.releaserc.yaml
  roles/vault/CHANGELOG.md
  roles/vault/README.md
  roles/vault/defaults/main.yml
  roles/vault/meta/main.yml
  roles/vault/molecule/default/converge.yml
  roles/vault/molecule/default/molecule.yml
  roles/vault/renovate.json
  roles/vault/tasks/assert.yml
  roles/vault/tasks/main.yml
  roles/vault/templates/macros.j2
  roles/vault/templates/vault.hcl.j2
  scripts/devtools-collection-prepare.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

feat: Add Keycloak and Vault Molecule scenarios with configuration files
  README.md
  molecule/keycloak-basic/converge.yml
  molecule/keycloak-basic/destroy.yml
  molecule/keycloak-basic/molecule.yml
  molecule/keycloak-basic/verify.yml
  molecule/vault-basic/converge.yml
  molecule/vault-basic/destroy.yml
  molecule/vault-basic/molecule.yml
  molecule/vault-basic/roles/terragrunt/tasks/main.yml
  molecule/vault-basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

feat: Add Molecule scenarios for OpenVPN and Manage ESXi roles with verification and destruction playbooks
  README.md
  molecule/gitlab-runner-basic/converge.yml
  molecule/gitlab-runner-basic/destroy.yml
  molecule/gitlab-runner-basic/molecule.yml
  molecule/gitlab-runner-basic/verify.yml
  molecule/manage-esxi-basic/converge.yml
  molecule/manage-esxi-basic/destroy.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/manage-esxi-basic/roles/manage_esxi/tasks/main.yml
  molecule/manage-esxi-basic/verify.yml
  molecule/openvpn-basic/converge.yml
  molecule/openvpn-basic/destroy.yml
  molecule/openvpn-basic/molecule.yml
  molecule/openvpn-basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

feat: Add Molecule scenarios for Nexus role with converge, destroy, and verify playbooks
  README.md
  molecule/nexus-basic/converge.yml
  molecule/nexus-basic/destroy.yml
  molecule/nexus-basic/molecule.yml
  molecule/nexus-basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

feat: Update ANSIBLE_COLLECTIONS_PATHS in Molecule configurations and bump devtools image version
  molecule/gitlab-runner-basic/molecule.yml
  molecule/keycloak-basic/molecule.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/nexus-basic/molecule.yml
  molecule/openvpn-basic/molecule.yml
  molecule/vault-basic/molecule.yml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

feat: Refactor scripts for improved error handling and UTF-8 support in YAML parsing
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#15)
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  208c9e576290c885fe4fde68b972d892627c8933
Due: none

refactor: update Ansible roles to use Terragrunt and enhance manage_esxi role configuration
  .pre-commit-config.yaml
  galaxy.yml
  molecule/manage-esxi-basic/converge.yml
  roles/keycloak_config/README.md
  roles/keycloak_config/defaults/main.yml
  roles/keycloak_config/tasks/main.yml
  roles/keycloak_config/tasks/prepare_tg_dir.yml
  roles/keycloak_config/tasks/render_tg.yml
  roles/keycloak_config/tasks/terragrunt_apply.yml
  roles/keycloak_config/tasks/validate.yml
  roles/keycloak_config/templates/terragrunt.hcl.j2
  roles/manage_esxi/defaults/main.yml
  roles/manage_esxi/tasks/base.yml
  roles/manage_esxi/tasks/main.yml
  roles/manage_esxi/tasks/portgroups.yml
  roles/manage_esxi/tasks/preconfig.yml
  roles/manage_esxi/tasks/users.yml
  roles/manage_esxi/vars/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: update Ansible roles to use Terragrunt and enhance manage_esxi role configuration (#21)
  .pre-commit-config.yaml
  galaxy.yml
  molecule/manage-esxi-basic/converge.yml
  roles/keycloak_config/README.md
  roles/keycloak_config/defaults/main.yml
  roles/keycloak_config/tasks/main.yml
  roles/keycloak_config/tasks/prepare_tg_dir.yml
  roles/keycloak_config/tasks/render_tg.yml
  roles/keycloak_config/tasks/terragrunt_apply.yml
  roles/keycloak_config/tasks/validate.yml
  roles/keycloak_config/templates/terragrunt.hcl.j2
  roles/manage_esxi/defaults/main.yml
  roles/manage_esxi/tasks/base.yml
  roles/manage_esxi/tasks/main.yml
  roles/manage_esxi/tasks/portgroups.yml
  roles/manage_esxi/tasks/preconfig.yml
  roles/manage_esxi/tasks/users.yml
  roles/manage_esxi/vars/main.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  753569ad3fc78ec92115a57660a2c40c4c268750
Due: none
