Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

fix(deps): allow community.crypto v3 range
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

feat: update automation metrics variables to use effective values (#184)
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/40_install.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  eb1d5e145ff90bb06561e89fd3a852417136d822
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/aap-incus-protected.yml
  .github/workflows/collection-publish-galaxy.yml
  .gitignore
  .pre-commit-config.yaml
  AGENT.md
  CONTRIBUTING.md
  scripts/demo-aap-rhel10-incus.sh
  scripts/devtools-actionlint.sh
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/devtools-renovate-config-validator.sh
  scripts/devtools-yamllint.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(incus): attach cloud-init config disk for VMs
  deploy/incus/create.sh
Due: none

fix(incus): attach cloud-init config disk for VMs (#188)
  deploy/incus/create.sh
Due: none

chore(release): 1.24.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  70aa9db06587c39ae9a28349b843faee52fb2e9c
Due: none

fix(incus): allow IPv6 instance addresses
  deploy/incus/inventory.sh
  deploy/incus/wait-for-instance.sh
Due: none

fix(incus): allow IPv6 instance addresses (#190)
  deploy/incus/inventory.sh
  deploy/incus/wait-for-instance.sh
Due: none

chore(release): 1.24.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  bef791c00518abb4b7021ab4c046f0f3da3f2875
Due: none

fix(incus): provide VM cloud-init network config
  deploy/incus/create.sh
Due: none

fix(incus): provide VM cloud-init network config (#192)
  deploy/incus/create.sh
Due: none

chore(release): 1.24.3 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  6bfc22177061513526960e13ffd0278871ddd9c1
Due: none

fix(incus): make cloud-init profiles valid user-data
  deploy/incus/profiles/rhel10.yml
  deploy/incus/profiles/rhel9.yml
Due: yamllint-ee, ansible-lint-ee

fix(incus): make cloud-init profiles valid user-data (#193)
  deploy/incus/profiles/rhel10.yml
  deploy/incus/profiles/rhel9.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.24.4 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  7bffa177a6625dc720dac3b830d7b2a40df80bf1
Due: none

fix(incus): match VM network config by MAC address
  deploy/incus/create.sh
Due: none

fix(incus): match VM network config by MAC address (#194)
  deploy/incus/create.sh
Due: none

chore(release): 1.24.5 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  e086351ccd23385c088d52b5ab7f35aa2a489217
Due: none

fix(incus): use exact cloud-config header
  .ansible-lint
  .yamllint
  deploy/incus/profiles/rhel10.yml
  deploy/incus/profiles/rhel9.yml
Due: yamllint-ee, ansible-lint-ee

fix(incus): use exact cloud-config header (#195)
  .ansible-lint
  .yamllint
  deploy/incus/profiles/rhel10.yml
  deploy/incus/profiles/rhel9.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.24.6 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  6ff189ef5d39cdaab35411b1b687569536d222a7
Due: none

fix(aap): add installer diagnostics
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/45_installer_diagnostics.yml
  roles/aap_deploy/vars/RedHat-10.yml
  roles/aap_deploy/vars/RedHat-9.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): add installer diagnostics (#197)
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/45_installer_diagnostics.yml
  roles/aap_deploy/vars/RedHat-10.yml
  roles/aap_deploy/vars/RedHat-9.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.24.7 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  30d555ac735dd4717fb00dace0ccf547c8400186
Due: none

fix(aap): run installer with native async polling
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/40_install.yml
Due: yamllint-ee, ansible-lint-ee

fix(aap): run installer with native async polling (#199)
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/40_install.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.24.8 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  692e8e49651afdf5ffd5f74bed4650fce13f7d1f
Due: none

feat(aap): support external installer polling
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap): support external installer polling (#200)
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee
