Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

test(mlx90): cover push-ready engine core flows
  .gitignore
  tests/unit/test_push_ready_engine.py
  tests/unit/test_workflow_security.py
Due: none

feat(management): add Goal 07 service roles
  README.md
  changelogs/fragments/wunderbox-goal07-management-services.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  meta/source-dependencies.yml
  roles/alloy_deploy/README.md
  roles/alloy_deploy/defaults/main.yml
  roles/alloy_deploy/tasks/assert.yml
  roles/alloy_deploy/tasks/deploy_pod.yml
  roles/alloy_deploy/templates/alloy-pod.yml.j2
  roles/alloy_deploy/templates/config.alloy.j2
  roles/guacamole_deploy/README.md
  roles/guacamole_deploy/defaults/main.yml
  roles/guacamole_deploy/handlers/main.yml
  roles/guacamole_deploy/meta/main.yml
  roles/guacamole_deploy/tasks/main.yml
  roles/guacamole_deploy/tasks/reconcile_connection.yml
  roles/guacamole_deploy/templates/guacamole-pod.yml.j2
  roles/guacamole_deploy/templates/guacamole.service.j2
  roles/netbox_deploy/README.md
  roles/netbox_deploy/defaults/main.yml
  roles/netbox_deploy/handlers/main.yml
  roles/netbox_deploy/meta/main.yml
  roles/netbox_deploy/tasks/main.yml
  roles/netbox_deploy/templates/netbox-pod.yml.j2
  roles/netbox_deploy/templates/netbox-sso.py.j2
  roles/netbox_deploy/templates/netbox.service.j2
  roles/nginx_config/README.md
  roles/nginx_config/defaults/main.yml
  roles/nginx_config/tasks/main.yml
  roles/vault_secret_bundle/README.md
  roles/vault_secret_bundle/defaults/main.yml
  roles/vault_secret_bundle/meta/main.yml
  roles/vault_secret_bundle/tasks/main.yml
  tests/test_role_coverage.py
  tests/unit/test_guacamole_deploy_contracts.py
  tests/unit/test_source_dependencies.py
  tests/unit/test_vault_secret_bundle_contracts.py
Due: yamllint-ee, ansible-lint-ee

docs(mlx90): classify push-ready foundation feature
  changelogs/fragments/mlx90-push-ready-engine-foundation.yml
Due: yamllint-ee, ansible-lint-ee

fix(mlx90): bind push-ready evidence to review input
  .gitignore
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

feat(nginx): enforce explicit Vault TLS custody
  changelogs/fragments/wunderbox-goal07-management-services.yml
  roles/nginx_config/README.md
  roles/nginx_config/defaults/main.yml
  roles/nginx_config/tasks/assert.yml
  roles/nginx_config/tasks/main.yml
  tests/unit/test_nginx_vault_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): narrow evidence duration type
  scripts/lit-push-ready.py
Due: none

style(tests): apply Ruff formatting
  tests/unit/test_nginx_vault_tls_contracts.py
Due: none

fix(nginx): honor skipped config in PKI guard
  roles/nginx_config/tasks/assert.yml
  tests/unit/test_nginx_vault_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(nginx): complete disabled-issuance contract
  roles/nginx_config/README.md
  roles/nginx_config/defaults/main.yml
  roles/nginx_config/tasks/main.yml
  tests/unit/test_nginx_vault_tls_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(release): bootstrap promotion verifier interface
  .github/workflows/main-promotion-authorization.yml
  changelogs/fragments/main-promotion-policy-bootstrap.yml
  tests/unit/test_main_promotion_merge_gate.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(push-ready): satisfy collection sanity checks
  scripts/lit-ci-profile.sh
  scripts/lit-push-ready.py
  scripts/lit-repository-quality.py
  scripts/validate-embedded-code.py
Due: none

test(push-ready): cover review safety findings
  scripts/validate-embedded-code.py
  tests/unit/test_push_ready_engine.py
Due: none

test(ci): track updated attest digest
  tests/unit/test_workflow_security.py
Due: none

fix(quality): align embedded validation with sanity
  scripts/lit-repository-quality.py
  scripts/validate-embedded-code.py
Due: none

fix(quality): reject unsafe document paths
  scripts/lit-repository-quality.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): reject undecodable review files
  changelogs/fragments/mlx90-push-ready-engine-foundation.yml
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): bind quality executables
  changelogs/fragments/mlx90-push-ready-engine-foundation.yml
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): validate mixed-case markdown suffixes
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): select a usable container engine
  .lit/push-ready.json
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): enforce reviewed pushes through hook
  .pre-commit-config.yaml
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): minimize review credentials and validate tilde fences
  scripts/lit-push-ready.py
  scripts/validate-embedded-code.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): reject executable local git config
  scripts/lit-push-ready.py
  scripts/lit-repository-quality.py
  tests/unit/test_push_ready_engine.py
Due: none

test(push-ready): keep hook regression within review cap
  .pre-commit-config.yaml
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): isolate pre-push hook stage
  .pre-commit-config.yaml
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): pass bounded Markdown scope to devtool
  scripts/lit-ci-profile.sh
  scripts/lit-push-ready.py
  scripts/lit-repository-quality.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): authorize reviewed trust-root evidence
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): pin supported pre-commit runtime
  .lit/push-ready.json
  scripts/lit-ci-profile.sh
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): bind initial trust-root bootstrap
  .lit/push-ready.json
  scripts/lit-ci-profile.sh
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): require complete collection gates
  scripts/lit-ci-profile.sh
  scripts/lit-repository-quality.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): mirror CI Molecule boundary
  scripts/lit-ci-profile.sh
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): make full Molecule gate rootless-safe
  molecule/artifacts-basic/converge.yml
  scripts/lit-ci-profile.sh
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

test(push-ready): keep non-UTF8 fixture review-safe
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): document historical synthetic fixture
  .lit/push-ready-secret-fixtures.json
  changelogs/fragments/mlx90-secret-fixture-bootstrap.yml
Due: yamllint-ee, ansible-lint-ee

feat(mlx90): parallelize history-free reviews
  changelogs/fragments/mlx90-push-ready-parallel-review.yml
  docs/push-ready-optimization.md
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

feat(mlx90): add risk-based review profiles
  .github/codex/prompts/remediate-copilot.md
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/copilot-review.yml
  .lit/push-ready.json
  changelogs/fragments/mlx90-review-profile-pilot.yml
  docs/push-ready-optimization.md
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs(changelog): record push-ready hardening
  changelogs/fragments/mlx90-push-ready-bootstrap-followup.yml
Due: yamllint-ee, ansible-lint-ee

fix(push-ready): bind pre-commit trust root
  scripts/lit-ci-profile.sh
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: none

fix(push-ready): preserve native push updates
  .pre-commit-config.yaml
  scripts/lit-push-ready.py
  tests/unit/test_push_ready_engine.py
Due: yamllint-ee, ansible-lint-ee

test(mlx90): prove bounded Copilot triggers
  tests/unit/test_workflow_security.py
Due: none

test(mlx90): bind remediation rereview evidence
  tests/unit/test_push_ready_engine.py
  tests/unit/test_workflow_security.py
Due: none
