Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

fix: bump dependency version
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.18.8 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  4adbd40acaf4558a7bf3ff2f88fdd6af0609d684
Due: none

fix: only manage vault content
  roles/vault_config/tasks/config.yml
  roles/vault_config/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#166)
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.18.9 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  c13614f3fab98c1b5293f766307e35aad83c1292
Due: none

feat: add support for managing RHSM repositories in aap_deploy role
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#170)
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: add support for managing RHSM repositories in aap_deploy role (#175)
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  e72abb0c2113e768cf0a7b302caf5241e4fc4656
Due: none

feat: update aap_deploy role for AAP 2.7 support with automation metrics and inventory enhancements
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/21_build_setup_inventory_nodes.yml
  roles/aap_deploy/tasks/assert.yml
  tests/aap_deploy_inventory_nodes.yml
Due: yamllint-ee, ansible-lint-ee

feat: update README for AAP 2.7 support with new requirements and automation metrics details
  roles/aap_deploy/README.md
Due: none

feat: aap version 2 7 (#176)
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/21_build_setup_inventory_nodes.yml
  roles/aap_deploy/tasks/assert.yml
  tests/aap_deploy_inventory_nodes.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  d5da1a777652b830c644fa0e44d0b3a611216725
Due: none

feat: update aap_deploy role for AAP 2.7 by refining automation metrics configuration and validation
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/21_build_setup_inventory_nodes.yml
  roles/aap_deploy/tasks/assert.yml
  tests/aap_deploy_inventory_nodes.yml
Due: yamllint-ee, ansible-lint-ee

feat: aap version 2 7 (#177)
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/21_build_setup_inventory_nodes.yml
  roles/aap_deploy/tasks/assert.yml
  tests/aap_deploy_inventory_nodes.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  de9abf15f363c23feef9d7891bc306de5f3baa2f
Due: none

feat: add automation metrics service variables and validation for AAP 2.7
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  tests/aap_deploy_inventory_nodes.yml
Due: yamllint-ee, ansible-lint-ee

feat: add automation metrics service variables and validation for AAP 2.7 (#178)
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  tests/aap_deploy_inventory_nodes.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  e501bf9294529c3852945aaf6c2043e0cbb0a4a1
Due: none

docs: update README and AAP testing documentation for RHEL 10 image alias creation
  deploy/incus/README.md
  deploy/incus/create.sh
  docs/testing/aap.md
  scripts/demo-aap-rhel10-incus.sh
Due: none

feat: update AAP version to 2.7 in role defaults and documentation
  molecule/aap-rhel10/verify.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: add AAP RHEL 10 Incus development guide and update testing documentation
  docs/development/AGENTS.md
  docs/development/aap-rhel10-incus.md
  docs/testing/README.md
Due: none

Enhance AAP development workflow for RHEL 9 and 10
  AGENTS.md
  collections/requirements.yml
  deploy/incus/README.md
  deploy/incus/create.sh
  deploy/incus/destroy.sh
  docs/development/aap-rhel10-incus.md
  docs/development/aap/AGENTS.md
  docs/testing/aap.md
  galaxy.yml
  molecule/aap-rhel10/destroy.yml
  molecule/aap-rhel10/prepare.yml
  molecule/aap-rhel9/destroy.yml
  molecule/aap-rhel9/prepare.yml
  playbooks/rhel_prepare.yml
  playbooks/rhel_teardown.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/vars/RedHat-10.yml
  roles/aap_deploy/vars/RedHat-9.yml
  scripts/demo-aap-rhel10-incus.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  AGENT.md
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  f1f020a42a8cbae9848dfffc6e32f8d4f7b621c3
Due: none

chore: sync shared assets from lightning-it/shared-assets (#180)
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.23.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  250d332b81ba0086e32f79fac74e0f2f83f3f0d3
Due: none

feat: update automation metrics variables to use effective values
  roles/aap_deploy/tasks/22_build_setup_inventory_vars.yml
  roles/aap_deploy/tasks/40_install.yml
Due: yamllint-ee, ansible-lint-ee
