Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

Notes added by 'git notes add'
  2a3615167b67a9bb7a68215d0b7523a806fd7015
Due: none

feat: enhance aap_deploy role with variable validation and improved package handling
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_deploy): Enhance AAP deployment role with comprehensive tasks and validations
  molecule/aap-deploy-basic/converge.yml
  molecule/aap-deploy-basic/verify.yml
  roles/aap/README.md
  roles/aap/defaults/main.yml
  roles/aap/meta/main.yml
  roles/aap/tasks/assert.yml
  roles/aap/tasks/main.yml
  roles/aap_config/README.md
  roles/aap_config/defaults/main.yml
  roles/aap_config/meta/main.yml
  roles/aap_config/tasks/assert.yml
  roles/aap_config/tasks/main.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/10_host_prep.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/30_inventory.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/50_verify.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
  roles/aap_deploy/templates/inventory-enterprise.j2
  roles/aap_deploy/templates/inventory-growth.j2
  roles/aap_ops/README.md
  roles/aap_ops/defaults/main.yml
  roles/aap_ops/meta/main.yml
  roles/aap_ops/tasks/assert.yml
  roles/aap_ops/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
  scripts/bump_galaxy_version.py
  scripts/wunder-devtools-ee.sh
Due: none

Enhance AAP deployment and operations roles with password management features
  AGENT.md
  ansible.cfg
  roles/aap/README.md
  roles/aap/defaults/main.yml
  roles/aap/defaults/rhel10.yml
  roles/aap/defaults/rhel9.yml
  roles/aap/tasks/assert.yml
  roles/aap/tasks/main.yml
  roles/aap/tasks/resolve_admin_passwords.yml
  roles/aap_config/README.md
  roles/aap_config/defaults/main.yml
  roles/aap_config/tasks/assert.yml
  roles/aap_config/tasks/main.yml
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/meta/main.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
  roles/aap_deploy/templates/inventory-enterprise.j2
  roles/aap_deploy/templates/inventory-growth.j2
  roles/aap_ops/README.md
  roles/aap_ops/defaults/main.yml
  roles/aap_ops/tasks/assert.yml
  roles/aap_ops/tasks/main.yml
  roles/aap_ops/tasks/rotate_password.yml
  scripts/devtools-ansible-lint.sh
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): Refactor authentication token management in CaC tasksets
  roles/aap_cac/README.md
  roles/aap_cac/tasks/cac_10_gateway_settings.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_12_aap_users.yml
  roles/aap_cac/tasks/cac_13_aap_teams.yml
  roles/aap_cac/tasks/cac_14_gateway_role_user_assignments.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_34_sync_hub.yml
  roles/aap_cac/tasks/cac_99_object_reconcile.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): Refactor tasksets and enhance documentation for AAP configuration
  roles/aap_cac/README.md
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_34_sync_hub.yml
  roles/aap_cac/tasks/cac_99_object_reconcile.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/delete_authentication_token.yml
  roles/aap_cac/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat(aap_cac): Refactor authentication token management and enhance related tasks and documentation
  collections/requirements.yml
  galaxy.yml
  renovate.json
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/create_authentication_token.yml
  roles/aap_cac/tasks/delete_authentication_token.yml
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets (#74)
  AGENT.md
  scripts/bump_galaxy_version.py
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
Due: none

chore: sync shared assets from lightning-it/shared-assets (#76)
  AGENT.md
Due: none

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  ea42bf9db471c37c06d0fb9a83f6056520121bdf
Due: none

feat: Update ansible.platform dependency management in requirements and renovate configuration
  collections/requirements.yml
  galaxy.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

fix: update dept (#79)
  collections/requirements.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.15.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  1bf806076753e552f82a7f6eb31fcd5d7e3746f6
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .ansible-lint
  .pre-commit-config.yaml
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#80)
  .ansible-lint
  .pre-commit-config.yaml
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore: update ansible.platform dependency management in requirements and galaxy files
  collections/requirements.yml
  galaxy.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

feat: update collection requirements and documentation for public and certified flows
  .gitignore
  README.md
  collections/requirements-certified.yml
  collections/requirements-public.yml
  renovate.json
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_10_gateway_settings.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_12_aap_users.yml
  roles/aap_cac/tasks/cac_13_aap_teams.yml
  roles/aap_cac/tasks/cac_14_gateway_role_user_assignments.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_99_object_reconcile.yml
  roles/aap_deploy/tasks/40_install.yml
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

fix: update ansible.platform entry in requirements-certified.yml to use the correct name format
  collections/requirements-certified.yml
Due: yamllint-ee, ansible-lint-ee

fix: update dependencies and versioning in various configuration files
  .ansible-lint
  .pre-commit-config.yaml
  CHANGELOG.md
  collections/requirements-certified.yml
  galaxy.yml
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

fix: enable privilege escalation for deployment tasks
  roles/aap_cac/defaults/main.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/50_verify.yml
Due: yamllint-ee, ansible-lint-ee

fix: update ansible.platform dependency management in requirements … (#81)
  .gitignore
  README.md
  collections/requirements-certified.yml
  collections/requirements-public.yml
  galaxy.yml
  renovate.json
  roles/aap_cac/README.md
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_10_gateway_settings.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_12_aap_users.yml
  roles/aap_cac/tasks/cac_13_aap_teams.yml
  roles/aap_cac/tasks/cac_14_gateway_role_user_assignments.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_99_object_reconcile.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/50_verify.yml
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

chore(release): 1.15.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  7314a5f9f0b1698157e1ba96356475d74390990e
Due: none

feat: add validation job for certified requirements on Automation Hub
  .github/workflows/collection-ci.yml
  renovate.json
  scripts/validate-certified-on-ah.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

fix: pipeline creds added ah (#93)
  .github/workflows/collection-ci.yml
  renovate.json
  scripts/validate-certified-on-ah.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

Notes added by 'git notes add'
  d60cf6e0f837b096961b15b11bae791af1556fe9
Due: none

chore(release): 1.15.3 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.15.4 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  9fc83fb9b64c474c5be02af93b10844377ff6cf4
Due: none

fix: add conditional check for Automation Hub token in validation job
  .github/workflows/collection-ci.yml
  collections/requirements-public.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

fix: pipeline creds added ah (#97)
  .github/workflows/collection-ci.yml
  collections/requirements-public.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore(release): 1.15.5 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  2c76d7aee017f5ceca067d3f094dac5b0f34930b
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
