Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

fix(ci): preserve required container evidence
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

test(ci): align evidence inventory assertions
  tests/unit/test_keycloak_evidence_producers.py
Due: none

fix(keycloak): guard failure redaction
  roles/keycloak_cac/tasks/cac_14_roles.yml
  roles/keycloak_cac/tasks/cac_15_users.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): isolate structured inventory input
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): validate sanitized inventory after loop
  molecule/shared/incus/collect-evidence.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

style(test): wrap inventory assertion
  tests/unit/test_keycloak_evidence_producers.py
Due: none

style(test): apply repository formatter
  tests/unit/test_keycloak_evidence_producers.py
Due: none

fix(ci): restore compatible inventory capture
  molecule/keycloak-application-acceptance/cleanup.yml
  molecule/keycloak-application-acceptance/verify.yml
  molecule/keycloak-heavy/cleanup.yml
  molecule/keycloak-tiny/cleanup.yml
  molecule/shared/incus/collect-evidence.yml
  roles/keycloak_cac/tasks/cac_15_users.yml
  tests/unit/test_keycloak_evidence_producers.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): harden Renovate automerge gates (#399)
  .github/actions/run-quality-profile/action.yml
  .github/workflows/copilot-review.yml
  .github/workflows/renovate-guarded-automerge.yml
  changelogs/fragments/renovate-automerge-followup.yml
  molecule/keycloak-application-acceptance/verify.yml
  molecule/shared/incus/collect-evidence.yml
  roles/keycloak_cac/tasks/cac_14_roles.yml
  roles/keycloak_cac/tasks/cac_15_users.yml
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_keycloak_evidence_producers.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): unblock trusted Renovate updates
  .github/workflows/changelog.yml
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(ci): cover all Renovate changelog guards
  tests/unit/test_workflow_security.py
Due: none

test(incus): assert inventory argv semantically
  tests/unit/test_incus_lifecycle.py
Due: none

fix(ci): unblock trusted Renovate updates (#400)
  .github/workflows/changelog.yml
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): propagate trusted Renovate changelog policy
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test(ci): parse collection workflow policy
  tests/unit/test_workflow_security.py
Due: none

fix(ci): preserve changelog hook context
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): support non-PR changelog contexts
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync verified release back-sync gate
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: align workflow trust assertions
  tests/unit/test_workflow_security.py
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/copilot-review.yml
  .pre-commit-config.yaml
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): use available Python interpreter for quality cells
  .github/actions/run-quality-profile/action.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): validate stale resource kinds
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
Due: none

test(ci): clarify unsupported resource kind
  tests/unit/test_incus_lifecycle.py
Due: none

fix(ci): use the provisioned Python runtime
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

test(ci): cover concurrent network cleanup
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_incus_lifecycle.py
Due: yamllint-ee, ansible-lint-ee

docs(ci): describe pinned runner dependencies precisely
  .github/actions/run-quality-profile/action.yml
  changelogs/fragments/fix-quality-runner-toolchain.yml
Due: yamllint-ee, ansible-lint-ee

delegate infrastructure validation profiles
  .github/workflows/collection-ci.yml
  AGENTS.md
  changelogs/fragments/delegate-infrastructure-validation.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: install matrix candidate without dependencies
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: preserve runner collection dependencies
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: bundle exact matrix collection dependencies
  .github/actions/run-quality-profile/action.yml
  .github/workflows/collection-ci.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

pin delegated validation workflow release
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: allow contained collection bundle links
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: preserve provisioned matrix controller
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: use runner python entry point
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: isolate molecule tooling from runner controller
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: expose isolated controller entry points
  .github/actions/run-quality-profile/action.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee

fix: tolerate safe Incus network races
  scripts/prune_stale_incus_resources.py
  tests/unit/test_incus_lifecycle.py
Due: none

test: expose Keycloak LDAP parser failure
  molecule/keycloak-heavy/converge.yml
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
