Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

fix: require Automation Hub token for certified requirements validation and enhance authentication handling
  .github/workflows/collection-ci.yml
  collections/requirements-public.yml
  renovate.json
  scripts/validate-certified-on-ah.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

feat: enhance token handling and authentication for Automation Hub API
  scripts/validate-certified-on-ah.sh
Due: none

fix: improve Automation Hub token validation and certified requirements detection
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: enhance token handling and authentication for Automation Hub API (#100)
  .github/workflows/collection-ci.yml
  scripts/validate-certified-on-ah.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  a90c4a2a87e4f679dc7e7ac4052ac9ac2dd3269e
Due: none

fix: token handling ah (#99)
  renovate.json
Due: renovate-config-validate

chore(release): 1.16.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  423f449bf8a3c2802f1f0b1f98fcd5d173bd4a1f
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .gitignore
Due: none

chore: sync shared assets from lightning-it/shared-assets (#98)
  .gitignore
Due: none

chore: sync shared assets from lightning-it/shared-assets
  scripts/validate-certified-on-ah.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#102)
  scripts/validate-certified-on-ah.sh
Due: none

fix: update dependencies in requirements-certified.yml
  collections/requirements-certified.yml
Due: yamllint-ee, ansible-lint-ee

fix: update ANSIBLE_COLLECTIONS_PATH variable in molecule.yml files
  molecule/aap-deploy-basic/molecule.yml
  molecule/cloudflared-basic/molecule.yml
  molecule/gitlab-runner-basic/molecule.yml
  molecule/keycloak-basic/molecule.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/minio-backup-restore-basic/molecule.yml
  molecule/minio-bootstrap-basic/molecule.yml
  molecule/minio-config-basic/molecule.yml
  molecule/minio-deploy-basic/molecule.yml
  molecule/minio-foundational-basic/molecule.yml
  molecule/minio-ops-basic/molecule.yml
  molecule/minio-validate-basic/molecule.yml
  molecule/nexus-basic/molecule.yml
  molecule/nginx-config-basic/molecule.yml
  molecule/nginx-deploy-basic/molecule.yml
  molecule/nginx-ops-basic/molecule.yml
  molecule/nginx-validate-basic/molecule.yml
  molecule/openvpn-basic/molecule.yml
  molecule/vault-basic/molecule.yml
Due: yamllint-ee, ansible-lint-ee

fix: update role reference in converge.yml and add ANSIBLE_ROLES_PATH in molecule.yml
  molecule/keycloak-basic/converge.yml
  molecule/keycloak-basic/molecule.yml
Due: yamllint-ee, ansible-lint-ee

fix: update community.vmware version to 5.10.0 and remove ANSIBLE_COLLECTIONS_PATH from molecule.yml files
  collections/requirements-public.yml
  galaxy.yml
  molecule/aap-deploy-basic/molecule.yml
  molecule/cloudflared-basic/molecule.yml
  molecule/gitlab-runner-basic/molecule.yml
  molecule/keycloak-basic/molecule.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/minio-backup-restore-basic/molecule.yml
  molecule/minio-bootstrap-basic/molecule.yml
  molecule/minio-config-basic/molecule.yml
  molecule/minio-deploy-basic/molecule.yml
  molecule/minio-foundational-basic/molecule.yml
  molecule/minio-ops-basic/molecule.yml
  molecule/minio-validate-basic/molecule.yml
  molecule/nexus-basic/molecule.yml
  molecule/nginx-config-basic/molecule.yml
  molecule/nginx-deploy-basic/molecule.yml
  molecule/nginx-ops-basic/molecule.yml
  molecule/nginx-validate-basic/molecule.yml
  molecule/openvpn-basic/molecule.yml
  molecule/vault-basic/molecule.yml
  renovate.json
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

fix: update dependencies in requirements-certified.yml (#101)
  collections/requirements-certified.yml
  collections/requirements-public.yml
  galaxy.yml
  molecule/aap-deploy-basic/molecule.yml
  molecule/cloudflared-basic/molecule.yml
  molecule/gitlab-runner-basic/molecule.yml
  molecule/keycloak-basic/converge.yml
  molecule/keycloak-basic/molecule.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/minio-backup-restore-basic/molecule.yml
  molecule/minio-bootstrap-basic/molecule.yml
  molecule/minio-config-basic/molecule.yml
  molecule/minio-deploy-basic/molecule.yml
  molecule/minio-foundational-basic/molecule.yml
  molecule/minio-ops-basic/molecule.yml
  molecule/minio-validate-basic/molecule.yml
  molecule/nexus-basic/molecule.yml
  molecule/nginx-config-basic/molecule.yml
  molecule/nginx-deploy-basic/molecule.yml
  molecule/nginx-ops-basic/molecule.yml
  molecule/nginx-validate-basic/molecule.yml
  molecule/openvpn-basic/molecule.yml
  molecule/vault-basic/molecule.yml
  renovate.json
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

chore(release): 1.16.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  0717bb1ce0529885c7619de88b3e75a38fc0b139
Due: none

fix: update dependencies in requirements-public.yml and renovate.json
  collections/requirements-public.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

fix: downgrade infra.controller_configuration version to 3.1.2 in requirements files
  collections/requirements-certified.yml
  collections/requirements-public.yml
Due: yamllint-ee, ansible-lint-ee

feat: add molecule configuration files and update scenarios for various environments
  .config/molecule/config.yml
  extensions/molecule
  molecule/cloudflared-basic/molecule.yml
  molecule/default/molecule.yml
  molecule/gitlab-runner-basic/molecule.yml
  molecule/keycloak-basic/molecule.yml
  molecule/manage-esxi-basic/molecule.yml
  molecule/minio-backup-restore-basic/molecule.yml
  molecule/minio-bootstrap-basic/molecule.yml
  molecule/minio-config-basic/molecule.yml
  molecule/minio-deploy-basic/molecule.yml
  molecule/minio-foundational-basic/molecule.yml
  molecule/minio-ops-basic/molecule.yml
  molecule/minio-validate-basic/molecule.yml
  molecule/nexus-basic/molecule.yml
  molecule/nginx-config-basic/molecule.yml
  molecule/nginx-deploy-basic/molecule.yml
  molecule/nginx-ops-basic/molecule.yml
  molecule/nginx-validate-basic/molecule.yml
  molecule/openvpn-basic/molecule.yml
  molecule/vault-basic/molecule.yml
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

fix: remove unused variable aap_token from aap_cac role in converge.yml
  extensions/molecule/aap-cac-basic/converge.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.16.3 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  46c421144709c4558600ece2644f2406a6897c7a
Due: none

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
  scripts/devtools-molecule.sh
Due: none

feat: add fedora.linux_system_roles dependency version 1.120.3 to requirements
  collections/requirements-public.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

fix: update community.general dependency version range for compatibility
  galaxy.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets (#112)
  AGENT.md
  scripts/devtools-molecule.sh
Due: none

feat: enhance aap_deploy role with runtime checks and validation for existing installations
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/05_detect_existing_install.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: collections expanded (#119)
  collections/requirements-public.yml
  renovate.json
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/05_detect_existing_install.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/40_install.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

chore(release): 1.16.4 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  4d48b648ea265473f2637adc1aa9b7d3fc8a97da
Due: none

fix: update fedora.linux_system_roles datasource to galaxy-collection in requirements
  collections/requirements-public.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

feat: add script to sync certified collection versions from Automation Hub
  .github/workflows/collection-ci.yml
  scripts/sync-certified-from-ah.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: improve version extraction logic in sync-certified-from-ah.sh
  scripts/sync-certified-from-ah.sh
Due: none
