Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo \\\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: 'bash -lc ''docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator''
  
    '

feat: add TLS asset staging and validation for installer inventory
  roles/aap_deploy/README.md
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/assert.yml
  roles/aap_deploy/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee

feat: add controller readiness checks and Vault PKI integration for TLS assets
  roles/aap_cac/defaults/main.yml
  roles/aap_cac/tasks/cac_11_gateway_organizations.yml
  roles/aap_cac/tasks/cac_15_gateway_organizations.yml
  roles/aap_cac/tasks/cac_16_controller_teams.yml
  roles/aap_cac/tasks/cac_19_controller_license.yml
  roles/aap_cac/tasks/cac_20_controller_settings.yml
  roles/aap_cac/tasks/cac_21_controller_credential_types.yml
  roles/aap_cac/tasks/cac_22_controller_labels.yml
  roles/aap_cac/tasks/cac_23_controller_credentials.yml
  roles/aap_cac/tasks/cac_24_controller_projects.yml
  roles/aap_cac/tasks/cac_25_controller_instance_groups.yml
  roles/aap_cac/tasks/cac_26_controller_inventories.yml
  roles/aap_cac/tasks/cac_27_controller_inventory_sources.yml
  roles/aap_cac/tasks/cac_28_controller_job_templates.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_filetree.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_inventory_runtime.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_jobs.yml
  roles/aap_cac/tasks/cac_35_controller_configuration_platform_ops.yml
  roles/aap_cac/tasks/wait_for_controller_readiness.yml
  roles/aap_deploy/defaults/main.yml
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

feat: fix newline handling in Vault PKI CA bundle processing
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
Due: yamllint-ee, ansible-lint-ee

feat: update ee-wunder-devtools-ubi9 image tag to v1.8.1 in scripts and documentation
  README.md
  renovate.base.json
  scripts/wunder-devtools-ee.sh
Due: none

feat: enhance Vault PKI handling with CA bundle normalization and PEM template
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/templates/pem_bundle.j2
Due: yamllint-ee, ansible-lint-ee

feat: add package version management guidelines to AGENT.md
  AGENT.md
  scripts/devtools-molecule.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#145)
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  scripts/devtools-collection-prepare.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
  renovate.base.json
  scripts/devtools-molecule.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#147)
  AGENT.md
  renovate.base.json
  scripts/devtools-molecule.sh
Due: none

fix: improve role name handling and update docker args in scripts
  roles/aap_deploy/defaults/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  8273c93ad67c5a63123789002269410bb5032527
Due: none

feat: enhance TLS handling to support inline cert/key content
  roles/aap_deploy/README.md
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

fix: improve handling of HOME and cache directories in devtools scripts
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#152)
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: ansible customer certs (#154)
  roles/aap_deploy/README.md
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.18.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  454fc30197e811ac8715b823428a4ac73fe3d84d
Due: none

chore(release): 1.18.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  4d0480f6269e938ea7d4b3bfd4cd7f345592cbbf
Due: none

feat: add certificate validation options for AAP deployment
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/40_install.yml
Due: yamllint-ee, ansible-lint-ee

feat: enhance TLS handling by allowing inline certificate and key content
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/tasks/assert.yml
Due: yamllint-ee, ansible-lint-ee

fix: aap cert handling (#155)
  roles/aap_deploy/tasks/15_stage_tls_assets.yml
  roles/aap_deploy/tasks/20_download_unpack.yml
  roles/aap_deploy/tasks/40_install.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.18.3 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  c06967363e7ef7ced5475572163ac7d57c7d57f2
Due: none

chore(release): 1.18.4 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  8387853ed0bad353de258620cdbdfaddbfc9c9ca
Due: none

fix: add missing passwords for automationhub and ah in bundle metadata
  roles/aap_deploy/tasks/20_download_unpack.yml
Due: yamllint-ee, ansible-lint-ee

fix: add missing passwords for automationhub and ah in bundle metadata (#157)
  roles/aap_deploy/tasks/20_download_unpack.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.18.5 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  97487eca6aaf9292df6926bd86f979e1ddcba110
Due: none

fix: remove bootstrap approles
  roles/vault_config/defaults/main.yml
  roles/vault_config/tasks/bootstrap_approle.yml
  roles/vault_config/tasks/bootstrap_approle_entry.yml
  roles/vault_config/tasks/config.yml
  roles/vault_deploy/defaults/main.yml
Due: yamllint-ee, ansible-lint-ee

fix: add new resources
  roles/vault_config/defaults/main.yml
  roles/vault_config/tasks/vault_pki.yml
  roles/vault_config/templates/macros.j2
  roles/vault_config/templates/vault.hcl.j2
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.18.6 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  c1a920889bbc81ff403c0b4d48b812feed37f023
Due: none

fix: some improvements + fixes
  roles/vault_config/defaults/main.yml
  roles/vault_config/tasks/config.yml
  roles/vault_config/templates/vault.hcl.j2
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.18.7 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee

Notes added by 'git notes add'
  6fae162c7566b75629cc606d118c88fdb87c3e0b
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
