Repository lightning-it/ansible-collection-supplementary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # molecule scenario for keycloak-local (via wunder-devtools-ee)
      - id: molecule-keycloak-local
        name: molecule test (keycloak-local)
        language: system
        entry: bash scripts/devtools-molecule-keycloak-local.sh
        pass_filenames: false

      - id: molecule-rhel9-rdp
        name: molecule rhel9-rdp (Vagrant)
        language: system
        stages: [manual]
        entry: bash scripts/devtools-molecule-rhel9-rdp.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo \
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

fix(li139): enter rollback boundary before mutation
  changelogs/fragments/li139-promotion-evidence-terminal.yml
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  roles/forward_proxy/tasks/enabled.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(li139): close promotion review findings
  changelogs/fragments/li139-promotion-final-findings.yml
  molecule/forward-proxy-tiny/verify.yml
  scripts/resolve-changelog-head-ref.sh
  tests/unit/test_changelog_head_ref.py
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

test(li139): enforce single rollback decode
  changelogs/fragments/li139-promotion-final-findings.yml
  molecule/forward-proxy-tiny/verify.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(li139): close terminal runtime boundaries
  changelogs/fragments/li139-terminal-runtime-boundaries.yml
  plugins/modules/atomic_unlink.py
  roles/forward_proxy/tasks/ensure_directory.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/plugins/modules/test_atomic_unlink.py
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix: close final promotion review boundaries
  .github/workflows/collection-ci.yml
  changelogs/fragments/li139-final-promotion-review.yml
  roles/forward_proxy/tasks/assert.yml
  roles/forward_proxy/tasks/transition.yml
  scripts/devtools-changelog-check.sh
  scripts/wunder-devtools-ee.sh
  tests/unit/test_changelog_head_ref.py
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: clarify trusted release changelog error
  scripts/devtools-changelog-check.sh
  tests/unit/test_changelog_head_ref.py
Due: none

fix: carry release identity through changelog gates
  .github/workflows/changelog.yml
  scripts/devtools-changelog-check.sh
  scripts/wunder-devtools-ee.sh
  tests/unit/test_changelog_head_ref.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: close promotion trust and readiness boundaries
  .github/workflows/collection-ci.yml
  changelogs/fragments/li139-final-promotion-review.yml
  roles/forward_proxy/README.md
  roles/forward_proxy/tasks/verify_runtime_ready.yml
  roles/guacamole_deploy/tasks/assert.yml
  scripts/devtools-changelog-check.sh
  tests/unit/test_changelog_head_ref.py
  tests/unit/test_forward_proxy_contracts.py
  tests/unit/test_guacamole_deploy_contracts.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: prove promotion review boundaries
  roles/forward_proxy/tasks/verify_runtime_ready.yml
  tests/unit/test_changelog_head_ref.py
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix: bind promotions to repository identity
  scripts/devtools-changelog-check.sh
  tests/unit/test_changelog_head_ref.py
Due: none

fix: preserve changelog promotion provenance
  changelogs/fragments/li139-final-promotion-review.yml
  scripts/devtools-changelog-check.sh
  scripts/resolve-changelog-head-ref.sh
  scripts/wunder-devtools-ee.sh
  tests/unit/test_changelog_head_ref.py
Due: yamllint-ee, ansible-lint-ee

fix: keep promotion provenance trust-root neutral
  scripts/devtools-changelog-check.sh
  scripts/wunder-devtools-ee.sh
  tests/unit/test_changelog_head_ref.py
Due: none

fix: fail closed for unsupported changelog events
  changelogs/fragments/li139-final-promotion-review.yml
  scripts/devtools-changelog-check.sh
  tests/unit/test_changelog_head_ref.py
Due: yamllint-ee, ansible-lint-ee

fix(ci): bind release merge identity
  .github/workflows/collection-ci.yml
  changelogs/fragments/li139-final-promotion-review.yml
  roles/forward_proxy/tasks/assert.yml
  scripts/devtools-changelog-check.sh
  scripts/resolve-changelog-head-ref.sh
  tests/unit/test_changelog_head_ref.py
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): preserve release push context
  .github/workflows/collection-ci.yml
  changelogs/fragments/li139-final-promotion-review.yml
  tests/unit/test_changelog_head_ref.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(ci): bind main promotion dispatch to controller
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(forward-proxy): close runtime convergence gaps
  changelogs/fragments/li139-forward-proxy-runtime-convergence.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): complete check-mode coverage
  docs/testing/role-coverage.md
  meta/role-coverage.yml
  roles/forward_proxy/tasks/enabled_apply.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(li139): converge final main review
  .github/workflows/copilot-review.yml
  changelogs/fragments/li139-final-main-review-convergence.yml
  molecule/forward-proxy-tiny/converge.yml
  molecule/forward-proxy-tiny/verify.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_forward_proxy_contracts.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li139): require protected develop controller
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li139): pin verifier handoff to caller revision
  .github/workflows/copilot-review.yml
  changelogs/fragments/li139-final-main-review-convergence.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li139): pin main verifier bootstrap revision
  .github/workflows/copilot-review.yml
  changelogs/fragments/li139-final-main-review-convergence.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li139): maintain exact main helper pin
  .github/workflows/copilot-review.yml
  changelogs/fragments/li139-final-main-review-convergence.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(li139): validate live main helper base
  .github/workflows/copilot-review.yml
  tests/unit/test_exact_revision_review.py
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(forward-proxy): revalidate runtime before rollback
  changelogs/fragments/li139-forward-proxy-runtime-boundary-revalidation.yml
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): reprove every rollback mutation
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/enabled_first_run_rollback.yml
  roles/forward_proxy/tasks/remove_owned_file.yml
  roles/forward_proxy/tasks/restore_managed_file.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(forward-proxy): bind absence proofs to mutations
  roles/forward_proxy/tasks/enabled_existing_rollback.yml
  roles/forward_proxy/tasks/remove_owned_file.yml
  roles/forward_proxy/tasks/restore_managed_file.yml
  roles/forward_proxy/tasks/transition.yml
  tests/unit/test_forward_proxy_contracts.py
Due: yamllint-ee, ansible-lint-ee

fix(release): bind publication validation to CI run
  .github/workflows/collection-publish.yml
  changelogs/fragments/li139-publication-ci-run-binding.yml
  tests/unit/test_security_publication_golden_path.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): add failed pre-tag recovery controller
  .github/workflows/release-back-sync.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): correct v3.4.0 metadata boundaries
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  plugins/modules/atomic_path.py
  plugins/modules/atomic_unlink.py
  tests/unit/test_li139_release_metadata.py
Due: yamllint-ee, ansible-lint-ee

fix(release): harden failed release recovery
  .github/workflows/release-back-sync.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): canonicalize recovery diff binding
  .github/workflows/release-back-sync.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind recovery fragments to receipt
  .github/workflows/release-back-sync.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): separate recovery dispatch inputs
  .github/workflows/release-back-sync.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): revalidate main before recovery PR
  .github/workflows/release-back-sync.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): use develop-approved recovery gate
  .github/workflows/release-back-sync.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(review): accept protected verifier topology
  .github/workflows/current-revision-rerun.yml
  tests/unit/test_exact_revision_review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): refresh exact review after recovery update
  .github/workflows/release-recovery-review-refresh.yml
  changelogs/fragments/li139-release-app-review-refresh.yml
  tests/unit/test_workflow_security.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint
